<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>

<span th:fragment="clients_managers_main_body" th:remove="tag">
    <form id="clients-managers-main-buttons" class="mb-2" hidden>
            <input name="mode" value="0" hidden>

            <div id="clients-managers-main-btn-large" class="d-none d-sm-block">
                 <button type="button" id="clients-managers-main-editbtn" class="btn btn-sm btn-dark" th:text="#{general.editbtn}" disabled>Edit</button>
                 <button type="button" id="clients-managers-main-cs-delete" class="btn btn-sm btn-dark" disabled data-toggle="tooltip" data-placement="bottom" title="CS Delete"><i class="fas fa-times"></i></button>
                 <button type="button" id="clients-managers-main-ops-delete" class="btn btn-sm btn-dark" disabled data-toggle="tooltip" data-placement="bottom" title="OPS Delete"><i class="fas fa-user-alt-slash"></i></button>
                 <button type="button" id="clients-managers-main-cnt-delete" class="btn btn-sm btn-dark" disabled data-toggle="tooltip" data-placement="bottom" title="Client User Delete"><i class="fas fa-user-times"></i></button>
                 <button type="button" id="clients-managers-main-link-edit" class="btn btn-sm btn-dark mr-2" disabled data-toggle="tooltip" data-placement="bottom" title="Sale All Link Edit"><i class="fas fa-users-cog"></i></button>

                 <button type="button" id="clients-managers-main-reload" class="btn btn-sm btn-primary"><i class="fas fa-sync-alt"></i></button>
                 <button type="button" id="clients-managers-main-filter" class="btn btn-sm btn-dark mr-2" disabled><i class="fas fa-search"></i></button>

                 <button type="button" id="clients-managers-main-select-all" class="btn btn-sm btn-dark" disabled><i class="fas fa-check-double"></i></button>
                 <button type="button" id="clients-managers-main-clear-all" class="btn btn-sm btn-dark" disabled><i class="fas fa-window-close"></i></button>
              </div>
              <div id="clients-managers-main-btn-small" class="d-block d-sm-none">
                 <button type="button" id="clients-managers-main-editbtn-sx" class="btn btn-sm btn-dark" th:text="#{general.editbtn}" disabled>Edit</button>
                 <button type="button" id="clients-managers-main-cs-delete-sx" class="btn btn-sm btn-dark" disabled><i class="fas fa-times"></i></button>
                 <button type="button" id="clients-managers-main-ops-delete-sx" class="btn btn-sm btn-dark" disabled><i class="fas fa-user-alt-slash"></i></button>
                 <button type="button" id="clients-managers-main-cnt-delete-sx" class="btn btn-sm btn-dark" disabled><i class="fas fa-user-times"></i></button>
                 <button type="button" id="clients-managers-main-link-edit-sx" class="btn btn-sm btn-dark mr-2" disabled><i class="fas fa-users-cog"></i></button>

                 <button type="button" id="clients-managers-main-reload-sx" class="btn btn-sm btn-primary"><i class="fas fa-sync-alt"></i></button>
                 <button type="button" id="clients-managers-main-filter-sx" class="btn btn-sm btn-dark" disabled><i class="fas fa-search"></i></button>

                 <button type="button" id="clients-managers-main-select-all-sx" class="btn btn-sm btn-dark" disabled><i class="fas fa-check-double"></i></button>
                 <button type="button" id="clients-managers-main-clear-all-sx" class="btn btn-sm btn-dark" disabled><i class="fas fa-window-close"></i></button>
              </div>
        </form>

    <div><table id="table-clients-managers-main" class="table table-striped table-sm table-bordered" cellspacing="0" style="width:100%;"></table></div>

    <form id="table-clients-managers-main-link-form" th:action="@{/clients}" method="post" target="_blank">
        <input name="cnt_id" hidden>
        <input name="clients_list_table_order_column" hidden>
        <input name="clients_list_table_order_type" hidden>
        <input name="clients_list_table_search" hidden>
        <input name="clients_list_table_pagelen" hidden>
        <input name="clients_list_table_page" hidden>
    </form>
</span>

<script th:fragment="cardscript" th:inline="javascript">
    var cntserl_id_show, cnt_id_show, cnt_name_show, cnt_class_id_show, cnt_class_name_show, cs_id_show, cs_sname_show, cs_color_show, ser_id_show, ser_name_show,
        cntserl_date_show, fin_date_show, lost_date_show, cs_user_link_id_show, cs_user_id_show, cs_user_name_show, cs_start_date_show, cs_end_date_show, cs_persent_show,
        ops_user_link_id_show, ops_user_id_show, ops_user_name_show, ops_persent_show, cnt_ser_status_id_show, cnt_ser_status_sname_show, cnt_ser_status_color_show, user_id_show,
        user_name_show, cs_check_show, ops_check_show, cnt_check_show;

    var cntserl_id_width, cnt_id_width, cnt_name_width, cnt_class_id_width, cnt_class_name_width, cs_id_width, cs_sname_width, cs_color_width, ser_id_width, ser_name_width,
        cntserl_date_width, fin_date_width, lost_date_width, cs_user_link_id_width, cs_user_id_width, cs_user_name_width, cs_start_date_width, cs_end_date_width, cs_persent_width,
        ops_user_link_id_width, ops_user_id_width, ops_user_name_width, ops_persent_width, cnt_ser_status_id_width, cnt_ser_status_sname_width, cnt_ser_status_color_width, user_id_width,
        user_name_width, cs_check_width, ops_check_width, cnt_check_width;

    var cntserl_id_class, cnt_id_class, cnt_name_class, cnt_class_id_class, cnt_class_name_class, cs_id_class, cs_sname_class, cs_color_class, ser_id_class, ser_name_class,
        cntserl_date_class, fin_date_class, lost_date_class, cs_user_link_id_class, cs_user_id_class, cs_user_name_class, cs_start_date_class, cs_end_date_class, cs_persent_class,
        ops_user_link_id_class, ops_user_id_class, ops_user_name_class, ops_persent_class, cnt_ser_status_id_class, cnt_ser_status_sname_class, cnt_ser_status_color_class, user_id_class,
        user_name_class, cs_check_class, ops_check_class, cnt_check_class;

    if(mobileScreenSize){
        vDomParam = "Blfrtp";
    }
    else if(smallScreenSize){
        vDomParam = "Blfrtip";
        cntserl_id_show = false;
        cntserl_id_width = "";
        cntserl_id_class = "";
        cnt_id_show = false;
        cnt_id_width = "";
        cnt_id_class = "";
        cnt_name_show = true;
        cnt_name_width = "27%";
        cnt_name_class = "small_size small_head_size small_footer_size head-center client_name_link th-link";
        cnt_class_id_show = false;
        cnt_class_id_width = "";
        cnt_class_id_class = "";
        cnt_class_name_show = true;
        cnt_class_name_width = "6%";
        cnt_class_name_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        user_id_show = false;
        user_id_width = "";
        user_id_class = "";
        user_name_show = true;
        user_name_width = "5%";
        user_name_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        cs_id_show = false;
        cs_id_width = "";
        cs_id_class = "";
        cs_sname_show = true;
        cs_sname_width = "5%";
        cs_sname_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        cs_color_show = false;
        cs_color_width = "";
        cs_color_class = "";
        ser_id_show = false;
        ser_id_width = "";
        ser_id_class = "";
        ser_name_show = true;
        ser_name_width = "5%";
        ser_name_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        cnt_ser_status_id_show = false;
        cnt_ser_status_id_width = "";
        cnt_ser_status_id_class = "";
        cnt_ser_status_sname_show = true;
        cnt_ser_status_sname_width = "5%";
        cnt_ser_status_sname_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        cnt_ser_status_color_show = false;
        cnt_ser_status_color_width = "";
        cnt_ser_status_color_class = "";
        cntserl_date_show = true;
        cntserl_date_width = "6%";
        cntserl_date_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        fin_date_show = true;
        fin_date_width = "6%";
        fin_date_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        lost_date_show = true;
        lost_date_width = "6%";
        lost_date_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        cs_user_link_id_show = false;
        cs_user_link_id_width = "";
        cs_user_link_id_class = "";
        cs_user_id_show = false;
        cs_user_id_width = "";
        cs_user_id_class = "";
        cs_user_name_show = true;
        cs_user_name_width = "6%";
        cs_user_name_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        cs_start_date_show = true;
        cs_start_date_width = "6%";
        cs_start_date_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        cs_end_date_show = true;
        cs_end_date_width = "6%";
        cs_end_date_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        cs_persent_show = true;
        cs_persent_width = "3%";
        cs_persent_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        ops_user_link_id_show = false;
        ops_user_link_id_width = "";
        ops_user_link_id_class = "";
        ops_user_id_show = false;
        ops_user_id_width = "";
        ops_user_id_class = "";
        ops_user_name_show = true;
        ops_user_name_width = "5%";
        ops_user_name_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        ops_persent_show = true;
        ops_persent_width = "3%";
        ops_persent_class = "extra_small_size extra_small_head_size extra_small_footer_size head-center text-center";
        cs_check_show = false;
        cs_check_width = "";
        cs_check_class = "";
        ops_check_show = false;
        ops_check_width = "";
        ops_check_class = "";
        cnt_check_show = false;
        cnt_check_width = "";
        cnt_check_class = "";
    }
    else{
        vDomParam = "Blfrtip";
        cntserl_id_show = false;
        cntserl_id_width = "";
        cntserl_id_class = "";
        cnt_id_show = false;
        cnt_id_width = "";
        cnt_id_class = "";
        cnt_name_show = true;
        cnt_name_width = "27%";
        cnt_name_class = "small_size small_head_size small_footer_size head-center client_name_link th-link";
        cnt_class_id_show = false;
        cnt_class_id_width = "";
        cnt_class_id_class = "";
        cnt_class_name_show = true;
        cnt_class_name_width = "5%";
        cnt_class_name_class = "small_size small_head_size small_footer_size head-center text-center";
        user_id_show = false;
        user_id_width = "";
        user_id_class = "";
        user_name_show = true;
        user_name_width = "5%";
        user_name_class = "small_size small_head_size small_footer_size head-center text-center";
        cs_id_show = false;
        cs_id_width = "";
        cs_id_class = "";
        cs_sname_show = true;
        cs_sname_width = "9%";
        cs_sname_class = "small_size small_head_size small_footer_size head-center text-center";
        cs_color_show = false;
        cs_color_width = "";
        cs_color_class = "";
        ser_id_show = false;
        ser_id_width = "";
        ser_id_class = "";
        ser_name_show = true;
        ser_name_width = "5%";
        ser_name_class = "small_size small_head_size small_footer_size head-center text-center";
        cnt_ser_status_id_show = false;
        cnt_ser_status_id_width = "";
        cnt_ser_status_id_class = "";
        cnt_ser_status_sname_show = true;
        cnt_ser_status_sname_width = "5%";
        cnt_ser_status_sname_class = "small_size small_head_size small_footer_size head-center text-center";
        cnt_ser_status_color_show = false;
        cnt_ser_status_color_width = "";
        cnt_ser_status_color_class = "";
        cntserl_date_show = true;
        cntserl_date_width = "6%";
        cntserl_date_class = "small_size small_head_size small_footer_size head-center text-center";
        fin_date_show = true;
        fin_date_width = "6%";
        fin_date_class = "small_size small_head_size small_footer_size head-center text-center";
        lost_date_show = true;
        lost_date_width = "6%";
        lost_date_class = "small_size small_head_size small_footer_size head-center text-center";
        cs_user_link_id_show = false;
        cs_user_link_id_width = "";
        cs_user_link_id_class = "";
        cs_user_id_show = false;
        cs_user_id_width = "";
        cs_user_id_class = "";
        cs_user_name_show = true;
        cs_user_name_width = "6%";
        cs_user_name_class = "small_size small_head_size small_footer_size head-center text-center";
        cs_start_date_show = true;
        cs_start_date_width = "6%";
        cs_start_date_class = "small_size small_head_size small_footer_size head-center text-center";
        cs_end_date_show = true;
        cs_end_date_width = "6%";
        cs_end_date_class = "small_size small_head_size small_footer_size head-center text-center";
        cs_persent_show = true;
        cs_persent_width = "3%";
        cs_persent_class = "small_size small_head_size small_footer_size head-center text-center";
        ops_user_link_id_show = false;
        ops_user_link_id_width = "";
        ops_user_link_id_class = "";
        ops_user_id_show = false;
        ops_user_id_width = "";
        ops_user_id_class = "";
        ops_user_name_show = true;
        ops_user_name_width = "7%";
        ops_user_name_class = "small_size small_head_size small_footer_size head-center text-center";
        ops_persent_show = true;
        ops_persent_width = "3%";
        ops_persent_class = "small_size small_head_size small_footer_size head-center text-center";
        cs_check_show = false;
        cs_check_width = "";
        cs_check_class = "";
        ops_check_show = false;
        ops_check_width = "";
        ops_check_class = "";
        cnt_check_show = false;
        cnt_check_width = "";
        cnt_check_class = "";
    }

    var vClientsManagersValue;
    vClientsManagersValue = {
        table : '#table-clients-managers-main',
        button_form: "#clients-managers-main-buttons",
        ajax : {
            "url": /*[[@{/clients_managers/clients_managers_main}]]*/ "clients_managers/clients_managers_main",
            "type": "post",
            "data": function ( d ) {
                d.req_cs_user_id = vClientsManagersValue.rowdata.req_cs_user_id;
                d.req_ops_user_id = vClientsManagersValue.rowdata.req_ops_user_id;
            }
        },
        key : "cntserl_id",
        switchControl : client_managers_main_switchControl,
        rowdata:{
            cntserl_id: null,
            cnt_id: null,
            cnt_name: null,
            ser_id: null,
            ser_name: null,
            cs_user_link_id: null,
            cs_user_id: null,
            cs_start_date: null,
            cs_end_date: null,
            cs_persent: null,
            ops_user_link_id: null,
            ops_user_id: null,
            ops_persent: null,
            cs_check: null,
            ops_check: null,
            cnt_check: null,

            req_cs_user_id: null,
            req_ops_user_id: null
        },
        ordering: true,
        order: [
            [2, "asc"]
        ],
        select_style: "multi",
        autoWidth: true,
        dom: vDomParam,
        createdRow: function(row, data, index) {
            $(row).css('background-color', data["cs_color"]);
        },
        columnDefs: [
            {"targets": [0], "width": cntserl_id_width, "className": cntserl_id_class, "visible": cntserl_id_show},
            {"targets": [1], "width": cnt_id_width, "className": cnt_id_class, "visible": cnt_id_show},
            {"targets": [2], "width": cnt_name_width, "className": cnt_name_class, "visible": cnt_name_show},
            {"targets": [3], "width": cnt_class_id_width, "className": cnt_class_id_class, "visible": cnt_class_id_show},
            {"targets": [4], "width": cnt_class_name_width, "className": cnt_class_name_class, "visible": cnt_class_name_show},
            {"targets": [5], "width": user_id_width, "className": user_id_class, "visible": user_id_show},
            {"targets": [6], "width": user_name_width, "className": user_name_class, "visible": user_name_show},
            {"targets": [7], "width": cs_id_width, "className": cs_id_class, "visible": cs_id_show},
            {"targets": [8], "width": cs_sname_width, "className": cs_sname_class, "visible": cs_sname_show},
            {"targets": [9], "width": cs_color_width, "className": cs_color_class, "visible": cs_color_show},
            {"targets": [10], "width": ser_id_width, "className": ser_id_class, "visible": ser_id_show},
            {"targets": [11], "width": ser_name_width, "className": ser_name_class, "visible": ser_name_show},
            {"targets": [12], "width": cnt_ser_status_id_width, "className": cnt_ser_status_id_class, "visible": cnt_ser_status_id_show},
            {"targets": [13], "width": cnt_ser_status_sname_width, "className": cnt_ser_status_sname_class, "visible": cnt_ser_status_sname_show},
            {"targets": [14], "width": cnt_ser_status_color_width, "className": cnt_ser_status_color_class, "visible": cnt_ser_status_color_show},
            {"targets": [15], "width": cntserl_date_width, "className": cntserl_date_class, "visible": cntserl_date_show, type: 'de_date'},
            {"targets": [16], "width": fin_date_width, "className": fin_date_class, "visible": fin_date_show, type: 'de_date'},
            {"targets": [17], "width": lost_date_width, "className": lost_date_class, "visible": lost_date_show, type: 'de_date'},
            {"targets": [18], "width": cs_user_link_id_width, "className": cs_user_link_id_class, "visible": cs_user_link_id_show},
            {"targets": [19], "width": cs_user_id_width, "className": cs_user_id_class, "visible": cs_user_id_show},
            {"targets": [20], "width": cs_user_name_width, "className": cs_user_name_class, "visible": cs_user_name_show},
            {"targets": [21], "width": cs_start_date_width, "className": cs_start_date_class, "visible": cs_start_date_show, type: 'de_date'},
            {"targets": [22], "width": cs_end_date_width, "className": cs_end_date_class, "visible": cs_end_date_show, type: 'de_date'},
            {"targets": [23], "width": cs_persent_width, "className": cs_persent_class, "visible": cs_persent_show},
            {"targets": [24], "width": ops_user_link_id_width, "className": ops_user_link_id_class, "visible": ops_user_link_id_show},
            {"targets": [25], "width": ops_user_id_width, "className": ops_user_id_class, "visible": ops_user_id_show},
            {"targets": [26], "width": ops_user_name_width, "className": ops_user_name_class, "visible": ops_user_name_show},
            {"targets": [27], "width": ops_persent_width, "className": ops_persent_class, "visible": ops_persent_show},
            {"targets": [28], "width": cs_check_width, "className": cs_check_class, "visible": cs_check_show},
            {"targets": [29], "width": ops_check_width, "className": ops_check_class, "visible": ops_check_show},
            {"targets": [30], "width": cnt_check_width, "className": cnt_check_class, "visible": cnt_check_show}
        ],
        columns : [
            /*0*/{"title": /*[[#{clients_managers.main.cntserl_id}]]*/ "cntserl_id", "data": "cntserl_id"},
            /*1*/{"title": /*[[#{clients_managers.main.cnt_id}]]*/ "cnt_class_id", "data": "cnt_id"},
            /*2*/{"title": /*[[#{clients_managers.main.cnt_name}]]*/ "cnt_name", "data": "cnt_name"},
            /*3*/{"title": /*[[#{clients_managers.main.cnt_class_id}]]*/ "cnt_class_id", "data": "cnt_class_id"},
            /*4*/{"title": /*[[#{clients_managers.main.cnt_class_name}]]*/ "cnt_class_name", "data": "cnt_class_name"},
            /*5*/{"title": /*[[#{clients_managers.main.user_id}]]*/ "user_id", "data": "user_id"},
            /*6*/{"title": /*[[#{clients_managers.main.user_name}]]*/ "user_name", "data": "user_name"},
            /*7*/{"title": /*[[#{clients_managers.main.cs_id}]]*/ "cs_id", "data": "cs_id"},
            /*8*/{"title": /*[[#{clients_managers.main.cs_sname}]]*/ "cs_sname", "data": "cs_sname"},
            /*9*/{"title": /*[[#{clients_managers.main.cs_color}]]*/ "cs_color", "data": "cs_color"},
            /*10*/{"title": /*[[#{clients_managers.main.ser_id}]]*/ "ser_id", "data": "ser_id"},
            /*11*/{"title": /*[[#{clients_managers.main.ser_name}]]*/ "ser_name", "data": "ser_name"},
            /*12*/{"title": /*[[#{clients_managers.main.cnt_ser_status_id}]]*/ "cnt_ser_status_id", "data": "cnt_ser_status_id"},
            /*13*/{"title": /*[[#{clients_managers.main.cnt_ser_status_sname}]]*/ "cnt_ser_status_sname", "data": "cnt_ser_status_sname"},
            /*14*/{"title": /*[[#{clients_managers.main.cnt_ser_status_color}]]*/ "cnt_ser_status_color", "data": "cnt_ser_status_color"},
            /*15*/{"title": /*[[#{clients_managers.main.cntserl_date}]]*/ "cntserl_date", "data": "cntserl_date"},
            /*16*/{"title": /*[[#{clients_managers.main.fin_date}]]*/ "fin_date", "data": "fin_date"},
            /*17*/{"title": /*[[#{clients_managers.main.lost_date}]]*/ "lost_date", "data": "lost_date"},
            /*18*/{"title": /*[[#{clients_managers.main.cs_user_link_id}]]*/ "cs_user_link_id", "data": "cs_user_link_id"},
            /*19*/{"title": /*[[#{clients_managers.main.cs_user_id}]]*/ "cs_user_id", "data": "cs_user_id"},
            /*20*/{"title": /*[[#{clients_managers.main.cs_user_name}]]*/ "cs_user_name", "data": "cs_user_name"},
            /*21*/{"title": /*[[#{clients_managers.main.cs_start_date}]]*/ "cs_start_date", "data": "cs_start_date"},
            /*22*/{"title": /*[[#{clients_managers.main.cs_end_date}]]*/ "cs_end_date", "data": "cs_end_date"},
            /*23*/{"title": /*[[#{clients_managers.main.cs_persent}]]*/ "cs_persent", "data": "cs_persent"},
            /*24*/{"title": /*[[#{clients_managers.main.ops_user_link_id}]]*/ "ops_user_link_id", "data": "ops_user_link_id"},
            /*25*/{"title": /*[[#{clients_managers.main.ops_user_id}]]*/ "ops_user_id", "data": "ops_user_id"},
            /*26*/{"title": /*[[#{clients_managers.main.ops_user_name}]]*/ "ops_user_name", "data": "ops_user_name"},
            /*27*/{"title": /*[[#{clients_managers.main.ops_persent}]]*/ "ops_persent", "data": "ops_persent"},
            /*28*/{"title": /*[[#{clients_managers.main.cs_check}]]*/ "cs_check", "data": "cs_check"},
            /*29*/{"title": /*[[#{clients_managers.main.ops_check}]]*/ "ops_check", "data": "ops_check"},
            /*30*/{"title": /*[[#{clients_managers.main.cnt_check}]]*/ "cnt_check", "data": "cnt_check"}
        ],
        pageLength: 25,
        copy_button: true,
        excel_button: true,
        pdf_button: true,
        print_button: true
    };

    function client_managers_main_switchControl(){
        if(vClientsManagersValue.rowdata.cntserl_id != null) {
            if(RoleAllAdmin){
                if($(vClientsManagersValue.table).DataTable().rows({ selected: true }).count() === 1
                && (vClientsManagersValue.rowdata.cs_check === 1 || vClientsManagersValue.rowdata.ops_check === 1 || vClientsManagersValue.rowdata.cnt_check === 1)
                ) {
                    $("#clients-managers-main-editbtn").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
                    $("#clients-managers-main-editbtn-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
                }
                else{
                    $("#clients-managers-main-editbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
                    $("#clients-managers-main-editbtn-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
                }

                $("#clients-managers-main-cs-delete").prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
                $("#clients-managers-main-cs-delete-sx").prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');

                $("#clients-managers-main-ops-delete").prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
                $("#clients-managers-main-ops-delete-sx").prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');

                $("#clients-managers-main-cnt-delete").prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
                $("#clients-managers-main-cnt-delete-sx").prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
            }
            else{
                $("#clients-managers-main-editbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
                $("#clients-managers-main-editbtn-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');

                $("#clients-managers-main-cs-delete").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
                $("#clients-managers-main-cs-delete-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');

                $("#clients-managers-main-ops-delete").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
                $("#clients-managers-main-ops-delete-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');

                $("#clients-managers-main-cnt-delete").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
                $("#clients-managers-main-cnt-delete-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
            }
        }
        else{
            if(RoleAllAdmin) {
                if ($(vClientsManagersValue.table).DataTable().rows({selected: true}).count() === 0) {
                    $("#clients-managers-main-editbtn").prop('disabled', true).addClass('btn-dark').removeClass('btn-primary');
                    $("#clients-managers-main-editbtn-sx").prop('disabled', true).addClass('btn-dark').removeClass('btn-primary');

                    $("#clients-managers-main-cs-delete").prop('disabled', true).addClass('btn-dark').removeClass('btn-danger');
                    $("#clients-managers-main-cs-delete-sx").prop('disabled', true).addClass('btn-dark').removeClass('btn-danger');

                    $("#clients-managers-main-ops-delete").prop('disabled', true).addClass('btn-dark').removeClass('btn-danger');
                    $("#clients-managers-main-ops-delete-sx").prop('disabled', true).addClass('btn-dark').removeClass('btn-danger');

                    $("#clients-managers-main-cnt-delete").prop('disabled', true).addClass('btn-dark').removeClass('btn-danger');
                    $("#clients-managers-main-cnt-delete-sx").prop('disabled', true).addClass('btn-dark').removeClass('btn-danger');

                } else if ($(vClientsManagersValue.table).DataTable().rows({selected: true}).count() === 1) {
                    $("#clients-managers-main-editbtn").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
                    $("#clients-managers-main-editbtn-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');

                    $("#clients-managers-main-cs-delete").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');
                    $("#clients-managers-main-cs-delete-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');

                    $("#clients-managers-main-ops-delete").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');
                    $("#clients-managers-main-ops-delete-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');

                    $("#clients-managers-main-cnt-delete").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');
                    $("#clients-managers-main-cnt-delete-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');

                    var selectIndex = $(vClientsManagersValue.table).DataTable().rows({ selected: true })[0][0];
                    var rowData = $(vClientsManagersValue.table).DataTable().row(selectIndex).data();
                    Object.keys(vClientsManagersValue.rowdata).forEach(function(index) {
                        vClientsManagersValue.rowdata[index] = rowData[index]
                    });
                } else if ($(vClientsManagersValue.table).DataTable().rows({selected: true}).count() > 1) {
                    $("#clients-managers-main-editbtn").prop('disabled', true).addClass('btn-dark').removeClass('btn-primary');
                    $("#clients-managers-main-editbtn-sx").prop('disabled', true).addClass('btn-dark').removeClass('btn-primary');

                    $("#clients-managers-main-cs-delete").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');
                    $("#clients-managers-main-cs-delete-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');

                    $("#clients-managers-main-ops-delete").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');
                    $("#clients-managers-main-ops-delete-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');

                    $("#clients-managers-main-cnt-delete").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');
                    $("#clients-managers-main-cnt-delete-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');
                }
            }
        }
    }

    function ClientsManagersReload(){
        vClientsManagersValue.rowdata.req_cs_user_id = $("#clients_managers_filter_cs_user_id").val();
        vClientsManagersValue.rowdata.req_ops_user_id = $("#clients_managers_filter_ops_user_id").val();

        $(vClientsManagersValue.table).DataTable().ajax.reload(null, false);
    }

    //Reload Button
    $('#clients-managers-main-reload').click(function(){
        ClientsManagersReload();
    });

    //Reload Button SX
    $('#clients-managers-main-reload-sx').click(function(){
        ClientsManagersReload();
    });

    function ClientsManagersCsDelete(){
        if($(vClientsManagersValue.table).DataTable().rows({selected: true}).count() > 0){
            Object.keys($(vClientsManagersValue.table).DataTable().rows({selected: true})[0]).forEach(function(index) {
                var RowID = $(vClientsManagersValue.table).DataTable().rows({selected: true})[0][index];
                var UserLinkID = $(vClientsManagersValue.table).DataTable().row(RowID).data().cs_user_link_id;
                if(UserLinkID !== null){
                    $.ajax({
                        url: /*[[ @{/clients_managers/cs_main_del} ]]*/ "/clients_managers/cs_main_del",
                        type: 'POST',
                        data: {
                            "cs_user_link_id": UserLinkID
                        }
                    });
                }
            });

            vClientsManagersValue.rowdata.req_cs_user_id = $("#clients_managers_filter_cs_user_id").val();
            vClientsManagersValue.rowdata.req_ops_user_id = $("#clients_managers_filter_ops_user_id").val();
            $(vClientsManagersValue.table).DataTable().ajax.reload(null, false);
        }
    }

    //CS Del Button
    $('#clients-managers-main-cs-delete').click(function(){
        ClientsManagersCsDelete();
    });

    //CS Del Button SX
    $('#clients-managers-main-cs-delete-sx').click(function(){
        ClientsManagersCsDelete();
    });

    function ClientsManagersOPSDelete(){
        if($(vClientsManagersValue.table).DataTable().rows({selected: true}).count() > 0){
            Object.keys($(vClientsManagersValue.table).DataTable().rows({selected: true})[0]).forEach(function(index) {
                var RowID = $(vClientsManagersValue.table).DataTable().rows({selected: true})[0][index];
                var UserLinkID = $(vClientsManagersValue.table).DataTable().row(RowID).data().ops_user_link_id;
                if(UserLinkID !== null){
                    $.ajax({
                        url: /*[[ @{/clients_managers/ops_main_del} ]]*/ "/clients_managers/ops_main_del",
                        type: 'POST',
                        data: {
                            "ops_user_link_id": UserLinkID
                        }
                    });
                }
            });

            vClientsManagersValue.rowdata.req_cs_user_id = $("#clients_managers_filter_cs_user_id").val();
            vClientsManagersValue.rowdata.req_ops_user_id = $("#clients_managers_filter_ops_user_id").val();
            $(vClientsManagersValue.table).DataTable().ajax.reload(null, false);
        }
    }

    //CS Del Button
    $('#clients-managers-main-ops-delete').click(function(){
        ClientsManagersOPSDelete();
    });

    //CS Del Button SX
    $('#clients-managers-main-ops-delete-sx').click(function(){
        ClientsManagersOPSDelete();
    });

    function ClientsManagersCNTDelete(){
        if($(vClientsManagersValue.table).DataTable().rows({selected: true}).count() > 0){
            Object.keys($(vClientsManagersValue.table).DataTable().rows({selected: true})[0]).forEach(function(index) {
                var RowID = $(vClientsManagersValue.table).DataTable().rows({selected: true})[0][index];
                var CNTID = $(vClientsManagersValue.table).DataTable().row(RowID).data().cnt_id;
                if(CNTID !== null){
                    $.ajax({
                        url: /*[[ @{/clients_managers/cnt_main_del} ]]*/ "/clients_managers/cnt_main_del",
                        type: 'POST',
                        data: {
                            "cnt_id": CNTID
                        }
                    });
                }
            });

            vClientsManagersValue.rowdata.req_cs_user_id = $("#clients_managers_filter_cs_user_id").val();
            vClientsManagersValue.rowdata.req_ops_user_id = $("#clients_managers_filter_ops_user_id").val();
            $(vClientsManagersValue.table).DataTable().ajax.reload(null, false);
        }
    }

    //CS Del Button
    $('#clients-managers-main-cnt-delete').click(function(){
        ClientsManagersCNTDelete();
    });

    //CS Del Button SX
    $('#clients-managers-main-cnt-delete-sx').click(function(){
        ClientsManagersCNTDelete();
    });

    //Edit Button
    $('#clients-managers-main-editbtn').click(function(){
        fill_clients_managers_main_cs_modal_detail(1);
    });

    //Edit Button
    $('#clients-managers-main-editbtn-sx').click(function(){
        fill_clients_managers_main_cs_modal_detail(1);
    });

    $(vClientsManagersValue.table).on('dblclick', '.client_name_link', function (e) {
        let selectedRowNameLink = this._DT_CellIndex.row;
        var currentTableNameLink = $(vClientsManagersValue.table).DataTable();

        $("#table-clients-managers-main-link-form input[name=cnt_id]").val(currentTableNameLink.row(selectedRowNameLink).data().cnt_id);

        $("#table-clients-managers-main-link-form input[name=clients_list_table_order_column]").val(0);
        $("#table-clients-managers-main-link-form input[name=clients_list_table_order_type]").val("desc");
        $("#table-clients-managers-main-link-form input[name=clients_list_table_search]").val(currentTableNameLink.row(selectedRowNameLink).data().cnt_name);
        $("#table-clients-managers-main-link-form input[name=clients_list_table_pagelen]").val(25);
        $("#table-clients-managers-main-link-form input[name=clients_list_table_page]").val(0);
        $("#table-clients-managers-main-link-form").submit();
    });

    function deSelectAllRow(){
        let currentdeSelectAllRow = $(vClientsManagersValue.table).DataTable();
        currentdeSelectAllRow.rows({ selected: true }).deselect();
    }

    //Deselect Button
    $('#clients-managers-main-clear-all').click(function(){
        deSelectAllRow();
    });

    //Deselect Button SX
    $('#clients-managers-main-clear-all-sx').click(function(){
        deSelectAllRow();
    });

    //Select All Function
    function selectAllRows(){
        let currentSelectAllRows = $(vClientsManagersValue.table).DataTable();
        currentSelectAllRows.rows({ selected: true }).deselect();
        currentSelectAllRows.rows(':visible').select();
    }

    $('#clients-managers-main-select-all').click(function(){
        selectAllRows()
    });

    $('#clients-managers-main-select-all-sx').click(function(){
        selectAllRows()
    });

    if(RoleAllAdmin){
        $('#clients-managers-main-link-edit').prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
        $('#clients-managers-main-link-edit-sx').prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
    }
    else{
        $('#clients-managers-main-link-edit').prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
        $('#clients-managers-main-link-edit-sx').prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
    }

    //Sale Link Edit Button
    $('#clients-managers-main-link-edit').click(function(){
        fill_clients_managers_main_link_modal_detail(1);
    });

    //Sale Link Edit Button SX
    $('#clients-managers-main-link-edit-sx').click(function(){
        fill_clients_managers_main_link_modal_detail(1);
    });

    $(document).ready(function(){
        recreateDataTable(vClientsManagersValue);

        if(RoleAllAdmin){
            $("#clients-managers-main-select-all").prop('disabled',false).removeClass('btn-dark').addClass('btn-info');
            $("#clients-managers-main-select-all-sx").prop('disabled',false).removeClass('btn-dark').addClass('btn-info');

            $("#clients-managers-main-clear-all").prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
            $("#clients-managers-main-clear-all-sx").prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
        }
        else{
            $("#clients-managers-main-select-all").prop('disabled',true).addClass('btn-dark').removeClass('btn-info');
            $("#clients-managers-main-select-all-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-info');

            $("#clients-managers-main-clear-all").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
            $("#clients-managers-main-clear-all-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
        }
    });
</script>

</body>
</html>