<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="clients_actions_link_body" th:remove="tag">
            <button type="submit" id="client-actions-link-requestbtn" form="client-actions-link-request-form" class="btn btn-primary" th:text="#{requests.header}">Requests</button>
            <button type="submit" id="client-actions-link-tenderbtn" form="client-actions-link-tender-form" class="btn btn-primary" th:text="#{tenders.caption}">Tenders</button>
            <button type="submit" id="client-actions-link-financebtn" form="client-actions-link-finance-form" class="btn btn-primary" th:text="#{finance.caption}">Finance</button>
            <button type="submit" id="client-actions-link-docbtn" form="client-actions-link-docs-form" class="btn btn-primary" th:text="#{client.docs.caption}">Finance</button>

        <form id="client-actions-link-request-form" class="mb-2" th:action="@{/client_requests}" method="post" hidden>
            <input type="hidden" name="cnt_id" id="request_cnt_id">
            <input type="hidden" name="cnt_name" id="request_cnt_name">
            <input type="hidden" name="cnt_user_access" id="request_cnt_user_access">

            <input type="hidden" name="clients_list_table_order_column">
            <input type="hidden" name="clients_list_table_order_type"> 
            <input type="hidden" name="clients_list_table_search">
            <input type="hidden" name="clients_list_table_pagelen">
            <input type="hidden" name="clients_list_table_page">
        </form>

        <form id="client-actions-link-tender-form" class="mb-2" th:action="@{/client_tenders}" method="post" hidden>
            <input type="hidden" name="cnt_id" id="tender_cnt_id">
            <input type="hidden" name="cnt_name" id="tender_cnt_name">
            <input type="hidden" name="cnt_user_access" id="tender_cnt_user_access">

            <input type="hidden" name="clients_list_table_order_column">
            <input type="hidden" name="clients_list_table_order_type">
            <input type="hidden" name="clients_list_table_search">
            <input type="hidden" name="clients_list_table_pagelen">
            <input type="hidden" name="clients_list_table_page">
        </form>

        <form id="client-actions-link-finance-form" class="mb-2" th:action="@{/client_finance}" method="post" hidden>
            <input type="hidden" name="cnt_id" id="finance_cnt_id">
            <input type="hidden" name="cnt_name" id="finance_cnt_name">
            <input type="hidden" name="cnt_user_access" id="finance_cnt_user_access">

            <input type="hidden" name="clients_list_table_order_column">
            <input type="hidden" name="clients_list_table_order_type">
            <input type="hidden" name="clients_list_table_search">
            <input type="hidden" name="clients_list_table_pagelen">
            <input type="hidden" name="clients_list_table_page">
        </form>

        <form id="client-actions-link-docs-form" class="mb-2" th:action="@{/client_docs}" method="post" hidden>
            <input type="hidden" name="cnt_id" id="docs_cnt_id">
            <input type="hidden" name="cnt_name" id="docs_cnt_name">
            <input type="hidden" name="cnt_user_access" id="docs_cnt_user_access">

            <input type="hidden" name="clients_list_table_order_column">
            <input type="hidden" name="clients_list_table_order_type">
            <input type="hidden" name="clients_list_table_search">
            <input type="hidden" name="clients_list_table_pagelen">
            <input type="hidden" name="clients_list_table_page">
        </form>
</span>

<script th:fragment="cardscript" th:inline="javascript">
    $('#client-actions-link-request-form').submit(function() {
        $("#client-actions-link-request-form input[name=clients_list_table_order_column]").val($('#clients_list_table_order_column').val());
        $("#client-actions-link-request-form input[name=clients_list_table_order_type]").val($('#clients_list_table_order_type').val());
        $("#client-actions-link-request-form input[name=clients_list_table_search]").val($('#clients_list_table_search').val());
        $("#client-actions-link-request-form input[name=clients_list_table_pagelen]").val($('#clients_list_table_pagelen').val());
        $("#client-actions-link-request-form input[name=clients_list_table_page]").val($('#clients_list_table_page').val());
    });

    $('#client-actions-link-tender-form').submit(function() {
        $("#client-actions-link-tender-form input[name=clients_list_table_order_column]").val($('#clients_list_table_order_column').val());
        $("#client-actions-link-tender-form input[name=clients_list_table_order_type]").val($('#clients_list_table_order_type').val());
        $("#client-actions-link-tender-form input[name=clients_list_table_search]").val($('#clients_list_table_search').val());
        $("#client-actions-link-tender-form input[name=clients_list_table_pagelen]").val($('#clients_list_table_pagelen').val());
        $("#client-actions-link-tender-form input[name=clients_list_table_page]").val($('#clients_list_table_page').val());
    });

    $('#client-actions-link-finance-form').submit(function() {
        $("#client-actions-link-finance-form input[name=clients_list_table_order_column]").val($('#clients_list_table_order_column').val());
        $("#client-actions-link-finance-form input[name=clients_list_table_order_type]").val($('#clients_list_table_order_type').val());
        $("#client-actions-link-finance-form input[name=clients_list_table_search]").val($('#clients_list_table_search').val());
        $("#client-actions-link-finance-form input[name=clients_list_table_pagelen]").val($('#clients_list_table_pagelen').val());
        $("#client-actions-link-finance-form input[name=clients_list_table_page]").val($('#clients_list_table_page').val());
    });

    $('#client-actions-link-docs-form').submit(function() {
        $("#client-actions-link-docs-form input[name=clients_list_table_order_column]").val($('#clients_list_table_order_column').val());
        $("#client-actions-link-docs-form input[name=clients_list_table_order_type]").val($('#clients_list_table_order_type').val());
        $("#client-actions-link-docs-form input[name=clients_list_table_search]").val($('#clients_list_table_search').val());
        $("#client-actions-link-docs-form input[name=clients_list_table_pagelen]").val($('#clients_list_table_pagelen').val());
        $("#client-actions-link-docs-form input[name=clients_list_table_page]").val($('#clients_list_table_page').val());
    });
</script>
</body>
</html>