<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="report_tms_trans_markup_detail_body" th:remove="tag">
        <div><table id="table-report-tms-trans-markup-detail" class="table table-striped table-sm table-bordered" cellspacing="0" style="width:100%;"></table></div>
</span>

<script th:fragment="cardscript" th:inline="javascript">
        var cnt_id_width, cnt_name_width, user_id_width, user_surname_width, clm_count_width, client_sum_width, costs_sum_width, markup_sum_width, result_width, result_color_width, empty_column_width;
        var cnt_id_class, cnt_name_class, user_id_class, user_surname_class, clm_count_class, client_sum_class, costs_sum_class, markup_sum_class, result_class, result_color_class, empty_column_class;

    var smallScreenSize = window.screen.width > 1024 && window.screen.height <= 768;
    var mobileScreenSize = window.screen.width < 1024 && window.screen.height < 768;

        if(mobileScreenSize){
                vDomParam = "Blfrtp";
        }
        else if(smallScreenSize){
                vDomParam = "Blfrtip";

                cnt_id_width = "5%";
                cnt_id_class = "small_size small_head_size small_footer_size";
                cnt_name_width = "35%";
                cnt_name_class = "small_size small_head_size small_footer_size";
                user_id_width = "";
                user_id_class = "none";
                user_surname_width = "21%";
                user_surname_class = "small_size small_head_size small_footer_size";
                clm_count_width = "5%";
                clm_count_class = "small_size small_head_size small_footer_size text-center";
                client_sum_width = "8%";
                client_sum_class = "small_size small_head_size small_footer_size text-center";
                costs_sum_width = "8%";
                costs_sum_class = "small_size small_head_size small_footer_size text-center";
                result_width = "8%";
                result_class = "small_size small_head_size small_footer_size text-center";
                result_color_width = "";
                result_color_class = "none";
                markup_sum_width = "5%";
                markup_sum_class = "small_size small_head_size small_footer_size text-center";
                empty_column_width = "20%";
                empty_column_class = "small_size small_head_size small_footer_size text-center";
        }
        else{
                vDomParam = "Blfrtip";

                cnt_id_width = "5%";
                cnt_id_class = "";
                cnt_name_width = "28%";
                cnt_name_class = "";
                user_id_width = "";
                user_id_class = "none";
                user_surname_width = "17%";
                user_surname_class = "";
                clm_count_width = "5%";
                clm_count_class = "text-center";
                client_sum_width = "8%";
                client_sum_class = "text-center";
                costs_sum_width = "8%";
                costs_sum_class = "text-center";
                result_width = "8%";
                result_class = "text-center";
                result_color_width = "";
                result_color_class = "none";
                markup_sum_width = "5%";
                markup_sum_class = "text-center";
                empty_column_width = "16%";
                empty_column_class = "text-center";
        }

    var vReportTMSTransMarkupDetailValue;
    vReportTMSTransMarkupDetailValue = {
        table : '#table-report-tms-trans-markup-detail',
        button_form: "#table-report-tms-trans-markup-buttons",
        ajax : {
            "url": /*[[@{/report_tms_trans_markup/get_detail_table}]]*/ "report_tms_trans_markup/get_detail_table",
            "type": "post",
            "data": function ( d ) {
                d.start_date = vReportTMSTransMarkupDetailValue.rowdata.start_date;
                d.end_date = vReportTMSTransMarkupDetailValue.rowdata.end_date;
                d.req_cnt_id = vReportTMSTransMarkupDetailValue.rowdata.req_cnt_id;
                d.req_user_id = vReportTMSTransMarkupDetailValue.rowdata.req_user_id;
            }
        },
        key : "cnt_id",
        switchControl : report_tms_trans_markup_detail_switchControl,
        rowdata:{
            cnt_id: null,
            start_date: null,
            end_date: null,
            req_cnt_id: null,
            ser_id: null,
            req_id: null
        },
        ordering: true,
        order: [
            [7, "desc"]
        ],

        dom: 'Blfrtip',
        createdRow: function(row, data, index) {
            $(row).find('td:eq(5)').css('background-color', data["result_color"]);
            $(row).find('td:eq(6)').css('background-color', data["result_color"]);
            $(row).find('td:eq(7)').css('background-color', data["result_color"]);
            $(row).find('td:eq(9)').css('background-color', data["result_color"]);
            if(data["cnt_id"] === 0){
                $(row).css('background-color','#d5e1df');
                $(row).addClass("font-weight-bold");
            }
        },
        columnDefs: [
            { "targets": [4],  render: $.fn.dataTable.render.number( '\ ', '.', 0, '' )},
            { "targets": [5,6,7,9],  render: $.fn.dataTable.render.number( '\ ', '.', 2, '' )}
        ],
        columns : [
                /*0*/{"title": /*[[#{report_tms_trans_markup.detail.cnt_id}]]*/ "cnt_id", "data": "cnt_id", "width": cnt_id_width, "className": cnt_id_class},
                /*1*/{"title": /*[[#{report_tms_trans_markup.detail.cnt_name}]]*/ "cnt_name", "data": "cnt_name", "width": cnt_name_width, "className": cnt_name_class},
                /*2*/{"title": /*[[#{report_tms_trans_markup.detail.user_id}]]*/ "user_id", "data": "user_id", "width": user_id_width, "className": user_id_class},
                /*3*/{"title": /*[[#{report_tms_trans_markup.detail.user_surname}]]*/ "user_surname", "data": "user_surname", "width": user_surname_width, "className": user_surname_class},
                /*4*/{"title": /*[[#{report_tms_trans_markup.detail.clm_count}]]*/ "clm_count", "data": "clm_count", "width": clm_count_width, "className": clm_count_class},
                /*5*/{"title": /*[[#{report_tms_trans_markup.detail.credit}]]*/ "client_sum", "data": "client_sum", "width": client_sum_width, "className": client_sum_class},
                /*6*/{"title": /*[[#{report_tms_trans_markup.detail.debit}]]*/ "costs_sum", "data": "costs_sum", "width": costs_sum_width, "className": costs_sum_class},
                /*7*/{"title": /*[[#{report_tms_trans_markup.detail.result}]]*/ "result", "data": "result", "width": result_width, "className": result_class},
                /*8*/{"title": /*[[#{report_tms_trans_markup.detail.result_color}]]*/ "result_color", "data": "result_color", "width": result_color_width, "className": result_color_class},
                /*9*/{"title": /*[[#{report_tms_trans_markup.detail.markup_sum}]]*/ "markup_sum", "data": "markup_sum", "width": markup_sum_width, "className": markup_sum_class},
                /*10*/{"title": /*[[#{report_tms_trans_markup.detail.empty_column}]]*/ "empty_column", "data": "empty_column", "width": empty_column_width, "className": empty_column_class}
        ],
        pageLength: 25,
        copy_button: true,
        excel_button: true,
        pdf_button: true,
        print_button: true
    };

    function report_tms_trans_markup_detail_switchControl(){
    }

    $('.report_tms_trans_markup_detail_link_control').on('click', function (){
        $("#report-tms-trans-markup-detail-link-form input[name=req_id]").val(vReportTMSTransMarkupDetailValue.rowdata.req_id);

        $("#report-tms-trans-markup-detail-link-form input[name=tenders_list_table_order_column]").val(0);
        $("#report-tms-trans-markup-detail-link-form input[name=tenders_list_table_order_type]").val("desc");
        $("#report-tms-trans-markup-detail-link-form input[name=tenders_list_table_search]").val(vReportTMSTransMarkupDetailValue.rowdata.req_id);
        $("#report-tms-trans-markup-detail-link-form input[name=tenders_list_table_pagelen]").val(25);
        $("#report-tms-trans-markup-detail-link-form input[name=tenders_list_table_page]").val(0);
    });

    $('.positions_btn_control').on('click', function (){
        $("#positions-detail input[name=mode]").val($(this).attr("mode"));
    });

    $(document).ready(function(){
        vReportTMSTransMarkupDetailValue.rowdata.start_date = null;
        vReportTMSTransMarkupDetailValue.rowdata.end_date = null;
        vReportTMSTransMarkupDetailValue.rowdata.req_cnt_id = null;
        vReportTMSTransMarkupDetailValue.rowdata.req_user_id = null;

        recreateDataTable(vReportTMSTransMarkupDetailValue);
    });
</script>

</body>
</html>