<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="dep_kpi_facts_calc_month_06_body" th:remove="tag">
    <div id="table-dep-kpi-facts-calc-month-06-buttons">
    </div>
        <div><table id="table-dep-kpi-facts-calc-month-06" class="table table-striped table-sm table-bordered" cellspacing="0" style="width:100%;"></table></div>
</span>

<script th:fragment="cardscript" th:inline="javascript">
    var currentMonth06 = 6;

    var rn_id_width, user_kpi_type_id_width, user_kpi_type_name_width, kpirupl_plan_width, kpirupl_fact_width, kpirupl_persent_width, kpirupl_malus_width, kpirupl_finance_width, kpirupl_colour_width;
    var rn_id_class, user_kpi_type_id_class, user_kpi_type_name_class, kpirupl_plan_class, kpirupl_fact_class, kpirupl_persent_class, kpirupl_malus_class, kpirupl_finance_class, kpirupl_colour_class;

    if(mobileScreenSize){
        vDomParam = "Blfrtp";
    }
    else if(smallScreenSize){
        vDomParam = "Blfrtip";
        rn_id_width = "";
        rn_id_class = "none";
        user_kpi_type_id_width = "";
        user_kpi_type_id_class = "none";
        user_kpi_type_name_width = "40%";
        user_kpi_type_name_class = "small_size small_head_size small_footer_size";
        kpirupl_plan_width = "15%";
        kpirupl_plan_class = "small_size small_head_size small_footer_size text-center";
        kpirupl_fact_width = "15%";
        kpirupl_fact_class = "small_size small_head_size small_footer_size text-center";
        kpirupl_persent_width = "10%";
        kpirupl_persent_class = "small_size small_head_size small_footer_size text-center";
        kpirupl_malus_width = "10%";
        kpirupl_malus_class = "small_size small_head_size small_footer_size text-center";
        kpirupl_finance_width = "10%";
        kpirupl_finance_class = "small_size small_head_size small_footer_size text-center";
        kpirupl_colour_width = "";
        kpirupl_colour_class = "none";
    }
    else{
        vDomParam = "Blfrtip";
        rn_id_width = "";
        rn_id_class = "none";
        user_kpi_type_id_width = "";
        user_kpi_type_id_class = "none";
        user_kpi_type_name_width = "40%";
        user_kpi_type_name_class = "";
        kpirupl_plan_width = "15%";
        kpirupl_plan_class = "text-center";
        kpirupl_fact_width = "15%";
        kpirupl_fact_class = "text-center";
        kpirupl_persent_width = "10%";
        kpirupl_persent_class = "text-center";
        kpirupl_malus_width = "10%";
        kpirupl_malus_class = "text-center";
        kpirupl_finance_width = "10%";
        kpirupl_finance_class = "text-center";
        kpirupl_colour_width = "";
        kpirupl_colour_class = "none";
    }

    var vDepKPIFactCalcMonth06Value;
    vDepKPIFactCalcMonth06Value = {
        table : '#table-dep-kpi-facts-calc-month-06',
        button_form: (mobileScreenSize) ? null : "#table-dep-kpi-facts-calc-month-06-buttons",
        ajax : {
            "url": /*[[@{/dep_kpi_facts/get_calc_table}]]*/ "dep_kpi_facts/get_calc_table",
            "type": "post",
            "data": function ( d ) {
                d.dep_kpi_user_id = vDepKPIFactCalcMonth06Value.rowdata.dep_kpi_user_id;
                d.dep_kpi_facts_year = vDepKPIFactCalcMonth06Value.rowdata.dep_kpi_facts_year;
                d.dep_kpi_facts_month = currentMonth06;
                d.dep_id = vDepKPIFactCalcMonth06Value.rowdata.dep_id;
            }
        },
        key : "user_kpi_type_id",
        switchControl : dep_kpi_facts_calc_month_06_switchControl,
        rowdata:{
            user_kpi_type_id: null,
            dep_id: null
        },
        ordering: true,
        order: [
            [0, "asc"]
        ],

        dom: vDomParam,
        createdRow: function( row, data, dataIndex ) {
            $(row).find('td:eq(4)').css('background-color', data["kpirupl_colour"]);
            $(row).find('td:eq(5)').css('background-color', data["kpirupl_colour"]);
            $(row).find('td:eq(6)').css('background-color', data["kpirupl_colour"]);
            $(row).find('td:eq(7)').css('background-color', data["kpirupl_colour"]);
        },
        columnDefs:[
            {"targets": 3,  render: $.fn.dataTable.render.number( '\ ', '.', 0, '' )},
            {"targets": 4,  render: $.fn.dataTable.render.number( '\ ', '.', 0, '' )},
            {"targets": 5,  render: $.fn.dataTable.render.number( '\ ', '.', 0, '' )},
            {"targets": 6,  render: $.fn.dataTable.render.number( '\ ', '.', 0, '' )},
            {"targets": 7,  render: $.fn.dataTable.render.number( '\ ', '.', 0, '' )}
        ],
        columns : [
            /*0*/{"title": /*[[#{dep_kpi_facts.calc.rn_id}]]*/ "rn_id","data": "rn_id","width": rn_id_width, "className": rn_id_class},
            /*1*/{"title": /*[[#{dep_kpi_facts.calc.user_kpi_type_id}]]*/ "user_kpi_type_id","data": "user_kpi_type_id","width": user_kpi_type_id_width, "className": user_kpi_type_id_class},
            /*2*/{"title": /*[[#{dep_kpi_facts.calc.user_kpi_type_name}]]*/ "user_kpi_type_name","data": "user_kpi_type_name","width": user_kpi_type_name_width, "className": user_kpi_type_name_class},
            /*3*/{"title": /*[[#{dep_kpi_facts.calc.kpirupl_plan}]]*/ "kpirupl_plan","data": "kpirupl_plan","width": kpirupl_plan_width, "className": kpirupl_plan_class},
            /*4*/{"title": /*[[#{dep_kpi_facts.calc.kpirupl_fact}]]*/ "kpirupl_fact","data": "kpirupl_fact","width": kpirupl_fact_width, "className": kpirupl_fact_class},
            /*5*/{"title": /*[[#{dep_kpi_facts.calc.kpirupl_persent}]]*/ "kpirupl_persent","data": "kpirupl_persent","width": kpirupl_persent_width, "className": kpirupl_persent_class},
            /*6*/{"title": /*[[#{dep_kpi_facts.calc.kpirupl_malus}]]*/ "kpirupl_malus","data": "kpirupl_malus","width": kpirupl_malus_width, "className": kpirupl_malus_class},
            /*7*/{"title": /*[[#{dep_kpi_facts.calc.kpirupl_finance}]]*/ "kpirupl_finance","data": "kpirupl_finance","width": kpirupl_finance_width, "className": kpirupl_finance_class},
            /*8*/{"title": /*[[#{dep_kpi_facts.calc.kpirupl_colour}]]*/ "kpirupl_colour","data": "kpirupl_colour","width": kpirupl_colour_width, "className": kpirupl_colour_class}
        ],
        pageLength: 25,
        copy_button: true,
        excel_button: true,
        pdf_button: true,
        print_button: true
    };

    function dep_kpi_facts_calc_month_06_hide() {
        $('#dep_kpi_facts_meets_month_06').attr('hidden',true);
        $('#dep_kpi_facts_calls_month_06').attr('hidden',true);
        $('#dep_kpi_facts_requests_month_06').attr('hidden',true);
        $('#dep_kpi_facts_tenders_month_06').attr('hidden',true);

        $('#dep_kpi_facts_crm_result_month_06').attr('hidden',true);
        dep_client_crm_month_06_hide();

        $('#dep_kpi_facts_clients_finance_month_06').attr('hidden',true);
        dep_kpi_clients_finance_month_06_hide();

        $('#dep_kpi_facts_clients_profit_month_06').attr('hidden',true);
        dep_kpi_clients_profit_month_06_hide();

        $('#dep_kpi_facts_clients_debtors_month_06').attr('hidden',true);
        dep_kpi_clients_debtors_month_06_hide();

        $('#dep_kpi_facts_clients_unpaid_month_06').attr('hidden',true);
        dep_kpi_clients_unpaid_month_06_hide();
/*Chief*/
        $('#dep_kpi_facts_chief_clients_profit_month_06').attr('hidden',true);
        dep_kpi_chief_clients_profit_month_06_hide();

        $('#dep_kpi_facts_chief_clients_unpaid_month_06').attr('hidden',true);
        dep_kpi_chief_clients_unpaid_month_06_hide();

        $('#dep_kpi_facts_chief_clients_debtors_month_06').attr('hidden',true);
        dep_kpi_chief_clients_debtors_month_06_hide();
/*OPS Head*/
        $('#dep_kpi_head_new_clients_finance_month_06').attr('hidden',true);
        dep_kpi_head_new_finance_month_06_hide();

        $('#dep_kpi_head_old_clients_finance_month_06').attr('hidden',true);
        dep_kpi_head_old_finance_month_06_hide();
        
        $('#dep_kpi_facts_chief_debtors_month_06').attr('hidden',true);
        $('#dep_kpi_facts_csops_meetings_month_06').attr('hidden',true);
        $('#dep_kpi_facts_cs_meetings_month_06').attr('hidden',true);
        $('#dep_kpi_facts_chief_clients_month_06').attr('hidden',true);
        $('#dep_kpi_facts_chief_bonus_clients_month_06').attr('hidden',true);
    }

    function dep_kpi_facts_calc_month_06_switchControl(){
        dep_kpi_facts_calc_month_06_hide();
        if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id != null) {
            if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 1) {
                $('#dep_kpi_facts_meets_month_06').removeAttr('hidden');
                vDepKPIMeetsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIMeetsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIMeetsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIMeetsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIMeetsMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 2) {
                $('#dep_kpi_facts_calls_month_06').removeAttr('hidden');
                vDepKPICallsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPICallsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPICallsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPICallsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPICallsMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 3){
                $('#dep_kpi_facts_requests_month_06').removeAttr('hidden');
                vDepKPIRequestsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIRequestsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIRequestsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIRequestsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIRequestsMonth06Value.table).DataTable().ajax.reload(null, false);

                $('#dep_kpi_facts_tenders_month_06').removeAttr('hidden');
                vDepKPITendersMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPITendersMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPITendersMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPITendersMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPITendersMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 4) {
                $('#dep_kpi_facts_clients_finance_month_06').removeAttr('hidden');
                vDepKPIClientsFinanceMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIClientsFinanceMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIClientsFinanceMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIClientsFinanceMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIClientsFinanceMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 5){
                $('#dep_kpi_facts_crm_result_month_06').removeAttr('hidden');
                vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_facts_year = $("#dep_kpi_facts_year").val();
                vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIFactCRMMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 12){
                $('#dep_kpi_facts_chief_clients_month_06').removeAttr('hidden');
                vDepKPIChiefClientsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIChiefClientsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIChiefClientsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIChiefClientsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIChiefClientsMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 13){
                $('#dep_kpi_facts_crm_result_month_06').removeAttr('hidden');
                vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_facts_year = $("#dep_kpi_facts_year").val();
                vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIFactCRMMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 14) {
                $('#dep_kpi_facts_chief_debtors_month_06').removeAttr('hidden');
                vDepKPIChiefDebtorsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIChiefDebtorsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIChiefDebtorsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIChiefDebtorsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIChiefDebtorsMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 15){
                $('#dep_kpi_facts_csops_meetings_month_06').removeAttr('hidden');
                vDepKPICsOpsMeetingsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPICsOpsMeetingsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPICsOpsMeetingsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPICsOpsMeetingsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPICsOpsMeetingsMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 16){
                $('#dep_kpi_facts_cs_meetings_month_06').removeAttr('hidden');
                vDepKPICsMeetingsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPICsMeetingsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPICsMeetingsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPICsMeetingsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPICsMeetingsMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 20){
                $('#dep_kpi_facts_chief_bonus_clients_month_06').removeAttr('hidden');
                vDepKPIChiefBonusClientsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIChiefBonusClientsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIChiefBonusClientsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIChiefBonusClientsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIChiefBonusClientsMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 21) {
                $('#dep_kpi_facts_clients_debtors_month_06').removeAttr('hidden');
                vDepKPIClientsDebtorsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIClientsDebtorsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIClientsDebtorsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIClientsDebtorsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIClientsDebtorsMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 22) {
                $('#dep_kpi_facts_clients_profit_month_06').removeAttr('hidden');
                vDepKPIClientsProfitMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIClientsProfitMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIClientsProfitMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIClientsProfitMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIClientsProfitMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 23) {
                $('#dep_kpi_facts_clients_unpaid_month_06').removeAttr('hidden');
                vDepKPIClientsUnpaidMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIClientsUnpaidMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIClientsUnpaidMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIClientsUnpaidMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIClientsUnpaidMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 24) {
                $('#dep_kpi_facts_chief_clients_profit_month_06').removeAttr('hidden');
                vDepKPIChiefClientsProfitMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIChiefClientsProfitMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIChiefClientsProfitMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIChiefClientsProfitMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIChiefClientsProfitMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 25) {
                $('#dep_kpi_facts_chief_clients_unpaid_month_06').removeAttr('hidden');
                vDepKPIChiefClientsUnpaidMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIChiefClientsUnpaidMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIChiefClientsUnpaidMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIChiefClientsUnpaidMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIChiefClientsUnpaidMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 26) {
                $('#dep_kpi_facts_chief_clients_debtors_month_06').removeAttr('hidden');
                vDepKPIChiefClientsDebtorsMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIChiefClientsDebtorsMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIChiefClientsDebtorsMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIChiefClientsDebtorsMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIChiefClientsDebtorsMonth06Value.table).DataTable().ajax.reload(null, false);
            }
//OPS Head
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 18) {
                $('#dep_kpi_head_old_clients_finance_month_06').removeAttr('hidden');
                vDepKPIHeadOldClientsFinanceMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIHeadOldClientsFinanceMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIHeadOldClientsFinanceMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIHeadOldClientsFinanceMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIHeadOldClientsFinanceMonth06Value.table).DataTable().ajax.reload(null, false);
            }
            else if(vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id === 19) {
                $('#dep_kpi_head_new_clients_finance_month_06').removeAttr('hidden');
                vDepKPIHeadNewClientsFinanceMonth06Value.rowdata.dep_kpi_param_id = vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id;
                vDepKPIHeadNewClientsFinanceMonth06Value.rowdata.dep_kpi_user_id = vDepKPIFactUsersValue.rowdata.user_id;
                vDepKPIHeadNewClientsFinanceMonth06Value.rowdata.dep_kpi_year = $("#dep_kpi_facts_year").val();
                vDepKPIHeadNewClientsFinanceMonth06Value.rowdata.dep_kpi_month = currentMonth06;
                $(vDepKPIHeadNewClientsFinanceMonth06Value.table).DataTable().ajax.reload(null, false);
            }
        }
        else{
            vDepKPIMeetsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIMeetsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIMeetsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIMeetsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIMeetsMonth06Value.rowdata.act_id = null;
            $(vDepKPIMeetsMonth06Value.table).DataTable().clear().draw();

            vDepKPICallsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPICallsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPICallsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPICallsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPICallsMonth06Value.rowdata.act_id = null;
            $(vDepKPICallsMonth06Value.table).DataTable().clear().draw();

            vDepKPIRequestsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIRequestsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIRequestsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIRequestsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIRequestsMonth06Value.rowdata.req_id = null;
            $(vDepKPIRequestsMonth06Value.table).DataTable().clear().draw();

            vDepKPITendersMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPITendersMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPITendersMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPITendersMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPITendersMonth06Value.rowdata.req_id = null;
            $(vDepKPITendersMonth06Value.table).DataTable().clear().draw();

            vDepKPIClientsFinanceMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIClientsFinanceMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIClientsFinanceMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIClientsFinanceMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIClientsFinanceMonth06Value.rowdata.rn = null;
            $(vDepKPIClientsFinanceMonth06Value.table).DataTable().clear().draw();

            vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_facts_year = null;
            vDepKPIFactCRMMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIFactCRMMonth06Value.rowdata.user_kpi_crm_type_id = null;
            $(vDepKPIFactCRMMonth06Value.table).DataTable().clear().draw();

            vDepKPIChiefDebtorsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIChiefDebtorsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIChiefDebtorsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIChiefDebtorsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIChiefDebtorsMonth06Value.rowdata.fin_id = null;
            $(vDepKPIChiefDebtorsMonth06Value.table).DataTable().clear().draw();

            vDepKPIChiefClientsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIChiefClientsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIChiefClientsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIChiefClientsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIChiefClientsMonth06Value.rowdata.rn_id = null;
            $(vDepKPIChiefClientsMonth06Value.table).DataTable().clear().draw();

            vDepKPICsOpsMeetingsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPICsOpsMeetingsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPICsOpsMeetingsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPICsOpsMeetingsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPICsOpsMeetingsMonth06Value.rowdata.user_kpi_meet_id = null;
            $(vDepKPICsOpsMeetingsMonth06Value.table).DataTable().clear().draw();

            vDepKPICsMeetingsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPICsMeetingsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPICsMeetingsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPICsMeetingsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPICsMeetingsMonth06Value.rowdata.user_kpi_meet_id = null;
            $(vDepKPICsMeetingsMonth06Value.table).DataTable().clear().draw();

            vDepKPIChiefBonusClientsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIChiefBonusClientsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIChiefBonusClientsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIChiefBonusClientsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIChiefBonusClientsMonth06Value.rowdata.rn_id = null;
            $(vDepKPIChiefBonusClientsMonth06Value.table).DataTable().clear().draw();

            vDepKPIClientsDebtorsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIClientsDebtorsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIClientsDebtorsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIClientsDebtorsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIClientsDebtorsMonth06Value.rowdata.rn = null;
            $(vDepKPIClientsDebtorsMonth06Value.table).DataTable().clear().draw();

            vDepKPIClientsProfitMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIClientsProfitMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIClientsProfitMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIClientsProfitMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIClientsProfitMonth06Value.rowdata.rn = null;
            $(vDepKPIClientsProfitMonth06Value.table).DataTable().clear().draw();

            vDepKPIClientsUnpaidMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIClientsUnpaidMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIClientsUnpaidMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIClientsUnpaidMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIClientsUnpaidMonth06Value.rowdata.rn = null;
            $(vDepKPIClientsUnpaidMonth06Value.table).DataTable().clear().draw();

            vDepKPIChiefClientsProfitMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIChiefClientsProfitMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIChiefClientsProfitMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIChiefClientsProfitMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIChiefClientsProfitMonth06Value.rowdata.rn = null;
            $(vDepKPIChiefClientsProfitMonth06Value.table).DataTable().clear().draw();

            vDepKPIChiefClientsDebtorsMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIChiefClientsDebtorsMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIChiefClientsDebtorsMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIChiefClientsDebtorsMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIChiefClientsDebtorsMonth06Value.rowdata.rn = null;
            $(vDepKPIChiefClientsDebtorsMonth06Value.table).DataTable().clear().draw();

            vDepKPIHeadNewClientsFinanceMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIHeadNewClientsFinanceMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIHeadNewClientsFinanceMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIHeadNewClientsFinanceMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIHeadNewClientsFinanceMonth06Value.rowdata.rn = null;
            $(vDepKPIHeadNewClientsFinanceMonth06Value.table).DataTable().clear().draw();

            vDepKPIHeadNewFinanceMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIHeadNewFinanceMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIHeadNewFinanceMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIHeadNewFinanceMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIHeadNewFinanceMonth06Value.rowdata.dep_kpi_cnt_id = null;
            vDepKPIHeadNewFinanceMonth06Value.rowdata.dep_kpi_ser_id = null;
            vDepKPIHeadNewFinanceMonth06Value.rowdata.fin_id = null;
            $(vDepKPIHeadNewFinanceMonth06Value.table).DataTable().clear().draw();

            vDepKPIHeadOldClientsFinanceMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIHeadOldClientsFinanceMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIHeadOldClientsFinanceMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIHeadOldClientsFinanceMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIHeadOldClientsFinanceMonth06Value.rowdata.rn = null;
            $(vDepKPIHeadOldClientsFinanceMonth06Value.table).DataTable().clear().draw();

            vDepKPIHeadOldFinanceMonth06Value.rowdata.dep_kpi_param_id = null;
            vDepKPIHeadOldFinanceMonth06Value.rowdata.dep_kpi_user_id = null;
            vDepKPIHeadOldFinanceMonth06Value.rowdata.dep_kpi_year = null;
            vDepKPIHeadOldFinanceMonth06Value.rowdata.dep_kpi_month = null;
            vDepKPIHeadOldFinanceMonth06Value.rowdata.dep_kpi_cnt_id = null;
            vDepKPIHeadOldFinanceMonth06Value.rowdata.dep_kpi_ser_id = null;
            vDepKPIHeadOldFinanceMonth06Value.rowdata.fin_id = null;
            $(vDepKPIHeadOldFinanceMonth06Value.table).DataTable().clear().draw();
        }
    }

    $(document).ready(function(){
        vDepKPIFactCalcMonth06Value.rowdata.dep_kpi_user_id = /*[[${dep_kpi_user_id}]]*/ null;
        vDepKPIFactCalcMonth06Value.rowdata.dep_kpi_facts_year = /*[[${dep_kpi_facts_year}]]*/ null;
        vDepKPIFactCalcMonth06Value.rowdata.dep_kpi_facts_month = /*[[${dep_kpi_facts_month}]]*/ null;
        vDepKPIFactCalcMonth06Value.rowdata.dep_id = /*[[${dep_id}]]*/ null;
        vDepKPIFactCalcMonth06Value.rowdata.user_kpi_type_id = /*[[${user_kpi_type_id}]]*/ null;

        vDepKPIFactCalcMonth06Value.rowdata.table_order_column = /*[[${table_order_column}]]*/ null;
        vDepKPIFactCalcMonth06Value.rowdata.table_order_type = /*[[${table_order_type}]]*/ null;
        vDepKPIFactCalcMonth06Value.rowdata.table_search = /*[[${table_search}]]*/ null;
        vDepKPIFactCalcMonth06Value.rowdata.table_pagelen = /*[[${table_pagelen}]]*/ null;
        vDepKPIFactCalcMonth06Value.rowdata.table_page = /*[[${table_page}]]*/ null;

        recreateDataTable(vDepKPIFactCalcMonth06Value);
    });
</script>

</body>
</html>