<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header :: header(title = #{projects_desc.files.header})"></head>

<body class="theme-dark"> <!-- right-to-left -->
<span th:replace="fragments/layout_v1.html :: top">top</span>

<div class="card flex-fill w-100">
    <div class="card-header">
        <h5 class="card-title mb-0" th:text="#{projects_desc.files.caption}"></h5>
    </div>
    <div class="card-body">
        <div>
            <!--/*@thymesVar id="projects_desc_files_detail" type="java.util.List"*/-->
            <form id="projects-desc-files-detail-updater-form" data-toggle="validator" method="post" enctype="multipart/form-data" class="was-validated" th:action="@{/projects_desc/files_model}">
                <!--/*@thymesVar id="mode" type="java.lang.Long"*/-->
                <input type="hidden" id="mode" name="mode" th:value="${mode}">
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-dark mr-1" th:text="#{general.back}" form="projects-desc-files-detail-indexfrm">Cancel</button>
                    <div th:switch="${mode}">
                        <button th:case="0" type="submit" id="projects-desc-files-detail-addbtn" class="btn btn-outline-primary" th:text="#{general.addbtn}">Add</button>
                        <button th:case="1" type="submit" id="projects-desc-files-detail-editbtn" class="btn btn-outline-primary" th:text="#{general.editbtn}">Edit</button>
                        <button th:case="2" type="submit" id="projects-desc-files-detail-delbtn" class="btn btn-outline-primary" th:text="#{general.delbtn}">Delete</button>
                    </div>
                </div>
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="parent_pr_id" th:value="${parent_pr_id}" >

                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_main_table_order_column" th:value="${projects_desc_main_table_order_column}" >
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_main_table_order_type" th:value="${projects_desc_main_table_order_type}" >
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_main_table_search" th:value="${projects_desc_main_table_search}" >
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_main_table_pagelen" th:value="${projects_desc_main_table_pagelen}" >
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_main_table_page" th:value="${projects_desc_main_table_page}" >

                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_files_table_order_column" th:value="${projects_desc_files_table_order_column}" >
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_files_table_order_type" th:value="${projects_desc_files_table_order_type}" >
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_files_table_search" th:value="${projects_desc_files_table_search}" >
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_files_table_pagelen" th:value="${projects_desc_files_table_pagelen}" >
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_files_table_page" th:value="${projects_desc_files_table_page}" >

                <!--suppress ThymeleafVariablesResolveInspection -->
                <input type="hidden" name="projects_desc_tab" th:value="${projects_desc_tab}" >

                <div class="form-row">
                    <div class="col-md-5 mb-1" id="parent_pr_id_row">
                        <label for="parent_pr_id" class="form-label" th:text="'1. '+#{projects_desc.files.parent_pr_id}"></label>
                        <div class="input-group">
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <select type="text" id="parent_pr_id" name="parent_pr_id" class="form-control p-1" aria-describedby="user_id_helpBlock" th:value="${parent_pr_id}">
                                <option value=""></option>
                                <!--suppress ThymeleafVariablesResolveInspection -->
                                <option class="p-1"
                                        th:each="parent_pr : ${parent_pr_list}"
                                        th:value="${parent_pr.parent_pr_id}"
                                        th:text="${parent_pr.parent_pr_name}"
                                        th:selected="${parent_pr.parent_pr_id == parent_pr_id}"
                                ></option>
                            </select>
                            <button type="button" id="pr_parent_id_x" name="pr_parent_id_x" class="btn btn-outline-success"><i class="fas fa-times"></i></button>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                    </div>
                </div><!-- Row 1 -->

                <div class="form-row">
                    <div class="col-md-1 mb-2" id="pr_file_id_row">
                        <label for="pr_file_id" class="form-label" th:text="'5. '+ #{projects_desc.files.pr_file_id}"></label>
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="text" class="form-control" id="pr_file_id" name="pr_file_id" th:value="${pr_file_id}">
                        <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                        <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                    </div>
                    <div class="col-md-2 mb-2" id="pr_file_date_row">
                        <label for="pr_file_date" class="form-label" th:text="'6. '+ #{projects_desc.files.pr_file_date}"></label>
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="text" class="form-control" id="pr_file_date" name="pr_file_date" th:value="${pr_file_date}">
                        <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                        <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                    </div>
                </div><!-- Third Row -->

                <div class="form-row">
                    <div class="col-md-4 mb-2" id="pr_file_row">
                        <div class="form-group">
                            <label class="form-label" for="pr_file" th:text="'7. '+#{projects_desc.files.pr_file_name}">File</label>
                            <div>
                                <input type="file" class="validation-file btn" id="pr_file" name="file">
                            </div>
                        </div>
                        <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                        <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                    </div>
                    <div class="col-md-4 mb-2" id="pr_file_name_row">
                        <label for="pr_file_name" class="form-label" th:text="'7. '+ #{projects_desc.files.pr_file_name}"></label>
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="text" class="form-control" id="pr_file_name" name="pr_file_name" th:value="${pr_file_name}">
                        <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                        <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                    </div>
                </div><!-- Forth Row -->
            </form>
        </div>
    </div>
</div>

<!--/*@thymesVar id="projects_desc_files_detail" type="java.util.List"*/-->
<form id="projects-desc-files-detail-indexfrm" method="post" th:action="@{/projects_desc}" hidden>
    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="pr_id" th:value="${parent_pr_id}">

    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_main_files_table_order_column" th:value="${projects_main_files_table_order_column}" >
    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_main_files_table_order_type" th:value="${projects_main_files_table_order_type}" >
    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_main_files_table_search" th:value="${projects_main_files_table_search}" >
    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_main_files_table_pagelen" th:value="${projects_main_files_table_pagelen}" >
    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_main_files_table_page" th:value="${projects_main_files_table_page}" >

    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_desc_main_table_order_column" th:value="${projects_desc_main_table_order_column}" >
    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_desc_main_table_order_type" th:value="${projects_desc_main_table_order_type}" >
    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_desc_main_table_search" th:value="${projects_desc_main_table_search}" >
    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_desc_main_table_pagelen" th:value="${projects_desc_main_table_pagelen}" >
    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_desc_main_table_page" th:value="${projects_desc_main_table_page}" >

    <!--suppress ThymeleafVariablesResolveInspection -->
    <input name="projects_desc_tab" th:value="${projects_desc_tab}" >
</form>

<span th:replace="fragments/layout_v1.html :: bottom">bottom</span>

<span th:replace="fragments/error :: errorscript_frm(formname = 'projects-desc-files-detail-indexfrm')">Error</span>

<script>
    $(document).ready(function(){
<!-- Hihglight menu -->
        $('#stages_li').removeClass('active');

        $('#projects_li').addClass('active').removeClass('collapsed');
        $('#projects_a').attr('aria-expanded',true);
        $('#projects').addClass('show');

        $('#projects_desc_a').addClass('text-success');
<!-- Form Start -->
        $('#parent_pr_id').attr('readOnly',true);
        $('#pr_parent_id_x').prop('disabled',true).removeClass('btn-outline-success').addClass('btn-outline-dark');

<!-- Change Function -->
        if($('#mode').val() == 0){
            $('#pr_file_id_row').prop('hidden',true);
            $('#pr_file_date_row').prop('hidden',true);
            $('#pr_file_name_row').prop('hidden',true);
        }
        else if($('#mode').val() === '2' || $('#mode').val() === '4'){
            $('#cnt_doc_file_row').prop('hidden',true);

            $('#pr_file_id').attr('readOnly',true);
            $('#pr_file_date').prop('readOnly',true);
            $('#pr_file_row').prop('hidden',true);
            $('#pr_file_name').prop('readOnly',true);
        }
    });
</script>
</body>
</html>