<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="report_employee_clients_head_body" th:remove="tag">
		<form class="form-inline">
		      <div class="form-group mr-2">
				<label for="report_employee_clients_start_date" class="mr-2" th:text="#{report_employee_clients.start_date}">StartDate:</label>
				<input class="form-control" type="text" id="report_employee_clients_start_date" name="report_employee_clients_start_date" />
			  </div>

			  <div class="form-group mr-3">
				<label for="report_employee_clients_employee_list" class="mr-2" th:text="#{report_employee_clients.user_list}">Employee: </label>
				<select id="report_employee_clients_employee_list" class="form-control select2" data-toggle="select2">
                    <!--suppress ThymeleafVariablesResolveInspection -->
					<option
							   th:each="user_list : ${user_list}"
							   th:value="${user_list.id}"
							   th:text="${user_list.user_surname}"
							   th:selected="${user_list.id == user_id}"
					 ></option>
				</select>
			  </div>

			 <div class="d-none d-sm-block">
				<a class="btn btn-outline-primary" id="report_employee_clients_show" th:text="#{general.reportshow}">Show</a>
			 </div>
		</form>
	         <div class="d-block d-sm-none">
                 <button type="button" class="btn btn-primary btn-lg btn-block" id="report_employee_clients_show_sx">Search</button>
             </div>
</span>

<script th:fragment="cardscript" th:inline="javascript">
	var firstYearDay = new Date(new Date().getFullYear(), 0, 1).toLocaleDateString('ru');

	$("#report_employee_clients_start_date").daterangepicker({
		"singleDatePicker": true,
		"startDate": firstYearDay,
		"locale": {
			"format": "DD.MM.YYYY",
			"separator": " - ",
			"applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
			"cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
			"fromLabel": "From",
			"toLabel": "To",
			"customRangeLabel": "Custom",
			"weekLabel":  /*[[#{datapicker.week}]]*/ "W",
			"daysOfWeek": [
				/*[[#{weekdays.07_short}]]*/ "Su",
				/*[[#{weekdays.01_short}]]*/ "Mo",
				/*[[#{weekdays.02_short}]]*/ "Tu",
				/*[[#{weekdays.03_short}]]*/ "We",
				/*[[#{weekdays.04_short}]]*/ "Th",
				/*[[#{weekdays.05_short}]]*/ "Fr",
				/*[[#{weekdays.06_short}]]*/ "Sa"
			],
			"monthNames": [
				/*[[#{month.01}]]*/ "January",
				/*[[#{month.02}]]*/ "February",
				/*[[#{month.03}]]*/ "March",
				/*[[#{month.04}]]*/ "April",
				/*[[#{month.05}]]*/ "May",
				/*[[#{month.06}]]*/ "June",
				/*[[#{month.07}]]*/ "July",
				/*[[#{month.08}]]*/ "August",
				/*[[#{month.09}]]*/ "September",
				/*[[#{month.10}]]*/ "October",
				/*[[#{month.11}]]*/ "November",
				/*[[#{month.12}]]*/ "December"
			],
			"firstDay": 1
		}
	});

    $(document).ready(function(){
		$(".select2").each(function() {
			$(this)
					.wrap("<div class=\"position-relative\"></div>")
					.select2({
						placeholder: "Select value"
					});
		});

        $('#main_li').removeClass('active');

        $('#reports_li').addClass('active').removeClass('collapsed');
        $('#reports_a').attr('aria-expanded',true);
        $('#reports').addClass('show');

        $('#report_employee_clients_a').addClass('text-primary');

		$('#report_employee_clients_show').on('click', function () {
			$('#report_employee_clients_detail_card').removeAttr('hidden');

			vReportEmployeeClientsDetailValue.rowdata.req_user_id = $("#report_employee_clients_employee_list").val();
			vReportEmployeeClientsDetailValue.rowdata.start_date = $("#report_employee_clients_start_date").val();
			vReportEmployeeClientsDetailValue.rowdata.user_id = null;
			$(vReportEmployeeClientsDetailValue.table).DataTable().ajax.reload();
			$('#report_employee_clients_filter_div').removeClass('show').collapse('hide');
		});

		$('#report_employee_clients_show_sx').on('click', function () {
			$('#report_employee_clients_detail_card').removeAttr('hidden');

			vReportEmployeeClientsDetailValue.rowdata.req_user_id = $("#report_employee_clients_employee_list").val();
			vReportEmployeeClientsDetailValue.rowdata.start_date = $("#report_employee_clients_start_date").val();
			vReportEmployeeClientsDetailValue.rowdata.user_id = null;
			$(vReportEmployeeClientsDetailValue.table).DataTable().ajax.reload();
			$('#report_employee_clients_filter_div').removeClass('show').collapse('hide');
		});
    });
</script>

</body>
</html>