<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="tenders_chat_body" th:remove="tag">
        <div><table id="table-tenders-chat" class="table table-striped table-sm table-bordered" cellspacing="0" style="width:100%;"></table></div>

              <div id="tenders-chat-detailbtn-large" class="d-none d-sm-block mb-2">
                 <button id="tenders-chat-refreshbtn" class="btn btn-sm btn-primary" th:text="#{general.refreshbtn}">Refresh</button>
                 <button id="tenders-chat-addbtn" class="btn btn-sm btn-dark" th:text="#{general.addbtn}" disabled>Add</button>
                 <button id="tenders-chat-clearbtn" class="btn btn-sm btn-dark" th:text="#{general.clearbtn}" disabled>Edit</button>
              </div>
              <div id="tenders-chat-detailbtn-small" class="d-block d-sm-none mb-2">
                 <button id="tenders-chat-refreshbtn-sx" class="btn btn-primary"><i data-feather="refresh-ccw"></i></button>
                 <button id="tenders-chat-addbtn-sx" class="btn btn-dark" disabled><i data-feather="plus"></i></button>
                 <button id="tenders-chat-clearbtn-sx" class="btn btn-dark" disabled><i data-feather="x-circle"></i></button>
              </div>

         <textarea class="form-control text-dark font-weight-bold" rows="4" maxlength="128" style="resize:none;" id="req_chat_note" name="req_chat_note" disabled></textarea>
</span>

<script th:fragment="cardscript" th:inline="javascript">
    var req_chat_id_width, req_chat_date_width, user_name_width, req_chat_text_width, req_chat_text_sh_width;
    var req_chat_id_class, req_chat_date_class, user_name_class, req_chat_text_class, req_chat_text_sh_class;

    var mobileScreenSize = window.screen.width < 1024 && window.screen.height < 768;
    var smallScreenSize = window.screen.width > 1024 && window.screen.height <= 768;

    if(mobileScreenSize){
        vDomParam =
            "<'row'<'col-12'f>>"+
            "<'row'<'col-12'tr>>" +
            "<'row'<'col-12'p>>";

        req_chat_id_width = "";
        req_chat_id_class = "none";

        req_chat_date_width = "15%";
        req_chat_date_class = "min-tablet-p small_size small_head_size small_footer_size";

        user_name_width  = "20%";
        user_name_class  = "small_size small_head_size small_footer_size text-center";

        req_chat_text_width  = "65%";
        req_chat_text_class  = "small_size small_head_size small_footer_size";

        req_chat_text_sh_width  = "";
        req_chat_text_sh_class  = "none";

        $('#tenders-chat-refreshbtn').removeClass('btn-sm');
        $('#tenders-chat-addbtn').removeClass('btn-sm');
        $('#tenders-chat-clearbtn').removeClass('btn-sm');

        $('#tenders-chat-detailbtn-large').addClass('text-center').removeAttr('hidden');
        $('#tenders-chat-detailbtn-small').addClass('text-center').removeAttr('hidden');
    }
    else if(smallScreenSize){
        vDomParam = "ftp";

        req_chat_id_width = "";
        req_chat_id_class = "none";

        req_chat_date_width = "13%";
        req_chat_date_class = "small_size small_head_size small_footer_size";

        user_name_width  = "20%";
        user_name_class  = "small_size small_head_size small_footer_size text-center";

        req_chat_text_width  = "67%";
        req_chat_text_class  = "small_size small_head_size small_footer_size";

        req_chat_text_sh_width  = "";
        req_chat_text_sh_class  = "none";
    }
    else{
        vDomParam = "ftp";

        req_chat_id_width = "";
        req_chat_id_class = "none";

        req_chat_date_width = "10%";
        req_chat_date_class = "";

        user_name_width  = "20%";
        user_name_class  = "text-center";

        req_chat_text_width  = "70%";
        req_chat_text_class  = "";

        req_chat_text_sh_width  = "";
        req_chat_text_sh_class  = "none";
    }    
    
    var vTenderChatListValue;
    vTenderChatListValue = {
        table : '#table-tenders-chat',
        ajax : {
            "url": /*[[@{/tenders/get_chat_table}]]*/ "tenders/get_chat_table",
            "type": "post",
            "data": function ( d ) {
                d.req_id = vTenderChatListValue.rowdata.req_id;
            }
        },
        key : "req_chat_id",
        switchControl : tenders_chat_switchControl,
        rowdata:{
            req_id: null,
            req_chat_id: null
        },
        ordering: true,
        order: [
            [0, "desc"]
        ],

        dom: 'ftp',
        columnDefs:[
            {"targets": [1], type: 'de_datetime'}
        ],
        columns : [
            /*0*/{"title": /*[[#{tenders.chat.req_chat_id}]]*/ "req_chat_id", "data": "req_chat_id", "width": req_chat_id_width, "className": req_chat_id_class},
            /*1*/{"title": /*[[#{tenders.chat.req_chat_date}]]*/ "req_chat_date", "data": "req_chat_date", "width": req_chat_date_width, "className": req_chat_date_class},
            /*2*/{"title": /*[[#{tenders.chat.user_name}]]*/ "user_name", "data": "user_name", "width": user_name_width, "className": user_name_class},
            /*3*/{"title": /*[[#{tenders.chat.req_chat_text}]]*/ "req_chat_text", "data": "req_chat_text", "width": req_chat_text_width, "className": req_chat_text_class},
            /*4*/{"title": /*[[#{tenders.chat.req_chat_text_sh}]]*/ "req_chat_text_sh", "data": "req_chat_text_sh", "width": req_chat_text_sh_width, "className": req_chat_text_sh_class}
        ],
        pageLength: 25,
        copy_button: false,
        excel_button: false,
        pdf_button: false,
        print_button: false
    };

    function tenders_chat_switchControl() {
    };

     $('#tenders-chat-refreshbtn').on('click', function () {
        vTenderChatListValue.rowdata.req_id = vTenderListValue.rowdata.req_id;
        $(vTenderChatListValue.table).DataTable().ajax.reload();
    });

    $('#tenders-chat-refreshbtn-sx').on('click', function () {
        vTenderChatListValue.rowdata.req_id = vTenderListValue.rowdata.req_id;
        $(vTenderChatListValue.table).DataTable().ajax.reload();
    });
<!-- Refreash Button -->

    $('#tenders-chat-clearbtn').on('click', function () {
        $('#req_chat_note').val('');
    });

    $('#tenders-chat-clearbtn-sx').on('click', function () {
        $('#req_chat_note').val('');
    });
<!-- Clear Button -->

    $('#tenders-chat-addbtn').button().click( function( event ) {
        if($('#req_chat_note').val() !== null && $('#req_chat_note').val() !== '') {
            $.ajax({
                type: "POST",
                url: /*[[@{'/tenders/chat_add'}]]*/ "/tenders/chat_add",
                data: {
                    "req_id": vTenderListValue.rowdata.req_id,
                    "req_chat_text": $('#req_chat_note').val()
                },
                success: function () {
                    vTenderChatListValue.rowdata.req_id = vTenderListValue.rowdata.req_id;
                    $(vTenderChatListValue.table).DataTable().ajax.reload();
                    $('#req_chat_note').val('');
                }
            });
            return false;
        }
    });


    $('#tenders-chat-addbtn-sx').button().click( function( event ) {
        if($('#req_chat_note').val() != null && $('#req_chat_note').val() != '') {
            $.ajax({
                type: "POST",
                url: /*[[@{'/tenders/chat_add'}]]*/ "/tenders/chat_add",
                data: {
                    "req_id": vTenderListValue.rowdata.req_id,
                    "req_chat_text": $('#req_chat_note').val()
                },
                success: function () {
                    vTenderChatListValue.rowdata.req_id = vTenderListValue.rowdata.req_id;
                    $(vTenderChatListValue.table).DataTable().ajax.reload();
                    $('#req_chat_note').val('');
                }
            });
            return false;
        }
    });
<!-- Add Button -->
    $(document).ready(function(){
        vTenderChatListValue.rowdata.req_id = /*[[${req_id}]]*/ null;
        vTenderChatListValue.rowdata.req_chat_id = /*[[${req_chat_id}]]*/ null;

        vTenderChatListValue.rowdata.table_order_column = /*[[${table_order_column}]]*/ null;
        vTenderChatListValue.rowdata.table_order_type = /*[[${table_order_type}]]*/ null;
        vTenderChatListValue.rowdata.table_search = /*[[${table_search}]]*/ null;
        vTenderChatListValue.rowdata.table_pagelen = /*[[${table_pagelen}]]*/ null;
        vTenderChatListValue.rowdata.table_page = /*[[${table_page}]]*/ null;

        recreateDataTable(vTenderChatListValue);
    });
</script>

</body>
</html>