<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="tenders_filter_body" th:remove="tag">
   <div id="tender_filter_large_div">
    <form class="form-inline">
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" id="tender_filter_check" name="tender_filter_check">
            <label class="custom-control-label" for="tender_filter_check"></label>
        </div>
        <div class="form-group form-group-sm mr-2">
            <label for="tender_filter_start_date" class="mr-2" th:text="#{tenders.list.filter_start_date}">StartDate:</label>
            <input class="form-control" type="text" id="tender_filter_start_date" name="tender_tenders_start_date" disabled/>
        </div>
        <div class="form-group form-group-sm mr-2">
            <label for="tender_filter_end_date" class="mr-2" th:text="#{tenders.list.filter_end_date}">EndDate:</label>
            <input class="form-control" type="text" id="tender_filter_end_date" name="tender_tenders_end_date" disabled/>
        </div>
        <button type="button" class="btn btn-dark align-middle" id="tender_filter_show" disabled><i data-feather="search"></i></button>
    </form>
   </div>
   <div id="tender_filter_small_div">
   </div>
</span>

<script th:fragment="cardscript" th:inline="javascript">
    $("#tender_filter_start_date").daterangepicker({
        "singleDatePicker": true,
        "locale": {
            "format": "DD.MM.YYYY",
            "separator": " - ",
            "applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
            "cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel":  /*[[#{datapicker.week}]]*/ "W",
            "daysOfWeek": [
                /*[[#{weekdays.07_short}]]*/ "Su",
                /*[[#{weekdays.01_short}]]*/ "Mo",
                /*[[#{weekdays.02_short}]]*/ "Tu",
                /*[[#{weekdays.03_short}]]*/ "We",
                /*[[#{weekdays.04_short}]]*/ "Th",
                /*[[#{weekdays.05_short}]]*/ "Fr",
                /*[[#{weekdays.06_short}]]*/ "Sa"
            ],
            "monthNames": [
                /*[[#{month.01}]]*/ "January",
                /*[[#{month.02}]]*/ "February",
                /*[[#{month.03}]]*/ "March",
                /*[[#{month.04}]]*/ "April",
                /*[[#{month.05}]]*/ "May",
                /*[[#{month.06}]]*/ "June",
                /*[[#{month.07}]]*/ "July",
                /*[[#{month.08}]]*/ "August",
                /*[[#{month.09}]]*/ "September",
                /*[[#{month.10}]]*/ "October",
                /*[[#{month.11}]]*/ "November",
                /*[[#{month.12}]]*/ "December"
            ],
            "firstDay": 1
        }
    });

    $("#tender_filter_end_date").daterangepicker({
        "singleDatePicker": true,
        "locale": {
            "format": "DD.MM.YYYY",
            "separator": " - ",
            "applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
            "cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel":  /*[[#{datapicker.week}]]*/ "W",
            "daysOfWeek": [
                /*[[#{weekdays.07_short}]]*/ "Su",
                /*[[#{weekdays.01_short}]]*/ "Mo",
                /*[[#{weekdays.02_short}]]*/ "Tu",
                /*[[#{weekdays.03_short}]]*/ "We",
                /*[[#{weekdays.04_short}]]*/ "Th",
                /*[[#{weekdays.05_short}]]*/ "Fr",
                /*[[#{weekdays.06_short}]]*/ "Sa"
            ],
            "monthNames": [
                /*[[#{month.01}]]*/ "January",
                /*[[#{month.02}]]*/ "February",
                /*[[#{month.03}]]*/ "March",
                /*[[#{month.04}]]*/ "April",
                /*[[#{month.05}]]*/ "May",
                /*[[#{month.06}]]*/ "June",
                /*[[#{month.07}]]*/ "July",
                /*[[#{month.08}]]*/ "August",
                /*[[#{month.09}]]*/ "September",
                /*[[#{month.10}]]*/ "October",
                /*[[#{month.11}]]*/ "November",
                /*[[#{month.12}]]*/ "December"
            ],
            "firstDay": 1
        }
    });

    $('#tender_filter_check').on('click', function(){
        if($(this).prop('checked')){
            $('#tender_filter_start_date').removeAttr('disabled');
            $('#tender_filter_end_date').removeAttr('disabled');
            $("#tender_filter_show").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');

            if (window.screen.width < 1024 && window.screen.height < 768) {
                $("#tender_filter_start_date").attr('readonly',true);
                $("#tender_filter_end_date").attr('readonly',true);
            }
        }
        else{
            $('#tender_filter_start_date').attr('disabled',true);
            $('#tender_filter_end_date').attr('disabled',true);
            $("#tender_filter_show").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');

            if(vTenderListValue.rowdata.tender_filter_id === 1){
                vTenderListValue.rowdata.tender_filter_id = 0;
                $(vTenderListValue.table).DataTable().ajax.reload();
                $('#tenders_filter_div').removeClass('show').collapse('hide');
            }
        }
    });

    $('#tender_filter_show').on('click', function() {
        vTenderListValue.rowdata.tender_filter_id = 1;
        vTenderListValue.rowdata.tender_filter_start_date = $('#tender_filter_start_date').val();
        vTenderListValue.rowdata.tender_filter_end_date = $('#tender_filter_end_date').val();

        $(vTenderListValue.table).DataTable().ajax.reload();
        $('#tenders_filter_div').removeClass('show').collapse('hide');
    });

    $(document).ready(function(){
        if(mobileScreenSize){
            $('#tender_filter_large_div').attr('hidden',true);
            $('#tender_filter_small_div').removeAttr('hidden');

            $("#tender_filter_start_date").attr('readonly',true);
            $("#tender_filter_end_date").attr('readonly',true);

            $('#tenders_chat_div').removeClass('show').collapse('hide');
            $('#tenders_files_div').removeClass('show').collapse('hide');
        }
        else if(smallScreenSize){
            $('#tender_filter_large_div').removeAttr('hidden');
            $('#tender_filter_small_div').attr('hidden',true);
        }
        else{
            $('#tender_filter_large_div').removeAttr('hidden');
            $('#tender_filter_small_div').attr('hidden',true);
        }
    });
</script>

</body>
</html>