<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="part_world_translink_body" th:remove="tag">
        <form id="part-world-translink-detail" class="mb-2" th:action="@{/part_world/translink_detail}" method="post" hidden>
        </form>
        
        <div><table id="table-part-world-translink" class="table table-striped table-sm table-bordered" cellspacing="0" style="width:100%;"></table></div>
</span>

<script th:fragment="cardscript" th:inline="javascript">
    var clmtrl_id_width, cnt_name_width, cntc_type_sname_width, cntc_type_brand_width, cntc_type_number_width;

    var clmtrl_id_class, cnt_name_class, cntc_type_sname_class, cntc_type_brand_class, cntc_type_number_class;

    var smallScreenSize = window.screen.width > 1024 && window.screen.height <= 768;
    var mobileScreenSize = window.screen.width < 1024 && window.screen.height < 768;

    if(mobileScreenSize){
        vDomParam = "Blfrtp";
    }
    else if(smallScreenSize){
        vDomParam = "Blfrtip";
        clmtrl_id_width = "";
        clmtrl_id_class = "none";
        cnt_name_width = "70%";
        cnt_name_class = "small_size small_head_size small_footer_size";
        cntc_type_sname_width = "10%";
        cntc_type_sname_class = "small_size small_head_size small_footer_size text-center";
        cntc_type_brand_width = "";
        cntc_type_brand_class = "none";
        cntc_type_number_width = "10%";
        cntc_type_number_class = "small_size small_head_size small_footer_size text-center";
    }
    else{
        vDomParam = "Blfrtip";
        clmtrl_id_width = "";
        clmtrl_id_class = "none";
        cnt_name_width = "70%";
        cnt_name_class = "";
        cntc_type_sname_width = "15%";
        cntc_type_sname_class = "text-center";
        cntc_type_brand_width = "";
        cntc_type_brand_class = "none";
        cntc_type_number_width = "15%";
        cntc_type_number_class = "text-center";        
    }

    var vFLGClaimTransLinkValue;
    vFLGClaimTransLinkValue = {
        table : '#table-part-world-translink',
        button_form: "#part-world-translink-detail",
        ajax : {
            "url": /*[[@{/part_world/get_trans_link_table}]]*/ "part_world/get_trans_link_table",
            "type": "post",
            "data": function ( d ) {
                d.clm_id = vFLGClaimTransLinkValue.rowdata.clm_id
            }
        },
        key : "clmtrl_id",
        switchControl : part_world_translink_switchControl,
        rowdata:{
            clm_id: null,
            clmtrl_id: null,
            cnt_name: null,
            cntc_type_sname: null,
            cntc_type_number: null
        },
        ordering: true,
        order: [
            [0, "asc"]
        ],

        dom: 'Blfrtip',
        createdRow: function( row, data, dataIndex ) {
            /*$(row).css('background-color', data["act_type_colour"]);*/
        },
        columnDefs:[
        ],
        columns:[
                /*0*/{"title": /*[[#{part_world.trans.clmtrl_id}]]*/ "clmtrl_id", "data": "clmtrl_id", "width": clmtrl_id_width, "className": clmtrl_id_class},
                /*1*/{"title": /*[[#{part_world.trans.cnt_name}]]*/ "cnt_name", "data": "cnt_name", "width": cnt_name_width, "className": cnt_name_class},
                /*2*/{"title": /*[[#{part_world.trans.cntc_type_sname}]]*/ "cntc_type_sname", "data": "cntc_type_sname", "width": cntc_type_sname_width, "className": cntc_type_sname_class},
                /*3*/{"title": /*[[#{part_world.trans.cntc_type_brand}]]*/ "cntc_type_brand", "data": "cntc_type_brand", "width": cntc_type_brand_width, "className": cntc_type_brand_class},
                /*4*/{"title": /*[[#{part_world.trans.cntc_type_number}]]*/ "cntc_type_number", "data": "cntc_type_number", "width": cntc_type_number_width, "className": cntc_type_number_class}
        ],
        pageLength: 25,
        copy_button: false,
        excel_button: false,
        pdf_button: false,
        print_button: false
    };

    function part_world_translink_switchControl(){
        if(vFLGClaimTransLinkValue.rowdata.clmtrl_id != null) {
            vFLGClaimTransWaysValue.rowdata.clm_id = vFLGClaimsValue.rowdata.clm_id;
            vFLGClaimTransWaysValue.rowdata.clmtrl_id = vFLGClaimTransLinkValue.rowdata.clmtrl_id;
            vFLGClaimTransWaysValue.rowdata.clmtwl_id = null;
            $(vFLGClaimTransWaysValue.table).DataTable().ajax.reload();

            if(RoleOPS || RoleChiefOPS) {
                    $("#part-world-transways-downbtn").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
                    $("#part-world-transways-clearbtn").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
                    $("#part-world-transways-addbtn").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');

                    $("#part-world-transways-downbtn-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
                    $("#part-world-transways-clearbtn-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
                    $("#part-world-transways-addbtn-sx").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
            }
        } else{
            vFLGClaimTransWaysValue.rowdata.clm_id = vFLGClaimsValue.rowdata.clm_id;
            vFLGClaimTransWaysValue.rowdata.clmtrl_id = null;
            vFLGClaimTransWaysValue.rowdata.clmtwl_id = null;
            $(vFLGClaimTransWaysValue.table).DataTable().clear().draw();

            $("#part-world-transways-downbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            $("#part-world-transways-clearbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            $("#part-world-transways-addbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');

            $("#part-world-transways-downbtn-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            $("#part-world-transways-clearbtn-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            $("#part-world-transways-addbtn-sx").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
        }
    }

    $('.part_world_translink_btn_control').on('click', function (){
        $("#part-world-translink-detail input[name=mode]").val($(this).attr("mode"));
    });

    $('#part-world-translink-detail').submit(function() {
        vFLGClaimTransLinkValue.rowdata.part_world_translink_table_order_column = $(vFLGClaimTransLinkValue.table).DataTable().order()[0][0];
        vFLGClaimTransLinkValue.rowdata.part_world_translink_table_order_type = $(vFLGClaimTransLinkValue.table).DataTable().order()[0][1];
        vFLGClaimTransLinkValue.rowdata.part_world_translink_table_search = $(vFLGClaimTransLinkValue.table).DataTable().search();
        vFLGClaimTransLinkValue.rowdata.part_world_translink_table_pagelen = $(vFLGClaimTransLinkValue.table).DataTable().page.len();
        vFLGClaimTransLinkValue.rowdata.part_world_translink_table_page = $(vFLGClaimTransLinkValue.table).DataTable().page.info().page;
        <!-- Recreate Contragent Ajax Filter Value -->

        vFLGClaimTransLinkValue.rowdata.clm_id = vFLGClaimsValue.rowdata.clm_id;
        vFLGClaimTransLinkValue.rowdata.clm_num = vFLGClaimsValue.rowdata.clm_num;
        vFLGClaimTransLinkValue.rowdata.cnt_name = vFLGClaimsValue.rowdata.cnt_name;

        Object.keys(vFLGClaimTransLinkValue.rowdata).forEach(function (index) {
            $("#part-world-translink-detail").append("<input name=\"" + index + "\" hidden>");
            $("#part-world-translink-detail input[name=\"" + index + "\"]").val(vFLGClaimTransLinkValue.rowdata[index]);
        });
    });

    $(document).ready(function(){
        vFLGClaimTransLinkValue.rowdata.clm_id = /*[[${clm_id}]]*/ null;
        vFLGClaimTransLinkValue.rowdata.clmtrl_id = /*[[${clmtrl_id}]]*/ null;

        vFLGClaimTransLinkValue.rowdata.table_order_column = /*[[${table_order_column}]]*/ null;
        vFLGClaimTransLinkValue.rowdata.table_order_type = /*[[${table_order_type}]]*/ null;
        vFLGClaimTransLinkValue.rowdata.table_search = /*[[${table_search}]]*/ null;
        vFLGClaimTransLinkValue.rowdata.table_pagelen = /*[[${table_pagelen}]]*/ null;
        vFLGClaimTransLinkValue.rowdata.table_page = /*[[${table_page}]]*/ null;

        recreateDataTable(vFLGClaimTransLinkValue);
    });
</script>

</body>
</html>