<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="part_world_wh_modal_body" th:remove="tag">
    <div class="modal fade was-validated" id="part_world_wh_modal" data-toggle="validator" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" id="part_world_wh_modal_detail">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{part_world.costs.caption}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body m-1">
                    <div class="form-row">
                        <input type="hidden" id="part_world_wh_modal_mode">

                        <div class="col-12 col-md-3 mb-1" id="part_world_wh_clm_id_row">
                            <label for="part_world_wh_clm_id" class="form-label" th:text="'1. '+ #{part_world.main.clm_id}"></label>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <input type="number" class="form-control" id="part_world_wh_clm_id" name="part_world_wh_clm_id" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                        <div class="col-12 col-md-3 mb-1" id="part_world_wh_clm_num_row">
                            <label for="part_world_wh_clm_num" class="form-label" th:text="'2. '+ #{part_world.main.clm_num}"></label>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <input type="text" maxlength="16" class="form-control" id="part_world_wh_clm_num" name="part_world_wh_clm_num" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                        <div class="col-12 col-md-6 mb-1" id="part_world_wh_cnt_name_row">
                            <label for="part_world_wh_cnt_name" class="form-label" th:text="'3. '+ #{part_world.main.cnt_name}"></label>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <input type="text" class="form-control" id="part_world_wh_cnt_name" name="part_world_wh_cnt_name" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                    </div> <!-- Row 1 -->

                    <div class="form-row">
                        <div class="col-12 col-md-3 mb-1" id="part_world_wh_clmwhl_id_row">
                            <label for="part_world_wh_clmwhl_id" class="form-label" th:text="'4. '+ #{part_world.wh.clmwhl_id}"></label>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <input type="number" class="form-control" id="part_world_wh_clmwhl_id" name="part_world_wh_clmwhl_id" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>

                        <div class="col-12 col-md-6 mb-1" id="part_world_wh_clm_load_name_row">
                            <label for="part_world_wh_clm_load_name" class="form-label" th:text="'5. '+ #{part_world.wh.clm_load_name}"></label>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <input type="text" maxlength="32" class="form-control" id="part_world_wh_clm_load_name" name="part_world_wh_clm_load_name" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                    </div> <!-- Row 2 -->

                    <div class="form-row">
                        <div class="col-12 col-md-3 mb-1" id="clmwhl_start_date_row">
                            <label for="clmwhl_start_date" class="form-label" th:text="'6. '+ #{part_world.wh.clmwhl_start_date}"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="clmwhl_start_date" name="clmwhl_start_date">
                                <button type="button" id="clmwhl_start_date_x" name="clmwhl_start_date_x" class="btn btn-outline-primary"><i class="fas fa-times"></i></button>
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                        </div>  

                        <div class="col-12 col-md-3 mb-1" id="clmwhl_end_date_row">
                            <label for="clmwhl_end_date" class="form-label" th:text="'7. '+ #{part_world.wh.clmwhl_end_date}"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="clmwhl_end_date" name="clmwhl_end_date">
                                <button type="button" id="clmwhl_end_date_x" name="clmwhl_end_date_x" class="btn btn-outline-primary"><i class="fas fa-times"></i></button>
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                        </div>                        
                    </div> <!-- Row 3 -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="part_world_wh_modal_closebtn" class="btn btn-outline-dark mr-1" data-dismiss="modal" th:text="#{general.back}"></button>
                    <button type="button" id="part_world_wh_modal_addbtn" class="btn btn-outline-primary" th:text="#{general.addbtn}" hidden></button>
                    <button type="button" id="part_world_wh_modal_editbtn" class="btn btn-outline-primary" th:text="#{general.editbtn}" hidden></button>
                    <button type="button" id="part_world_wh_modal_delbtn" class="btn btn-outline-primary" th:text="#{general.delbtn}" hidden></button>
                </div>
            </div>
        </div>
    </div>
</span>

<script th:fragment="cardscript" th:inline="javascript">

// Clear Fields
    function clear_part_world_wh_modal_detail() {
        $("#part_world_wh_modal_detail input[type=text]").val('');
        $("#part_world_wh_modal_detail input[type=number]").val('');
        $("#part_world_wh_modal_detail select").empty();
        $("#part_world_wh_modal_detail textarea").val('');
    }
// Block And Required Fields
    function block_part_world_wh_modal_detail() {

        if($('#part_world_wh_modal_mode').val() === "0"){
        }
        else if($('#part_world_wh_modal_mode').val() === "1"){
            $('#clmwhl_start_date').removeAttr('disabled');
            $('#clmwhl_start_date_x').attr('disabled',false).addClass('btn-outline-primary').removeClass('btn-outline-dark');
            $('#clmwhl_end_date').removeAttr('disabled');
            $('#clmwhl_end_date_x').attr('disabled',false).addClass('btn-outline-primary').removeClass('btn-outline-dark');
        }
        else{
        }
    }
//WH Start Date
$("#clmwhl_start_date").daterangepicker({
    "singleDatePicker": true,
    "locale": {
        "format": "DD.MM.YYYY",
        "separator": " - ",
        "applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
        "cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel":  /*[[#{datapicker.week}]]*/ "W",
        "daysOfWeek": [
            /*[[#{weekdays.07_short}]]*/ "Su",
            /*[[#{weekdays.01_short}]]*/ "Mo",
            /*[[#{weekdays.02_short}]]*/ "Tu",
            /*[[#{weekdays.03_short}]]*/ "We",
            /*[[#{weekdays.04_short}]]*/ "Th",
            /*[[#{weekdays.05_short}]]*/ "Fr",
            /*[[#{weekdays.06_short}]]*/ "Sa"
        ],
        "monthNames": [
            /*[[#{month.01}]]*/ "January",
            /*[[#{month.02}]]*/ "February",
            /*[[#{month.03}]]*/ "March",
            /*[[#{month.04}]]*/ "April",
            /*[[#{month.05}]]*/ "May",
            /*[[#{month.06}]]*/ "June",
            /*[[#{month.07}]]*/ "July",
            /*[[#{month.08}]]*/ "August",
            /*[[#{month.09}]]*/ "September",
            /*[[#{month.10}]]*/ "October",
            /*[[#{month.11}]]*/ "November",
            /*[[#{month.12}]]*/ "December"
        ],
        "firstDay": 1
    }
});

$('#clmwhl_start_date_x').on('click', function() {
    $('#clmwhl_start_date').empty().val('');
});
//WH End Date
$("#clmwhl_end_date").daterangepicker({
    "singleDatePicker": true,
    "locale": {
        "format": "DD.MM.YYYY",
        "separator": " - ",
        "applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
        "cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel":  /*[[#{datapicker.week}]]*/ "W",
        "daysOfWeek": [
            /*[[#{weekdays.07_short}]]*/ "Su",
            /*[[#{weekdays.01_short}]]*/ "Mo",
            /*[[#{weekdays.02_short}]]*/ "Tu",
            /*[[#{weekdays.03_short}]]*/ "We",
            /*[[#{weekdays.04_short}]]*/ "Th",
            /*[[#{weekdays.05_short}]]*/ "Fr",
            /*[[#{weekdays.06_short}]]*/ "Sa"
        ],
        "monthNames": [
            /*[[#{month.01}]]*/ "January",
            /*[[#{month.02}]]*/ "February",
            /*[[#{month.03}]]*/ "March",
            /*[[#{month.04}]]*/ "April",
            /*[[#{month.05}]]*/ "May",
            /*[[#{month.06}]]*/ "June",
            /*[[#{month.07}]]*/ "July",
            /*[[#{month.08}]]*/ "August",
            /*[[#{month.09}]]*/ "September",
            /*[[#{month.10}]]*/ "October",
            /*[[#{month.11}]]*/ "November",
            /*[[#{month.12}]]*/ "December"
        ],
        "firstDay": 1
    }
});

$('#clmwhl_end_date_x').on('click', function() {
    $('#clmwhl_end_date').empty().val('');
});
// Load Function
    function fill_part_world_wh_modal_detail(aMode){
        $('#part_world_wh_modal_mode').val(aMode);
        clear_part_world_wh_modal_detail();
        block_part_world_wh_modal_detail();

        $('#part_world_wh_clm_id').val(vFLGClaimsValue.rowdata.clm_id);
        $('#part_world_wh_clm_num').val(vFLGClaimsValue.rowdata.clm_num);
        $('#part_world_wh_cnt_name').val(vFLGClaimsValue.rowdata.cnt_name);

        if(aMode !== 0) {
            $('#part_world_wh_clmwhl_id').val(vFLGClaimWHValue.rowdata.clmwhl_id);
            $('#part_world_wh_clm_load_name').val(vFLGClaimWHValue.rowdata.clm_load_name);
            $('#clmwhl_start_date').val(vFLGClaimWHValue.rowdata.clmwhl_start_date);
            $('#clmwhl_end_date').val(vFLGClaimWHValue.rowdata.clmwhl_end_date);

            $('#part_world_wh_modal').modal('show');
        }
        else {
        }
    }
// Add button script
$('#part_world_wh_modal_addbtn').click(function(){
    var MainRowID = vFLGClaimsValue.rowdata.clm_id;
    var RowID = vFLGClaimWHValue.rowdata.clmcl_id;

    $.ajax({
        url: /*[[ @{/part_world/add_costs} ]]*/ "/clients/add_costs",
        type: 'POST',
        data: {
            "clm_id": MainRowID
        },
        success: function (result) {
            $('#part_world_wh_modal').modal('hide');
            vFLGClaimWHValue.rowdata.clm_id = MainRowID;
            vFLGClaimWHValue.rowdata.clmwhl_id = RowID;
            $(vFLGClaimWHValue.table).DataTable().ajax.reload(null, false);
            vFLGClaimErrorsValue.rowdata.clm_id = MainRowID;
            $(vFLGClaimErrorsValue.table).DataTable().ajax.reload(null, false);
            vFLGClaimsValue.rowdata.clm_id = MainRowID;
            $(vFLGClaimsValue.table).DataTable().ajax.reload(null, false);
        }
    });
});

// Edit button script
$('#part_world_wh_modal_editbtn').click(function(){
    var MainRowID = vFLGClaimsValue.rowdata.clm_id;
    var RowID = vFLGClaimWHValue.rowdata.clmwhl_id;

    $.ajax({
        url: /*[[ @{/part_world/edit_wh} ]]*/ "/clients/edit_wh",
        type: 'POST',
        data: {
            "clmwhl_id": RowID,
            "clmwhl_start_date":  $('#clmwhl_start_date').val(),
            "clmwhl_end_date":  $('#clmwhl_end_date').val()
        },
        success: function (result) {
            $('#part_world_wh_modal').modal('hide');
            vFLGClaimWHValue.rowdata.clm_id = MainRowID;
            vFLGClaimWHValue.rowdata.clmwhl_id = RowID;
            $(vFLGClaimWHValue.table).DataTable().ajax.reload(null, false);
        }
    });
});

// Del button script
$('#part_world_wh_modal_delbtn').click(function(){
    var MainRowID = vFLGClaimsValue.rowdata.clm_id;
    var RowID = vFLGClaimWHValue.rowdata.clmwhl_id;

    $.ajax({
        url: /*[[ @{/part_world/del_costs} ]]*/ "/clients/del_costs",
        type: 'POST',
        data: {
            "clmwhl_id": RowID
        },
        success: function (result) {
            $('#part_world_wh_modal').modal('hide');
            vFLGClaimWHValue.rowdata.clm_id = MainRowID;
            vFLGClaimWHValue.rowdata.clmwhl_id = RowID;
            $(vFLGClaimWHValue.table).DataTable().ajax.reload(null, false);
            vFLGClaimErrorsValue.rowdata.clm_id = MainRowID;
            $(vFLGClaimErrorsValue.table).DataTable().ajax.reload(null, false);
            vFLGClaimsValue.rowdata.clm_id = MainRowID;
            $(vFLGClaimsValue.table).DataTable().ajax.reload(null, false);
        }
    });
});
</script>

</body>
</html>