<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="full_world_costs_modal_body" th:remove="tag">
    <div class="modal fade was-validated" id="full_world_costs_modal" data-toggle="validator" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="hidden">
                <input type="hidden" id="mode">
            </div>

            <div class="modal-content" id="full_world_costs_modal_detail">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{full_world.costs.caption}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body m-1">
                    <form id="full_world_costs_modal_form" name="full_world_costs_modal_form" class="was-validated" novalidate>
                    <input type="hidden" id="full_world_costs_modal_mode">
                      <div class="form-row">
                        <div class="col-12 col-md-2 mb-1" id="full_world_costs_modal_clm_id_row">
                            <label for="full_world_costs_modal_clm_id" class="form-label" th:text="#{full_world.main.clm_id}"></label>
                            <input type="number" class="form-control" id="full_world_costs_modal_clm_id" name="full_world_costs_modal_clm_id" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                        <div class="col-12 col-md-3 mb-1" id="full_world_costs_modal_clm_num_row">
                            <label for="full_world_costs_modal_clm_num" class="form-label" th:text="'1. '+ #{full_world.main.clm_num}"></label>
                            <input type="text" maxlength="16" class="form-control" id="full_world_costs_modal_clm_num" name="full_world_costs_modal_clm_num" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                        <div class="col-12 col-md-7 mb-1" id="full_world_costs_modal_cnt_name_row">
                            <label for="full_world_costs_modal_cnt_name" class="form-label" th:text="'2. '+ #{full_world.main.cnt_name}"></label>
                            <input type="text" class="form-control" id="full_world_costs_modal_cnt_name" name="full_world_costs_modal_cnt_name" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                    </div> <!-- Row 1 -->

                    <div class="form-row">
                        <div class="col-12 col-md-2 mb-1" id="clmcl_id_row">
                            <label for="clmcl_id" class="form-label" th:text="#{full_world.costs.clmcl_id}"></label>
                            <input type="number" class="form-control" id="clmcl_id" name="clmcl_id">
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                        <div class="col-12 col-md-5 mb-1">
                            <label for="clmc_type_id" class="mr-2" th:text="'3. '+#{full_world.costs.clmc_type_sname}">Service: </label>
                            <select type="text" id="clmc_type_id" name="clmc_type_id" class="form-control p-1">
                                <option
                                ></option>
                            </select>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                    </div> <!-- Row 2 -->

                    <div class="form-row">
                        <div class="col-12 col-md-3 mb-1" id="clm_load_weight_row">
                            <label for="clmcl_sum" class="form-label" th:text="'4. '+ #{full_world.costs.clmcl_sum}"></label>
                            <input type="text" maxlength="16" class="form-control" id="clmcl_sum" name="clmcl_sum">
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                        <div class="col-12 col-md-3 mb-1" id="full_world_costs_modal_currency_row">
                            <label for="full_world_costs_modal_currency_id" class="mr-2" th:text="'5. '+#{full_world.costs.currenсy_id}">Currency: </label>
                            <select id="full_world_costs_modal_currency_id" name="full_world_costs_modal_currency_id" class="form-control">
                            </select>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                        <div class="col-12 col-md-3 mb-1" id="clm_sum_currency_date_row">
                            <label for="full_world_costs_modal_currency_date" class="form-label" th:text="'6. '+ #{full_world.costs.currency_date}"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="full_world_costs_modal_currency_date" name="full_world_costs_modal_currency_date">
                                <button type="button" id="full_world_costs_modal_currency_date_x" name="full_world_costs_modal_currency_date_x" class="btn btn-outline-primary"><i class="fas fa-times"></i></button>
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                        </div>
                    </div> <!-- Row 3 -->

                    <div class="form-row">
                        <div class="col-12 mb-1">
                            <label for="clmcl_note" th:text="'7. '+#{full_world.costs.clmcl_note}"></label>
                            <textarea class="form-control" rows="5" maxlength="512" style="resize:none;" id="clmcl_note" name="clmcl_note">
                            </textarea>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                    </div>  <!-- Row 4 -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="full_world_costs_modal_closebtn" class="btn btn-outline-dark mr-1" data-dismiss="modal" th:text="#{general.back}"></button>
                    <button type="button" id="full_world_costs_modal_addbtn" class="btn btn-outline-primary" th:text="#{general.addbtn}" hidden></button>
                    <button type="button" id="full_world_costs_modal_editbtn" class="btn btn-outline-primary" th:text="#{general.editbtn}" hidden></button>
                    <button type="button" id="full_world_costs_modal_delbtn" class="btn btn-outline-primary" th:text="#{general.delbtn}" hidden></button>
                </div>
            </div>
        </div>
    </div>
</span>

<script th:fragment="cardscript" th:inline="javascript">

    // Clear Fields
    function clear_full_world_costs_modal_detail() {
        $("#full_world_costs_modal_detail input[type=text]").val('');
        $("#full_world_costs_modal_detail input[type=number]").val('');
        $("#full_world_costs_modal_detail select").empty();
        $("#full_world_costs_modal_detail textarea").val('');
    }

    // Block And Required Fields
    function block_full_world_costs_modal_detail(){
        $('#clmcl_sum').attr('required',true);
        $('#full_world_costs_modal_currency_id').attr('required',true);

        if($('#full_world_costs_modal_mode').val() === "0"){
            $('#full_world_costs_modal_clm_id_row').attr('hidden',true);
            $('#clmcl_id_row').attr('hidden',true);

            $('#clmcl_sum').removeAttr('readonly');
            $('#full_world_costs_modal_currency_id').removeAttr('disabled');
            $('#full_world_costs_modal_currency_date').removeAttr('disabled');
            $('#full_world_costs_modal_currency_date_x').removeAttr('disabled').addClass('btn-outline-primary').removeClass('btn-outline-dark');
            $('#clmcl_note').removeAttr('readonly');
        }
        else if($('#full_world_costs_modal_mode').val() === "1"){
            $('#full_world_costs_modal_clm_id_row').attr('hidden',true);
            $('#clmcl_id_row').attr('hidden',true);

            $('#clmcl_sum').removeAttr('readonly');
            $('#full_world_costs_modal_currency_id').removeAttr('disabled');
            $('#full_world_costs_modal_currency_date').removeAttr('disabled');
            $('#full_world_costs_modal_currency_date_x').removeAttr('disabled').addClass('btn-outline-primary').removeClass('btn-outline-dark');
            $('#clmcl_note').removeAttr('readonly');
        }
        else{
            $('#full_world_costs_modal_clm_id_row').attr('hidden',true);
            $('#clmcl_id_row').attr('hidden',true);
            $('#clmc_type_id').attr('disabled',true);

            $('#clmcl_sum').attr('readonly',true);
            $('#full_world_costs_modal_currency_id').attr('disabled',true);
            $('#full_world_costs_modal_currency_date').attr('disabled',true);
            $('#full_world_costs_modal_currency_date_x').attr('disabled',true).removeClass('btn-outline-primary').addClass('btn-outline-dark');
            $('#clmcl_note').attr('readonly',true);
        }
    }

    function costsTypeListChange(vMode,vClmCostTypeID) {
        $('#clmc_type_id').empty();
        return Promise.resolve($.ajax({
            url:/*[[@{'/full_world/get_costs_type'}]]*/ "/full_world/get_costs_type",
            type: "get",
            data: {
                "mode": vMode,
                "clmc_type_id": vClmCostTypeID
            },
            success: function (clmc_type_list) {
                for (var i = 0; i < clmc_type_list.data.length; i++) {
                    $("select[name='clmc_type_id']").find('option').end().append(
                        "<option value='" + clmc_type_list.data[i].clmc_type_id
                        + "'>" + clmc_type_list.data[i].clmc_type_name + "</option>");
                }
            }
        }));
    }

    // Currency List
    function costsCurrencyChange(vMode,vCostCurrencyID) {
        $('#full_world_costs_modal_currency_id').empty();
        return Promise.resolve($.ajax({
            url:/*[[@{'/full_world/get_currency_list'}]]*/ "/full_world/get_currency_list",
            type: "get",
            data: {
                "mode": vMode
            },
            success: function (costs_modal_currency_list) {
                for (var i = 0; i < costs_modal_currency_list.data.length; i++) {
                    if(i === 0) {
                        $("select[name='full_world_costs_modal_currency_id']").find('option').end().append("<option value=''></option>");
                    }
                    $("select[name='full_world_costs_modal_currency_id']").find('option').end().append(
                        "<option value='" + costs_modal_currency_list.data[i].currency_id
                        + "'>" + costs_modal_currency_list.data[i].currency_name + "</option>");
                }
                if(vCostCurrencyID != null){
                    $("#full_world_costs_modal_currency_id").val(vCostCurrencyID);
                }
            }
        }));
    }

    // Rate Currency Date
    $("#full_world_costs_modal_currency_date").daterangepicker({
        "singleDatePicker": true,
        "locale": {
            "format": "DD.MM.YYYY",
            "separator": " - ",
            "applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
            "cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel":  /*[[#{datapicker.week}]]*/ "W",
            "daysOfWeek": [
                /*[[#{weekdays.07_short}]]*/ "Su",
                /*[[#{weekdays.01_short}]]*/ "Mo",
                /*[[#{weekdays.02_short}]]*/ "Tu",
                /*[[#{weekdays.03_short}]]*/ "We",
                /*[[#{weekdays.04_short}]]*/ "Th",
                /*[[#{weekdays.05_short}]]*/ "Fr",
                /*[[#{weekdays.06_short}]]*/ "Sa"
            ],
            "monthNames": [
                /*[[#{month.01}]]*/ "January",
                /*[[#{month.02}]]*/ "February",
                /*[[#{month.03}]]*/ "March",
                /*[[#{month.04}]]*/ "April",
                /*[[#{month.05}]]*/ "May",
                /*[[#{month.06}]]*/ "June",
                /*[[#{month.07}]]*/ "July",
                /*[[#{month.08}]]*/ "August",
                /*[[#{month.09}]]*/ "September",
                /*[[#{month.10}]]*/ "October",
                /*[[#{month.11}]]*/ "November",
                /*[[#{month.12}]]*/ "December"
            ],
            "firstDay": 1
        }
    });

    // Load Function
    function fill_full_world_costs_modal_detail(aMode){
        clear_full_world_costs_modal_detail();
        $('#full_world_costs_modal_mode').val(aMode);
        block_full_world_costs_modal_detail();

        $('#full_world_costs_modal_clm_id').val(vClaimsValue.rowdata.clm_id);
        $('#full_world_costs_modal_clm_num').val(vClaimsValue.rowdata.clm_num);
        $('#full_world_costs_modal_cnt_name').val(vClaimsValue.rowdata.cnt_name);

        if(aMode === 0) {
            $.when(
                costsTypeListChange(aMode,0),
                costsCurrencyChange(aMode,978)
            ).then(function () {
                $('#clmcl_sum').val('0,00');
                $('#full_world_costs_modal').modal('show');
            });
        }
        else if (aMode >= 1) {
            $.ajax({
                url:/*[[@{'/full_world/get_costs_detail'}]]*/ "full_world/get_costs_detail",
                type: "get",
                data: {
                    "mode": aMode,
                    "clmcl_id": vClaimCostsValue.rowdata.clmcl_id
                },
                success: function (full_world_costs_modal_detail) {
                    $.when(
                        costsTypeListChange(aMode,full_world_costs_modal_detail.data[0].clmc_type_id),
                        costsCurrencyChange(aMode,full_world_costs_modal_detail.data[0].currency_id)
                    ).then(function () {
                        $('#clmc_type_id').val(full_world_costs_modal_detail.data[0].clmc_type_id);
                        $('#clmcl_sum').val(full_world_costs_modal_detail.data[0].clmcl_sum);
                        $('#full_world_costs_modal_currency_date').val(full_world_costs_modal_detail.data[0].currency_date);
                        $('#clmcl_note').val(full_world_costs_modal_detail.data[0].clmcl_note);
                        $('#full_world_costs_modal').modal('show');
                    });
                }
            });
        }
    }

    // Add button function
    function addFullWorldCosts(){
        let MainRowID = vClaimsValue.rowdata.clm_id;
        let RowID = vClaimCostsValue.rowdata.clmcl_id;
        $.ajax({
            url: /*[[ @{/full_world/add_costs} ]]*/ "/full_world/add_costs",
            type: 'POST',
            data: {
                "clm_id": MainRowID,
                "clmc_type_id": $('#clmc_type_id').val(),
                "clmcl_sum":  $('#clmcl_sum').val(),
                "currency_id":  $('#full_world_costs_modal_currency_id').val(),
                "currency_date":  $('#full_world_costs_modal_currency_date').val(),
                "clmcl_note":  $('#clmcl_note').val()
            },
            success: function (result) {
                $('#full_world_costs_modal').modal('hide');
                vClaimCostsValue.rowdata.clm_id = MainRowID;
                vClaimCostsValue.rowdata.clmcl_id = RowID;
                $(vClaimCostsValue.table).DataTable().ajax.reload(null, false);
            }
        });
    }

    // Edit button function
    function editFullWorldCosts(){
        let MainRowID = vClaimsValue.rowdata.clm_id;
        let RowID = vClaimCostsValue.rowdata.clmcl_id;
        $.ajax({
            url: /*[[ @{/full_world/edit_costs} ]]*/ "/full_world/edit_costs",
            type: 'POST',
            data: {
                "clmcl_id": RowID,
                "clmc_type_id": $('#clmc_type_id').val(),
                "clmcl_sum":  $('#clmcl_sum').val(),
                "currency_id":  $('#full_world_costs_modal_currency_id').val(),
                "currency_date":  $('#full_world_costs_modal_currency_date').val(),
                "clmcl_note":  $('#clmcl_note').val()
            },
            success: function (result) {
                $('#full_world_costs_modal').modal('hide');
                vClaimCostsValue.rowdata.clm_id = MainRowID;
                vClaimCostsValue.rowdata.clmcl_id = RowID;
                $(vClaimCostsValue.table).DataTable().ajax.reload(null, false);
            }
        });
    }

    // Del button function
    function delFullWorldCosts(){
        let MainRowID = vClaimsValue.rowdata.clm_id;
        let RowID = vClaimCostsValue.rowdata.clmcl_id;
        $.ajax({
            url: /*[[ @{/full_world/del_costs} ]]*/ "/full_world/del_costs",
            type: 'POST',
            data: {
                "clmcl_id": RowID
            },
            success: function (result) {
                $('#full_world_costs_modal').modal('hide');
                vClaimCostsValue.rowdata.clm_id = MainRowID;
                vClaimCostsValue.rowdata.clmcl_id = RowID;
                $(vClaimCostsValue.table).DataTable().ajax.reload(null, false);
            }
        });
    }

    // Add button script
    $('#full_world_costs_modal_addbtn').click(function(){
        $('#full_world_costs_modal_form').submit();
    });
    // Edit button script
    $('#full_world_costs_modal_editbtn').click(function(){
        $('#full_world_costs_modal_form').submit();
    });
    // Del button script
    $('#full_world_costs_modal_delbtn').click(function(){
        $('#full_world_costs_modal_form').submit();
    });

    //Validation Form
    $('#full_world_costs_modal_form').validate({
        rules: {
            // amount: {
            //     //money: true, // not a valid rule
            //     required: true
            // },
            // comment: {
            //     required: false
            // }
        },
        errorPlacement: function(error,element) {
            return true;
        },
        submitHandler: function (form) {
            if($('#full_world_costs_modal_mode').val() === '0') {
                addFullWorldCosts();
            }
            else if($('#full_world_costs_modal_mode').val() === '1') {
                editFullWorldCosts();
            }
            else if($('#full_world_costs_modal_mode').val() === '2') {
                delFullWorldCosts();
            }
            return false;
        }
    });

    // OnClick Function
    $('#full_world_costs_modal_currency_date_x').click(function() {
        $('#full_world_costs_modal_currency_date').empty().val('');
    });
</script>

</body>
</html>