<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="full_world_notes_modal_body" th:remove="tag">
    <div class="modal fade was-validated" id="full_world_notes_modal" data-toggle="validator" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="hidden">
                <input type="hidden" id="mode">
            </div>

            <div class="modal-content" id="full_world_notes_modal_detail">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{full_world.notes.caption}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body m-1">
                    <form id="full_world_notes_modal_form" name="full_world_notes_modal_form" class="was-validated" novalidate>
                    <input type="hidden" id="full_world_notes_modal_mode">
                      <div class="form-row">
                        <div class="col-12 col-md-2 mb-1" id="full_world_notes_modal_clm_id_row">
                            <label for="full_world_notes_modal_clm_id" class="form-label" th:text="#{full_world.main.clm_id}"></label>
                            <input type="number" class="form-control" id="full_world_notes_modal_clm_id" name="full_world_notes_modal_clm_id" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                        <div class="col-12 col-md-3 mb-1" id="full_world_notes_modal_clm_num_row">
                            <label for="full_world_notes_modal_clm_num" class="form-label" th:text="'1. '+ #{full_world.main.clm_num}"></label>
                            <input type="text" maxlength="16" class="form-control" id="full_world_notes_modal_clm_num" name="full_world_notes_modal_clm_num" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                        <div class="col-12 col-md-7 mb-1" id="full_world_notes_modal_cnt_name_row">
                            <label for="full_world_notes_modal_cnt_name" class="form-label" th:text="'2. '+ #{full_world.main.cnt_name}"></label>
                            <input type="text" class="form-control" id="full_world_notes_modal_cnt_name" name="full_world_notes_modal_cnt_name" readonly>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                    </div> <!-- Row 1 -->

                    <div class="form-row">
                        <div class="col-12 col-md-2 mb-1" id="clmnl_id_row">
                            <label for="clmnl_id" class="form-label" th:text="#{full_world.notes.clmnl_id}"></label>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <input type="number" class="form-control" id="clmnl_id" name="clmnl_id" th:value="${clmnl_id}">
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>

                        <div class="col-12 col-md-5 mb-1">
                            <label for="clm_notes_type_id" class="mr-2" th:text="'3. '+#{full_world.notes.clm_notes_type_name}">Types: </label>
                            <select type="text" id="clm_notes_type_id" name="clm_notes_type_id" class="form-control p-1">
                                <option
                                ></option>
                            </select>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                    </div> <!-- Row 2 -->

                    <div class="form-row">
                        <div class="col-12 mb-1">
                            <label for="clmnl_text" th:text="'4. '+#{full_world.notes.clmnl_text}"></label>
                            <textarea class="form-control" rows="5" maxlength="512" style="resize:none;" id="clmnl_text" name="clmnl_text">
                            </textarea>
                            <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                            <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                        </div>
                    </div>  <!-- Row 3 -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="full_world_notes_modal_closebtn" class="btn btn-outline-dark mr-1" data-dismiss="modal" th:text="#{general.back}"></button>
                    <button type="button" id="full_world_notes_modal_addbtn" class="btn btn-outline-primary" th:text="#{general.addbtn}" hidden></button>
                    <button type="button" id="full_world_notes_modal_editbtn" class="btn btn-outline-primary" th:text="#{general.editbtn}" hidden></button>
                    <button type="button" id="full_world_notes_modal_delbtn" class="btn btn-outline-primary" th:text="#{general.delbtn}" hidden></button>
                </div>
            </div>
        </div>
    </div>
</span>

<script th:fragment="cardscript" th:inline="javascript">

    // Clear Fields
    function clear_full_world_notes_modal_detail() {
        $("#full_world_notes_modal_detail input[type=text]").val('');
        $("#full_world_notes_modal_detail input[type=number]").val('');
        $("#full_world_notes_modal_detail select").empty();
        $("#full_world_notes_modal_detail textarea").val('');
    }

    // Block And Required Fields
    function block_full_world_notes_modal_detail(){
        if($('#full_world_notes_modal_mode').val() === "0"){
            $('#full_world_notes_modal_clm_id_row').attr('hidden',true);
            $('#clmnl_id_row').attr('hidden',true);
            $('#clm_notes_type_id').removeAttr('disabled');
            $('#clmnl_text').removeAttr('readOnly');
        }
        else if($('#full_world_notes_modal_mode').val() === "1"){
            $('#full_world_notes_modal_clm_id_row').attr('hidden',true);
            $('#clmnl_id_row').attr('hidden',true);
            $('#clm_notes_type_id').removeAttr('disabled');
            $('#clmnl_text').removeAttr('readOnly');
        }
        else{
            $('#full_world_notes_modal_clm_id_row').attr('hidden',true);
            $('#clmnl_id_row').attr('hidden',true);
            $('#clm_notes_type_id').attr('disabled',true);
            $('#clmnl_text').prop('readOnly',true);
        }
    }
    // Service List
    function notesTypeListChange(vMode,vClmID,vClmNotesTypeID) {
        $('#clm_notes_type_id').empty();
        return Promise.resolve($.ajax({
            url:/*[[@{'/full_world/get_notes_type_list'}]]*/ "/full_world/get_notes_type_list",
            type: "get",
            data: {
                "mode": vMode,
                "clm_id": vClmID,
                "clm_notes_type_id": vClmNotesTypeID
            },
            success: function (notes_type_list) {
                for (var i = 0; i < notes_type_list.data.length; i++) {
                    $("select[name='clm_notes_type_id']").find('option').end().append(
                        "<option value='" + notes_type_list.data[i].clm_notes_type_id
                        + "'>" + notes_type_list.data[i].clm_notes_type_name + "</option>");
                }
            }
        }));
    }
    // Load Function
    function fill_full_world_notes_modal_detail(aMode){
        clear_full_world_notes_modal_detail();
        $('#full_world_notes_modal_mode').val(aMode);
        block_full_world_notes_modal_detail();

        let MainRowID = vClaimsValue.rowdata.clm_id;
        let RowID = vClaimNotesValue.rowdata.clmnl_id;

        $('#full_world_notes_modal_clm_id').val(vClaimsValue.rowdata.clm_id);
        $('#full_world_notes_modal_clm_num').val(vClaimsValue.rowdata.clm_num);
        $('#full_world_notes_modal_cnt_name').val(vClaimsValue.rowdata.cnt_name);

        if(aMode === 0) {
            $.when(
                notesTypeListChange(aMode,MainRowID,0)
            ).then(function () {
                $('#clmnl_text').val('');
                $('#full_world_notes_modal').modal('show');
            });
        }
        else if(aMode >= 1){
            $.when(
                notesTypeListChange(aMode,MainRowID,vClaimNotesValue.rowdata.clm_notes_type_id)
            ).then(function () {
                $('#clmnl_id').val(RowID);
                $('#clmnl_text').val(vClaimNotesValue.rowdata.clmnl_text);
                $('#full_world_notes_modal').modal('show');
            });
        }
    }

// Add button function
    function addFullWorldNotes(){
        let MainRowID = vClaimsValue.rowdata.clm_id;
        let RowID = vClaimNotesValue.rowdata.clmnl_id;
        $.ajax({
            url: /*[[ @{/full_world/add_notes} ]]*/ "/full_world/add_notes",
            type: 'POST',
            data: {
                "clm_id": MainRowID,
                "clm_notes_type_id": $('#clm_notes_type_id').val(),
                "clmnl_text":  $('#clmnl_text').val()
            },
            success: function (result) {
                $('#full_world_notes_modal').modal('hide');
                vClaimNotesValue.rowdata.clm_id = MainRowID;
                vClaimNotesValue.rowdata.clmnl_id = RowID;
                $(vClaimNotesValue.table).DataTable().ajax.reload(null, false);
            }
        });
    }

// Edit button function
    function editFullWorldNotes(){
        let MainRowID = vClaimsValue.rowdata.clm_id;
        let RowID = vClaimNotesValue.rowdata.clmnl_id;
        $.ajax({
            url: /*[[ @{/full_world/edit_notes} ]]*/ "/full_world/edit_notes",
            type: 'POST',
            data: {
                "clmnl_id": RowID,
                "clm_notes_type_id": $('#clm_notes_type_id').val(),
                "clmnl_text":  $('#clmnl_text').val()
            },
            success: function (result) {
                $('#full_world_notes_modal').modal('hide');
                vClaimNotesValue.rowdata.clm_id = MainRowID;
                vClaimNotesValue.rowdata.clmnl_id = RowID;
                $(vClaimNotesValue.table).DataTable().ajax.reload(null, false);
            }
        });
    }

// Del button function
    function delFullWorldNotes(){
        let MainRowID = vClaimsValue.rowdata.clm_id;
        let RowID = vClaimNotesValue.rowdata.clmnl_id;
        $.ajax({
            url: /*[[ @{/full_world/del_notes} ]]*/ "/full_world/del_notes",
            type: 'POST',
            data: {
                "clmnl_id": RowID
            },
            success: function (result) {
                $('#full_world_notes_modal').modal('hide');
                vClaimNotesValue.rowdata.clm_id = MainRowID;
                vClaimNotesValue.rowdata.clmnl_id = RowID;
                $(vClaimNotesValue.table).DataTable().ajax.reload(null, false);
            }
        });
    }

// Add button script
    $('#full_world_notes_modal_addbtn').click(function(){
        $('#full_world_notes_modal_form').submit();
    });
// Edit button script
    $('#full_world_notes_modal_editbtn').click(function(){
        $('#full_world_notes_modal_form').submit();
    });
// Del button script
    $('#full_world_notes_modal_delbtn').click(function(){
        $('#full_world_notes_modal_form').submit();
    });

    //Validation Form
    $('#full_world_notes_modal_form').validate({
        rules: {
            // amount: {
            //     //money: true, // not a valid rule
            //     required: true
            // },
            // comment: {
            //     required: false
            // }
        },
        errorPlacement: function(error,element) {
            return true;
        },
        submitHandler: function (form) {
            if($('#full_world_notes_modal_mode').val() === '0') {
                addFullWorldNotes();
            }
            else if($('#full_world_notes_modal_mode').val() === '1') {
                editFullWorldNotes();
            }
            else if($('#full_world_notes_modal_mode').val() === '2') {
                delFullWorldNotes();
            }
            return false;
        }
    });

    // OnClick Function
</script>

</body>
</html>