<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="tms_locals_loads_modal_body" th:remove="tag">
    <div class="modal fade was-validated" id="tms_locals_loads_modal" data-toggle="validator" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
            <div class="hidden">
                <input type="hidden" id="mode">
            </div>

            <div class="modal-content" id="tms_locals_loads_modal_detail">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{tms_locals.loads.caption}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body m-1">
                    <form id="tms_locals_loads_modal_form" name="tms_locals_loads_modal_form" class="was-validated" novalidate>
                    <input type="hidden" id="tms_locals_loads_modal_mode">

                    <div class="form-row mb-1">
                        <div class="col-12 col-md-3" id="tms_locals_loads_modal_clm_id_row">
                            <label for="tms_locals_loads_modal_clm_id" class="form-label mb-0" th:text="#{tms_locals.main.clm_id}"></label>
                            <input type="number" class="form-control" id="tms_locals_loads_modal_clm_id" name="tms_locals_loads_modal_clm_id" readonly>
                        </div>

                        <div class="col-12 col-md-3" id="tms_locals_loads_modal_clm_num_row">
                            <label for="tms_locals_loads_modal_clm_num" class="form-label mb-0" th:text="'1. '+ #{tms_locals.main.clm_num}"></label>
                            <input type="text" maxlength="16" class="form-control" id="tms_locals_loads_modal_clm_num" name="tms_locals_loads_modal_clm_num" readonly>
                        </div>

                        <div class="col-12 col-md-6" id="cnt_name_row">
                            <label for="tms_locals_loads_modal_cnt_name" class="form-label mb-0" th:text="'2. '+ #{tms_locals.main.cnt_name}"></label>
                            <input type="text" class="form-control" id="tms_locals_loads_modal_cnt_name" name="tms_locals_loads_modal_cnt_name" readonly>
                        </div>
                    </div> <!-- Row 1 -->

                    <div class="form-row mb-1">
                        <div class="col-12 col-md-3" id="tms_locals_loads_modal_detail_clmll_id_row">
                            <label for="tms_locals_loads_modal_detail_clmll_id" class="form-label mb-0" th:text="#{tms_locals.loads.clmll_id}"></label>
                            <input type="number" class="form-control" id="tms_locals_loads_modal_detail_clmll_id" name="tms_locals_loads_modal_detail_clmll_id" readonly>
                        </div>

                        <div class="col-12 col-md-3" id="tms_locals_loads_modal_detail_clmll_client_order_num_row">
                            <label for="tms_locals_loads_modal_detail_clmll_client_order_num" class="form-label mb-0" th:text="'3. '+ #{tms_locals.loads.clmll_client_order_num}"></label>
                            <input type="text" class="form-control" id="tms_locals_loads_modal_detail_clmll_client_order_num" name="tms_locals_loads_modal_detail_clmll_client_order_num">
                        </div>

                        <div class="col-12 col-md-6" id="tms_locals_loads_modal_detail_clm_load_name_row">
                            <label for="tms_locals_loads_modal_detail_clm_load_name" class="form-label mb-0" th:text="'4. '+ #{tms_locals.loads.clm_load_name}"></label>
                            <input type="text" maxlength="32" class="form-control" id="tms_locals_loads_modal_detail_clm_load_name" name="tms_locals_loads_modal_detail_clm_load_name">
                        </div>
                    </div> <!-- Row 2 -->

                    <div class="form-row mb-1">
                        <div class="col-12 col-md-3" id="tms_locals_loads_modal_detail_clm_load_weight_row">
                            <label for="tms_locals_loads_modal_detail_clm_load_weight" class="form-label mb-0" th:text="'5. '+ #{tms_locals.loads.clm_load_weight}"></label>
                            <input type="text" class="form-control" id="tms_locals_loads_modal_detail_clm_load_weight" name="tms_locals_loads_modal_detail_clm_load_weight">
                        </div>

                        <div class="col-12 col-md-6" id="tms_locals_loads_modal_detail_weight_type_id_row">
                            <label for="tms_locals_loads_modal_detail_weight_type_id" class="form-label mb-0" th:text="'6. '+#{tms_locals.loads.weight_type_id}">Weight Type: </label>
                            <select type="text" id="tms_locals_loads_modal_detail_weight_type_id" name="tms_locals_loads_modal_detail_weight_type_id" class="custom-select">
                            </select>
                        </div>
                    </div><!-- Row 3 -->

                    <div class="form-row mb-1">
                        <div class="col-12 col-md-3" id="tms_locals_loads_modal_detail_clmll_space_count_row">
                            <label for="tms_locals_loads_modal_detail_clmll_space_count" class="form-label mb-0" th:text="'7. '+ #{tms_locals.loads.clmll_space_count}"></label>
                            <input type="number" class="form-control" id="tms_locals_loads_modal_detail_clmll_space_count" name="tms_locals_loads_modal_detail_clmll_space_count">
                        </div>

                        <div class="col-12 col-md-3" id="tms_locals_loads_modal_detail_clmll_load_meters_row">
                            <label for="tms_locals_loads_modal_detail_clmll_load_meters" class="form-label mb-0" th:text="'8. '+ #{tms_locals.loads.clmll_load_meters}"></label>
                            <input type="text" class="form-control" id="tms_locals_loads_modal_detail_clmll_load_meters" name="tms_locals_loads_modal_detail_clmll_load_meters">
                        </div>

                        <div class="col-12 col-md-3" id="tms_locals_loads_modal_detail_clm_load_dims_row">
                            <label for="tms_locals_loads_modal_detail_clm_load_dims" class="form-label mb-0" th:text="'9. '+ #{tms_locals.loads.clm_load_dims}"></label>
                            <input type="text" class="form-control" id="tms_locals_loads_modal_detail_clm_load_dims" name="tms_locals_loads_modal_detail_clm_load_dims">
                        </div>
                    </div> <!-- Row 4 -->
                    
                    <div class="form-row mb-1">
                        <div class="col-12">
                            <label for="tms_locals_loads_modal_detail_clm_load_notes" class="form-label mb-0" th:text="'10. '+#{tms_locals.loads.clm_load_notes}"></label>
                            <textarea class="form-control" rows="5" maxlength="512" minlength="10" style="resize:none;" id="tms_locals_loads_modal_detail_clm_load_notes" name="tms_locals_loads_modal_detail_clm_load_notes">
                            </textarea>
                        </div>
                    </div>  <!-- Row 5 -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="tms_locals_loads_modal_closebtn" class="btn btn-outline-dark mr-1" data-dismiss="modal" th:text="#{general.back}"></button>
                    <button type="button" id="tms_locals_loads_modal_addbtn" class="btn btn-outline-primary" th:text="#{general.addbtn}" hidden></button>
                    <button type="button" id="tms_locals_loads_modal_editbtn" class="btn btn-outline-primary" th:text="#{general.editbtn}" hidden></button>
                    <button type="button" id="tms_locals_loads_modal_delbtn" class="btn btn-outline-primary" th:text="#{general.delbtn}" hidden></button>
                </div>
            </div>
        </div>
    </div>
</span>

<script th:fragment="cardscript" th:inline="javascript">

// Clear Fields
    function clear_tms_locals_loads_modal_detail() {
        $("#tms_locals_loads_modal_detail input[type=text]").val('');
        $("#tms_locals_loads_modal_detail input[type=number]").val('');
        $("#tms_locals_loads_modal_detail select").empty();
        $("#tms_locals_loads_modal_detail textarea").val('');
    }

// Block And Required Fields
    function block_tms_locals_loads_modal_detail(){
        $('#tms_locals_loads_modal_detail_clm_load_name').attr('required', true);
        $('#tms_locals_loads_modal_detail_clm_load_weight').attr('required', true);
        $('#tms_locals_loads_modal_detail_clm_load_notes').attr('required', true);

        if($('#tms_locals_loads_modal_mode').val() === "0"){
            $('#tms_locals_loads_modal_clm_id_row').attr('hidden',true);
            $('#tms_locals_loads_modal_detail_clmll_id_row').attr('hidden',true);

            $('#tms_locals_loads_modal_detail_clm_load_name').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clm_load_weight').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clm_load_dims').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clm_load_notes').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_weight_type_id').removeAttr('disabled');

            $('#tms_locals_loads_modal_detail_clmll_space_count').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clmll_load_meters').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clmll_client_order_num').removeAttr('readonly');
        }
        else if($('#tms_locals_loads_modal_mode').val() === "1"){
            $('#tms_locals_loads_modal_clm_id_row').attr('hidden',true);
            $('#tms_locals_loads_modal_detail_clmll_id_row').attr('hidden',true);

            $('#tms_locals_loads_modal_detail_clm_load_name').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clm_load_weight').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clm_load_dims').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clm_load_notes').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_weight_type_id').removeAttr('disabled');

            $('#tms_locals_loads_modal_detail_clmll_space_count').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clmll_load_meters').removeAttr('readonly');
            $('#tms_locals_loads_modal_detail_clmll_client_order_num').removeAttr('readonly');
        }
        else{
            $('#tms_locals_loads_modal_clm_id_row').attr('hidden',true);
            $('#tms_locals_loads_modal_detail_clmll_id_row').attr('hidden',true);

            $('#tms_locals_loads_modal_detail_clm_load_name').attr('readonly',true);
            $('#tms_locals_loads_modal_detail_clm_load_weight').attr('readonly',true);
            $('#tms_locals_loads_modal_detail_clm_load_dims').attr('readonly',true);
            $('#tms_locals_loads_modal_detail_clm_load_notes').removeAttr('required').attr('readonly',true);
            $('#tms_locals_loads_modal_detail_weight_type_id').attr('disabled', true);

            $('#tms_locals_loads_modal_detail_clmll_space_count').attr('readonly',true);
            $('#tms_locals_loads_modal_detail_clmll_load_meters').attr('readonly',true);
            $('#tms_locals_loads_modal_detail_clmll_client_order_num').attr('readonly',true);
        }
    }
// Loads List
    function loadWeightChange(vMode, vWeightTypeID) {
        $('#tms_locals_loads_modal_detail_weight_type_id').empty();
        return Promise.resolve($.ajax({
            url:/*[[@{'/tms_locals/get_loads_weights_list'}]]*/ "/tms_locals/get_loads_weights_list",
            type: "get",
            data: {
                "mode": vMode
            },
            success: function (weight_type_list) {
                for (var i = 0; i < weight_type_list.data.length; i++) {
                    $("select[name='tms_locals_loads_modal_detail_']").find('option').end().append(
                        "<option value='" + weight_type_list.data[i].weight_type_id
                        + "'>" + weight_type_list.data[i].weight_type_name + "</option>");
                    if(vWeightTypeID !== ''){
                        $('#tms_locals_loads_modal_detail_weight_type_id').val(vWeightTypeID);
                    }
                }
            }
        }));
    }

// Load Function
    function fill_tms_locals_loads_modal_detail(aMode){
        clear_tms_locals_loads_modal_detail();
            $('#tms_locals_loads_modal_mode').val(aMode);
        block_tms_locals_loads_modal_detail();

        $('#tms_locals_loads_modal_clm_id').val(vClaimsValue.rowdata.clm_id);
        $('#tms_locals_loads_modal_clm_num').val(vClaimsValue.rowdata.clm_num);
        $('#tms_locals_loads_modal_cnt_name').val(vClaimsValue.rowdata.cnt_name);

        if(aMode !== 0){
            $.ajax({
                url:/*[[@{'/tms_locals/get_loads_detail'}]]*/ "tms_locals/get_loads_detail",
                type: "get",
                data: {
                    "mode": aMode,
                    "clmll_id": vFLDClaimLoadsValue.rowdata.clmll_id
                },
                success: function (tms_locals_loads_modal_detail_result) {
                    $.when(
                        loadWeightChange(aMode,tms_locals_loads_modal_detail_result.data[0].weight_type_id)
                    ).then(function () {
                        $('#tms_locals_loads_modal_detail_clmll_id').val(tms_locals_loads_modal_detail_result.data[0].clmll_id);
                        $('#tms_locals_loads_modal_detail_clm_load_name').val(tms_locals_loads_modal_detail_result.data[0].clm_load_name);
                        $('#tms_locals_loads_modal_detail_clm_load_weight').val(tms_locals_loads_modal_detail_result.data[0].clm_load_weight);
                        $('#tms_locals_loads_modal_detail_clm_load_dims').val(tms_locals_loads_modal_detail_result.data[0].clm_load_dims);
                        $('#tms_locals_loads_modal_detail_clm_load_notes').val(tms_locals_loads_modal_detail_result.data[0].clm_load_notes);

                        $('#tms_locals_loads_modal_detail_clmll_space_count').val(tms_locals_loads_modal_detail_result.data[0].clmll_space_count);
                        $('#tms_locals_loads_modal_detail_clmll_load_meters').val(tms_locals_loads_modal_detail_result.data[0].clmll_load_meters);
                        $('#tms_locals_loads_modal_detail_clmll_client_order_num').val(tms_locals_loads_modal_detail_result.data[0].clmll_client_order_num);

                        $('#tms_locals_loads_modal').modal('show');
                    });
                }
            });
        }
        else{
            $.when(
                loadWeightChange(aMode,1)
            ).then(function(){
                $('#tms_locals_loads_modal_detail_clmll_space_count').val(0);
                $('#tms_locals_loads_modal_detail_clmll_load_meters').val('0,00');
                $('#tms_locals_loads_modal').modal('show');
            });
        }
    }

// Add button script
function addFullWorldLoads(){
    let MainRowID = vClaimsValue.rowdata.clm_id;
    let RowID = vFLDClaimLoadsValue.rowdata.clmll_id;
    $.ajax({
        url: /*[[ @{/tms_locals/add_loads} ]]*/ "/tms_locals/add_loads",
        type: 'POST',
        data: {
            "clm_id": MainRowID,
            "clm_load_name": $('#tms_locals_loads_modal_detail_clm_load_name').val(),
            "clm_load_weight":  $('#tms_locals_loads_modal_detail_clm_load_weight').val(),
            "clm_load_dims":  $('#tms_locals_loads_modal_detail_clm_load_dims').val(),
            "clm_load_notes":  $('#tms_locals_loads_modal_detail_clm_load_notes').val(),
            "weight_type_id":  $('#tms_locals_loads_modal_detail_weight_type_id').val(),
            "clmll_space_count":  $('#tms_locals_loads_modal_detail_clmll_space_count').val(),
            "clmll_load_meters":  $('#tms_locals_loads_modal_detail_clmll_load_meters').val(),
            "clmll_client_order_num":  $('#tms_locals_loads_modal_detail_clmll_client_order_num').val()
        },
        success: function (result) {
            vClaimsValue.rowdata.clm_id = MainRowID;
            $(vClaimsValue.table).DataTable().ajax.reload(null, false);
            vFLDClaimLoadsValue.rowdata.clm_id = MainRowID;
            vFLDClaimLoadsValue.rowdata.clmll_id = RowID;
            $(vFLDClaimLoadsValue.table).DataTable().ajax.reload(null, false);
            vFLDClaimErrorsValue.rowdata.clm_id = MainRowID;
            $(vFLDClaimErrorsValue.table).DataTable().ajax.reload(null, false);
            $('#tms_locals_loads_modal').modal('hide');
        }
    });
}

// Edit button script
function editFullWorldLoads(){
    let MainRowID = vClaimsValue.rowdata.clm_id;
    let RowID = vFLDClaimLoadsValue.rowdata.clmll_id;
    $.ajax({
        url: /*[[ @{/tms_locals/edit_loads} ]]*/ "/tms_locals/edit_loads",
        type: 'POST',
        data: {
            "clmll_id": RowID,
            "clm_load_name": $('#tms_locals_loads_modal_detail_clm_load_name').val(),
            "clm_load_weight":  $('#tms_locals_loads_modal_detail_clm_load_weight').val(),
            "clm_load_dims":  $('#tms_locals_loads_modal_detail_clm_load_dims').val(),
            "clm_load_notes":  $('#tms_locals_loads_modal_detail_clm_load_notes').val(),
            "weight_type_id":  $('#tms_locals_loads_modal_detail_weight_type_id').val(),
            "clmll_space_count":  $('#tms_locals_loads_modal_detail_clmll_space_count').val(),
            "clmll_load_meters":  $('#tms_locals_loads_modal_detail_clmll_load_meters').val(),
            "clmll_client_order_num":  $('#tms_locals_loads_modal_detail_clmll_client_order_num').val()
        },
        success: function (result) {
            vClaimsValue.rowdata.clm_id = MainRowID;
            $(vClaimsValue.table).DataTable().ajax.reload(null, false);
            vFLDClaimLoadsValue.rowdata.clm_id = MainRowID;
            vFLDClaimLoadsValue.rowdata.clmll_id = RowID;
            $(vFLDClaimLoadsValue.table).DataTable().ajax.reload(null, false);
            $('#tms_locals_loads_modal').modal('hide');
        }
    });
}

// Del button script
function delFullWorldLoads(){
    let MainRowID = vClaimsValue.rowdata.clm_id;
    let RowID = vFLDClaimLoadsValue.rowdata.clmll_id;
    $.ajax({
        url: /*[[ @{/tms_locals/del_loads} ]]*/ "/tms_locals/del_loads",
        type: 'POST',
        data: {
            "clmll_id": RowID
        },
        success: function (result) {
            vClaimsValue.rowdata.clm_id = MainRowID;
            $(vClaimsValue.table).DataTable().ajax.reload(null, false);
            vFLDClaimLoadsValue.rowdata.clm_id = MainRowID;
            $(vFLDClaimLoadsValue.table).DataTable().ajax.reload(null, false);
            vFLDClaimErrorsValue.rowdata.clm_id = MainRowID;
            $(vFLDClaimErrorsValue.table).DataTable().ajax.reload(null, false);
            $('#tms_locals_loads_modal').modal('hide');
        }
    });
}

// Add button script
$('#tms_locals_loads_modal_addbtn').click(function(){
    $('#tms_locals_loads_modal_form').submit();
});
// Edit button script
$('#tms_locals_loads_modal_editbtn').click(function(){
    $('#tms_locals_loads_modal_form').submit();
});
// Del button script
$('#tms_locals_loads_modal_delbtn').click(function(){
    $('#tms_locals_loads_modal_form').submit();
});

//Validation Form
$('#tms_locals_loads_modal_form').validate({
    rules: {
        // amount: {
        //     //money: true, // not a valid rule
        //     required: true
        // },
        // comment: {
        //     required: false
        // }
    },
    errorPlacement: function(error,element) {
        return true;
    },
    submitHandler: function (form) {
        if($('#tms_locals_loads_modal_mode').val() === '0') {
            addFullWorldLoads();
        }
        else if($('#tms_locals_loads_modal_mode').val() === '1') {
            editFullWorldLoads();
        }
        else if($('#tms_locals_loads_modal_mode').val() === '2') {
            delFullWorldLoads();
        }
        return false;
    }
});

// OnClick Function

</script>

</body>
</html>