<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="tms_locals_trans_body" th:remove="tag">
    <form id="table-tms-locals-trans-buttons" class="mb-2" hidden>
        <input name="mode" value="0" hidden>

        <button type="button" id="tms-locals-trans-detailbtn" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" th:title="#{general.detailbtn}" disabled><i class="fa fa-list"></i></button>
        <button type="button" id="tms-locals-trans-addbtn" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" th:title="#{general.addbtn}"><i class="fa fa-plus"></i></button>
        <button type="button" id="tms-locals-trans-editbtn" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" th:title="#{general.editbtn}" disabled><i class="fa fa-pencil-alt"></i></button>
        <button type="button" id="tms-locals-trans-delbtn" class="btn btn-dark mr-2" data-toggle="tooltip" data-placement="bottom" th:title="#{general.delbtn}" disabled><i class="fa fa-trash-alt"></i></button>

        <button type="button" id="tms-locals-trans-reload" class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" th:title="#{general.refreshbtn}"><i class="fa fa-sync"></i></button>
    </form>
        
    <div><table id="table-tms-locals-trans" class="table table-striped table-sm table-bordered" cellspacing="0" style="width:100%;"></table></div>
</span>

<script th:fragment="cardscript" th:inline="javascript">
    var clmtrl_id_width, cnt_name_width, cntc_type_sname_width, cntc_type_brand_width, cntc_type_number_width, cntt_type_sname_width, cntt_type_brand_width, cntt_type_number_width, cntd_name_width,
        cntd_name_eng_width, cntd_name_doc_width, cntd_name_lisence_width, cntd_main_phone_width, cntd_second_phone_width, cntd_email_width;

    var clmtrl_id_class, cnt_name_class, cntc_type_sname_class, cntc_type_brand_class, cntc_type_number_class, cntt_type_sname_class, cntt_type_brand_class, cntt_type_number_class, cntd_name_class,
        cntd_name_eng_class, cntd_name_doc_class, cntd_name_lisence_class, cntd_main_phone_class, cntd_second_phone_class, cntd_email_class;

    var clmtrl_id_show, cnt_name_show, cntc_type_sname_show, cntc_type_brand_show, cntc_type_number_show, cntt_type_sname_show, cntt_type_brand_show, cntt_type_number_show, cntd_name_show,
        cntd_name_eng_show, cntd_name_doc_show, cntd_name_lisence_show, cntd_main_phone_show, cntd_second_phone_show, cntd_email_show;

    if(mobileScreenSize){
        vDomParam = "Blfrtp";
    }
    else if(smallScreenSize){
        vDomParam = "Blfrtip";
        clmtrl_id_show = false;
        clmtrl_id_width = "";
        clmtrl_id_class = "";
        cnt_name_show = true;
        cnt_name_width = "36%";
        cnt_name_class = "small_size small_head_size small_footer_size trans_id_shift";
        cntc_type_sname_show = true;
        cntc_type_sname_width = "8%";
        cntc_type_sname_class = "small_size small_head_size small_footer_size text-center";
        cntc_type_brand_show = false;
        cntc_type_brand_width = "";
        cntc_type_brand_class = "";
        cntc_type_number_show = true;
        cntc_type_number_width = "5%";
        cntc_type_number_class = "small_size small_head_size small_footer_size text-center";
        cntt_type_sname_show = true;
        cntt_type_sname_width = "8%";
        cntt_type_sname_class = "small_size small_head_size small_footer_size text-center";
        cntt_type_brand_show = false;
        cntt_type_brand_width = "";
        cntt_type_brand_class = "";
        cntt_type_number_show = true;
        cntt_type_number_width = "5%";
        cntt_type_number_class = "small_size small_head_size small_footer_size text-center";
        cntd_name_show = true;
        cntd_name_width = "18%";
        cntd_name_class = "small_size small_head_size small_footer_size";
        cntd_name_eng_show = false;
        cntd_name_eng_width = "";
        cntd_name_eng_class = "";
        cntd_name_doc_show = false;
        cntd_name_doc_width = "";
        cntd_name_doc_class = "";
        cntd_name_lisence_show = false;
        cntd_name_lisence_width = "";
        cntd_name_lisence_class = "";
        cntd_main_phone_show = true;
        cntd_main_phone_width = "10%";
        cntd_main_phone_class = "small_size small_head_size small_footer_size";
        cntd_second_phone_show = true;
        cntd_second_phone_width = "10%";
        cntd_second_phone_class = "small_size small_head_size small_footer_size";
        cntd_email_show = false;
        cntd_email_width = "";
        cntd_email_class = "none";
    }
    else{
        vDomParam = "Blfrtip";
        clmtrl_id_show = false;
        clmtrl_id_width = "";
        clmtrl_id_class = "";
        cnt_name_show = true;
        cnt_name_width = "36%";
        cnt_name_class = "small_size small_head_size small_footer_size trans_id_shift";
        cntc_type_sname_show = true;
        cntc_type_sname_width = "8%";
        cntc_type_sname_class = "small_size small_head_size small_footer_size text-center";
        cntc_type_brand_show = false;
        cntc_type_brand_width = "";
        cntc_type_brand_class = "";
        cntc_type_number_show = true;
        cntc_type_number_width = "5%";
        cntc_type_number_class = "small_size small_head_size small_footer_size text-center";
        cntt_type_sname_show = true;
        cntt_type_sname_width = "8%";
        cntt_type_sname_class = "small_size small_head_size small_footer_size text-center";
        cntt_type_brand_show = false;
        cntt_type_brand_width = "";
        cntt_type_brand_class = "";
        cntt_type_number_show = true;
        cntt_type_number_width = "5%";
        cntt_type_number_class = "small_size small_head_size small_footer_size text-center";
        cntd_name_show = true;
        cntd_name_width = "18%";
        cntd_name_class = "small_size small_head_size small_footer_size";
        cntd_name_eng_show = false;
        cntd_name_eng_width = "";
        cntd_name_eng_class = "";
        cntd_name_doc_show = false;
        cntd_name_doc_width = "";
        cntd_name_doc_class = "";
        cntd_name_lisence_show = false;
        cntd_name_lisence_width = "";
        cntd_name_lisence_class = "";
        cntd_main_phone_show = true;
        cntd_main_phone_width = "10%";
        cntd_main_phone_class = "small_size small_head_size small_footer_size";
        cntd_second_phone_show = true;
        cntd_second_phone_width = "10%";
        cntd_second_phone_class = "small_size small_head_size small_footer_size";
        cntd_email_show = false;
        cntd_email_width = "";
        cntd_email_class = "none";
    }

    var vFLDClaimTransValue;
    vFLDClaimTransValue = {
        table : '#table-tms-locals-trans',
        button_form: "#table-tms-locals-trans-buttons",
        ajax : {
            "url": /*[[@{/tms_locals/get_trans_table}]]*/ "tms_locals/get_trans_table",
            "type": "post",
            "data": function ( d ) {
                d.clm_id = vFLDClaimTransValue.rowdata.clm_id
            }
        },
        key : "clmtrl_id",
        switchControl : tms_locals_trans_switchControl,
        rowdata:{
            clm_id: null,
            clmtrl_id: null
        },
        ordering: true,
        order: [
            [0, "asc"]
        ],

        dom: 'Blfrtip',
        createdRow: function( row, data, dataIndex ) {
            /*$(row).css('background-color', data["act_type_colour"]);*/
        },
        columnDefs:[
            {"targets": [0], "width": clmtrl_id_width, "className": clmtrl_id_class, "visible": clmtrl_id_show},
            {"targets": [1], "width": cnt_name_width, "className": cnt_name_class, "visible": cnt_name_show},
            {"targets": [2], "width": cntc_type_sname_width, "className": cntc_type_sname_class, "visible": cntc_type_sname_show},
            {"targets": [3], "width": cntc_type_brand_width, "className": cntc_type_brand_class, "visible": cntc_type_brand_show},
            {"targets": [4], "width": cntc_type_number_width, "className": cntc_type_number_class, "visible": cntc_type_number_show},
            {"targets": [5], "width": cntt_type_sname_width, "className": cntt_type_sname_class, "visible": cntt_type_sname_show},
            {"targets": [6], "width": cntt_type_brand_width, "className": cntt_type_brand_class, "visible": cntt_type_brand_show},
            {"targets": [7], "width": cntt_type_number_width, "className": cntt_type_number_class, "visible": cntt_type_number_show},
            {"targets": [8], "width": cntd_name_width, "className": cntd_name_class, "visible": cntd_name_show},
            {"targets": [9], "width": cntd_name_eng_width, "className": cntd_name_eng_class, "visible": cntd_name_eng_show},
            {"targets": [10], "width": cntd_name_doc_width, "className": cntd_name_doc_class, "visible": cntd_name_doc_show},
            {"targets": [11], "width": cntd_name_lisence_width, "className": cntd_name_lisence_class, "visible": cntd_name_lisence_show},
            {"targets": [12], "width": cntd_main_phone_width, "className": cntd_main_phone_class, "visible": cntd_main_phone_show},
            {"targets": [13], "width": cntd_second_phone_width, "className": cntd_second_phone_class, "visible": cntd_second_phone_show},
            {"targets": [14], "width": cntd_email_width, "className": cntd_email_class, "visible": cntd_email_show}
        ],
        columns:[
            /*0*/{"title": /*[[#{tms_locals.trans.clmtrl_id}]]*/ "clmtrl_id", "data": "clmtrl_id"},
            /*1*/{"title": /*[[#{tms_locals.trans.cnt_name}]]*/ "cnt_name", "data": "cnt_name"},
            /*2*/{"title": /*[[#{tms_locals.trans.cntc_type_sname}]]*/ "cntc_type_sname", "data": "cntc_type_sname"},
            /*3*/{"title": /*[[#{tms_locals.trans.cntc_type_brand}]]*/ "cntc_type_brand", "data": "cntc_type_brand"},
            /*4*/{"title": /*[[#{tms_locals.trans.cntc_type_number}]]*/ "cntc_type_number", "data": "cntc_type_number"},
            /*5*/{"title": /*[[#{tms_locals.trans.cntt_type_sname}]]*/ "cntt_type_sname", "data": "cntt_type_sname"},
            /*6*/{"title": /*[[#{tms_locals.trans.cntt_type_brand}]]*/ "cntt_type_brand", "data": "cntt_type_brand"},
            /*7*/{"title": /*[[#{tms_locals.trans.cntt_type_number}]]*/ "cntt_type_number", "data": "cntt_type_number"},
            /*8*/{"title": /*[[#{tms_locals.trans.cntd_name}]]*/ "cntd_name", "data": "cntd_name"},
            /*9*/{"title": /*[[#{tms_locals.trans.cntd_name_eng}]]*/ "cntd_name_eng", "data": "cntd_name_eng"},
            /*10*/{"title": /*[[#{tms_locals.trans.cntd_name_doc}]]*/ "cntd_name_doc", "data": "cntd_name_doc"},
            /*11*/{"title": /*[[#{tms_locals.trans.cntd_name_lisence}]]*/ "cntd_name_lisence", "data": "cntd_name_lisence"},
            /*12*/{"title": /*[[#{tms_locals.trans.cntd_main_phone}]]*/ "cntd_main_phone", "data": "cntd_main_phone"},
            /*13*/{"title": /*[[#{tms_locals.trans.cntd_second_phone}]]*/ "cntd_second_phone", "data": "cntd_second_phone"},
            /*14*/{"title": /*[[#{tms_locals.trans.cntd_email}]]*/ "cntd_email", "data": "cntd_email"}
        ],
        pageLength: 25,
        copy_button: true,
        excel_button: true,
        pdf_button: true,
        print_button: true
    };

    function tms_locals_trans_switchControl(){
        if(vFLDClaimTransValue.rowdata.clmtrl_id != null) {
            $("#tms-locals-trans-detailbtn").prop('disabled',false).removeClass('btn-dark').addClass('btn-primary');

            if(RoleOPS || RoleChiefOPS || RoleSuperOPS) {
                $("#tms-locals-trans-editbtn").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
                $("#tms-locals-trans-delbtn").prop('disabled', false).removeClass('btn-dark').addClass('btn-danger');
            }
        } else{
            $("#tms-locals-trans-detailbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            $("#tms-locals-trans-editbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            $("#tms-locals-trans-delbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
        }
    }

    //Show Function
    function tmsLocalsTransShow() {
        $('#tms_locals_trans_modal_addbtn').attr('hidden',true);
        $('#tms_locals_trans_modal_editbtn').attr('hidden',true);
        $('#tms_locals_trans_modal_delbtn').attr('hidden',true);
        fill_tms_locals_trans_modal_detail(4);
    }
    // Detail Button
    $('#tms-locals-trans-detailbtn').click( function () {
        tmsLocalsTransShow();
    });

    //Add Function
    function tmsLocalsTransAdd() {
        $('#tms_locals_trans_modal_addbtn').removeAttr('hidden');
        $('#tms_locals_trans_modal_editbtn').attr('hidden',true);
        $('#tms_locals_trans_modal_delbtn').attr('hidden',true);
        fill_tms_locals_trans_modal_detail(0);
    }
    // Add Button
    $('#tms-locals-trans-addbtn').click( function () {
        tmsLocalsTransAdd();
    });

    //Edit Function
    function tmsLocalsTransEdit() {
        $('#tms_locals_trans_modal_addbtn').attr('hidden',true);
        $('#tms_locals_trans_modal_editbtn').removeAttr('hidden');
        $('#tms_locals_trans_modal_delbtn').attr('hidden',true);
        fill_tms_locals_trans_modal_detail(1);
    }
    // Edit Button
    $('#tms-locals-trans-editbtn').click( function () {
        tmsLocalsTransEdit();
    });

    //Del Function
    function tmsLocalsTransDel() {
        $('#tms_locals_trans_modal_addbtn').attr('hidden',true);
        $('#tms_locals_trans_modal_editbtn').attr('hidden',true);
        $('#tms_locals_trans_modal_delbtn').removeAttr('hidden');
        fill_tms_locals_trans_modal_detail(2);
    }
    // Del Button
    $('#tms-locals-trans-delbtn').click( function () {
        tmsLocalsTransDel();
    });

    //Shift click
    $('#table-tms-locals-trans').on('click','.trans_id_shift', function (e) {
        var selectedRow = this._DT_CellIndex.row;
        var taskTable = $("#table-tms-locals-trans").DataTable();

        if (e.shiftKey) {
            taskTable.row(selectedRow).select();
            $('#tms_locals_trans_modal_addbtn').attr('hidden',true);
            $('#tms_locals_trans_modal_editbtn').attr('hidden',true);
            $('#tms_locals_trans_modal_delbtn').attr('hidden',true);
            fill_tms_locals_trans_modal_detail(4);
        }
    });

    function tmsLocalsTransReload(){
        if(vClaimsValue.rowdata.clm_id > 0) {
            vFLDClaimTransValue.rowdata.clm_id = vClaimsValue.rowdata.clm_id;
            $(vFLDClaimTransValue.table).DataTable().ajax.reload(null, false);
        }
    }
    //Reload Button
    $('#tms-locals-trans-reload').click(function(){
        tmsLocalsTransReload();
    });

    $(document).ready(function(){
        vFLDClaimTransValue.rowdata.clm_id = /*[[${clm_id}]]*/ null;
        vFLDClaimTransValue.rowdata.clmtrl_id = /*[[${clmtrl_id}]]*/ null;

        vFLDClaimTransValue.rowdata.table_order_column = /*[[${table_order_column}]]*/ null;
        vFLDClaimTransValue.rowdata.table_order_type = /*[[${table_order_type}]]*/ null;
        vFLDClaimTransValue.rowdata.table_search = /*[[${table_search}]]*/ null;
        vFLDClaimTransValue.rowdata.table_pagelen = /*[[${table_pagelen}]]*/ null;
        vFLDClaimTransValue.rowdata.table_page = /*[[${table_page}]]*/ null;

        recreateDataTable(vFLDClaimTransValue);
    });
</script>

</body>
</html>