<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header :: header(title = #{tender_statuses.header})"></head>

<body class="theme-blue"> <!-- right-to-left -->
<span th:replace="fragments/layout_v1.html :: top">top</span>

<div class="row">
    <div class="col-12 pl-2 pr-2 pt-0">
        <div class="card mb-2">
            <div class="card-header">
                <h5 class="card-title mb-0" th:text="#{tender_statuses.caption}"></h5>
            </div>
            <div class="card-body py-3">
                <div>
                    <span th:replace="tender_statuses/card :: tender_statuses_body"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location -->

<span th:replace="fragments/layout_v1.html :: bottom">bottom</span>

<script th:replace="tender_statuses/card :: cardscript"></script>
</body>
</html>