<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="users_kpi_plans_head_body" th:remove="tag">
		<form class="form-inline">
		      <div class="form-group mb-2 mr-2">
				<label for="users_kpi_plans_year" class="mr-2" th:text="#{users_kpi_plans.filter.year}">Year: </label>
                <select class="form-control" style="width:130px; display:inline-block" id="users_kpi_plans_year" placeholder="Year">
                  <option>2018</option>
                  <option>2019</option>
                  <option selected>2020</option>
               </select>
			  </div>

			  <div class="form-group mb-2 mr-2">
				<label for="user_kpi_type_list" class="mr-2" th:text="#{users_kpi_plans.filter.user_kpi_type_list}">Service: </label>
				<select id="user_kpi_type_list" class="form-control select2" data-toggle="select2">
					<!--suppress ThymeleafVariablesResolveInspection -->
					<option class="p-1"
                            th:each="user_kpi_type : ${user_kpi_type_list}"
                            th:value="${user_kpi_type.user_kpi_type_id}"
                            th:text="${user_kpi_type.user_kpi_type_name}"
                            th:selected="${user_kpi_type.user_kpi_type_id == user_kpi_type_id}"
                    ></option>
				</select>
			  </div>

			<a class="btn btn-outline-primary mb-2" id="users_kpi_plans_show" th:text="#{general.showbth}">Show</a>
		</form>
</span>

<script th:fragment="cardscript" th:inline="javascript">
	$(document).ready(function(){
<!-- Highlight menu -->
        $('#main_li').removeClass('active');

        $('#crm_kpi_li').addClass('active').removeClass('collapsed');
        $('#crm_kpi_a').attr('aria-expanded',true);
        $('#crm_kpi').addClass('show');

        $('#users_kpi_plans_a').addClass('text-primary');

		vUsersKPIPlanListValue.rowdata.users_kpi_plans_year = $("#users_kpi_plans_year").val();
		vUsersKPIPlanListValue.rowdata.user_kpi_type_id = $("#user_kpi_type_list").val();
        $(vUsersKPIPlanListValue.table).DataTable().ajax.reload();
	});

	$('#users_kpi_plans_show').on('click', function () {
		$('#users_kpi_plans_list_card').removeAttr('hidden');
        $('#users_kpi_plans_tabs_div').removeAttr('hidden');

		vUsersKPIPlanListValue.rowdata.users_kpi_plans_year = $("#users_kpi_plans_year").val();
		vUsersKPIPlanListValue.rowdata.user_kpi_type_id = $("#user_kpi_type_list").val();
		$(vUsersKPIPlanListValue.table).DataTable().ajax.reload();
	})
</script>

</body>
</html>