<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="report_calls_meets_head_body" th:remove="tag">
		<form class="form-inline">
		      <div class="form-group mb-2 mr-2">
				<label for="report_calls_meets_start_date" class="mr-2" th:text="#{report_calls_meets.start_date}">StartDate:</label>
				<input class="form-control" type="text" id="report_calls_meets_start_date" name="report_calls_meets_start_date" />
			  </div>

			  <div class="form-group mb-2 mr-2">
		    	<label for="report_calls_meets_end_date" class="mr-2" th:text="#{report_calls_meets.end_date}">EndDate:</label>
				<input class="form-control" type="text" id="report_calls_meets_end_date" name="report_calls_meets_end_date" />
			  </div>

			  <div class="form-group mb-2 mr-3">
				<label for="report_calls_meets_employee_list" class="mr-2" th:text="#{report_calls_meets.user_list}">Employee: </label>
				<select id="report_calls_meets_employee_list" class="form-control select2" data-toggle="select2">
					<!--suppress ThymeleafVariablesResolveInspection -->
					<option
							   th:each="user_list : ${user_list}"
							   th:value="${user_list.id}"
							   th:text="${user_list.user_surname}"
							   th:selected="${user_list.id == user_id}"
					 ></option>
				</select>
			  </div>

			 <div class="d-none d-sm-block">
				<a class="btn btn-outline-primary mb-2" id="report_calls_meets_show" th:text="#{general.reportshow}">Show</a>
			 </div>
		</form>
	         <div class="d-block d-sm-none">
                 <button type="button" class="btn btn-primary btn-lg btn-block" id="report_calls_meets_show_sx" th:text="#{general.reportshow}">Search</button>
             </div>
</span>

<script th:fragment="cardscript" th:inline="javascript">

    $(document).ready(function(){
        $("#report_calls_meets_start_date").daterangepicker({
            "singleDatePicker": true,
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " - ",
                "applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
                "cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel":  /*[[#{datapicker.week}]]*/ "W",
                "daysOfWeek": [
                    /*[[#{weekdays.07_short}]]*/ "Su",
                    /*[[#{weekdays.01_short}]]*/ "Mo",
                    /*[[#{weekdays.02_short}]]*/ "Tu",
                    /*[[#{weekdays.03_short}]]*/ "We",
                    /*[[#{weekdays.04_short}]]*/ "Th",
                    /*[[#{weekdays.05_short}]]*/ "Fr",
                    /*[[#{weekdays.06_short}]]*/ "Sa"
                ],
                "monthNames": [
                    /*[[#{month.01}]]*/ "January",
                    /*[[#{month.02}]]*/ "February",
                    /*[[#{month.03}]]*/ "March",
                    /*[[#{month.04}]]*/ "April",
                    /*[[#{month.05}]]*/ "May",
                    /*[[#{month.06}]]*/ "June",
                    /*[[#{month.07}]]*/ "July",
                    /*[[#{month.08}]]*/ "August",
                    /*[[#{month.09}]]*/ "September",
                    /*[[#{month.10}]]*/ "October",
                    /*[[#{month.11}]]*/ "November",
                    /*[[#{month.12}]]*/ "December"
                ],
                "firstDay": 1
            }
        });

        $("#report_calls_meets_end_date").daterangepicker({
            "singleDatePicker": true,
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " - ",
                "applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
                "cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel":  /*[[#{datapicker.week}]]*/ "W",
                "daysOfWeek": [
                    /*[[#{weekdays.07_short}]]*/ "Su",
                    /*[[#{weekdays.01_short}]]*/ "Mo",
                    /*[[#{weekdays.02_short}]]*/ "Tu",
                    /*[[#{weekdays.03_short}]]*/ "We",
                    /*[[#{weekdays.04_short}]]*/ "Th",
                    /*[[#{weekdays.05_short}]]*/ "Fr",
                    /*[[#{weekdays.06_short}]]*/ "Sa"
                ],
                "monthNames": [
                    /*[[#{month.01}]]*/ "January",
                    /*[[#{month.02}]]*/ "February",
                    /*[[#{month.03}]]*/ "March",
                    /*[[#{month.04}]]*/ "April",
                    /*[[#{month.05}]]*/ "May",
                    /*[[#{month.06}]]*/ "June",
                    /*[[#{month.07}]]*/ "July",
                    /*[[#{month.08}]]*/ "August",
                    /*[[#{month.09}]]*/ "September",
                    /*[[#{month.10}]]*/ "October",
                    /*[[#{month.11}]]*/ "November",
                    /*[[#{month.12}]]*/ "December"
                ],
                "firstDay": 1
            }
        });

		if (window.screen.width < 1024 && window.screen.height < 768) {
			$("#report_calls_meets_start_date").attr('readonly',true);
			$("#report_calls_meets_end_date").attr('readonly',true);
		}

		$(".select2").each(function() {
			$(this)
					.wrap("<div class=\"position-relative\"></div>")
					.select2({
						placeholder: "Select value"
					});
		})

        $('#main_li').removeClass('active');

        $('#reports_li').addClass('active').removeClass('collapsed');
        $('#reports_a').attr('aria-expanded',true);
        $('#reports').addClass('show');

        $('#report_calls_meets_a').addClass('text-primary');

		$('#report_calls_meets_show').on('click', function () {
			$('#report_calls_meets_detail_card').removeAttr('hidden');

			vReportCallsMeetsDetailValue.rowdata.start_date = $("#report_calls_meets_start_date").val();
			vReportCallsMeetsDetailValue.rowdata.end_date = $("#report_calls_meets_end_date").val();
			vReportCallsMeetsDetailValue.rowdata.req_user_id = $("#report_calls_meets_employee_list").val();
			$(vReportCallsMeetsDetailValue.table).DataTable().ajax.reload();
			$('#report_calls_meets_header_div').removeClass('show').collapse('hide');
		});

		$('#report_calls_meets_show_sx').on('click', function () {
			$('#report_calls_meets_detail_card').removeAttr('hidden');

			vReportCallsMeetsDetailValue.rowdata.start_date = $("#report_calls_meets_start_date").val();
			vReportCallsMeetsDetailValue.rowdata.end_date = $("#report_calls_meets_end_date").val();
			vReportCallsMeetsDetailValue.rowdata.req_user_id = $("#report_calls_meets_employee_list").val();
			$(vReportCallsMeetsDetailValue.table).DataTable().ajax.reload();
			$('#report_calls_meets_header_div').removeClass('show').collapse('hide');
		})
    });
</script>

</body>
</html>