<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="report_phonebook_detail_body" th:remove="tag">
    <div id="table-report-phonebook-detail-buttons" hidden>
              <div id="report-phonebook-detail-btn-large" class="d-none d-sm-block mb-1">
                 <button type="submit" id="report-phonebook-detail-xlsbtn" form="report-phonebook-detail-xls-form" class="btn btn-sm btn-outline-primary mr-1" th:text="#{general.reportxls}">Xls</button>
                 <button type="submit" id="report-phonebook-detail-pdfbtn" form="report-phonebook-detail-pdf-form" class="btn btn-sm btn-outline-primary" th:text="#{general.reportpdf}">Pdf</button>
              </div>
              <div id="report-phonebook-detail-btn-small" class="d-block d-sm-none mb-1">
                 <button type="submit" id="report-phonebook-detail-xlsbtn-sx" form="report-phonebook-detail-xls-form" class="btn btn-sm btn-outline-primary mr-1"><i class="far fa-file-excel"></i></button>
                 <button type="submit" id="report-phonebook-detail-pdfbtn-sx" form="report-phonebook-detail-pdf-form" class="btn btn-sm btn-outline-primary"><i class="far fa-file-pdf"></i></button>
              </div>
    </div>
            <form id="report-phonebook-detail-pdf-form" th:action="@{/report_phonebook/pdf_detail}" method="get">
                <input name="req_cnt_id" hidden>
            </form>

            <form id="report-phonebook-detail-xls-form" th:action="@{/report_phonebook/xls_detail}" method="get">
                <input name="req_cnt_id" hidden>
            </form>

       <div><table id="table-report-phonebook-detail" class="table table-striped table-sm table-bordered" cellspacing="0" style="width:100%;"></table></div>
</span>

<script th:fragment="cardscript" th:inline="javascript">
    var rn_width, cnt_id_width, cnt_name_width, cnt_identifycode_width, user_id_width, user_name_width, cnt_source_id_width, cnt_source_sname_width, cc_person_width, cc_position_width,
        cc_main_phone_width, cc_second_phone_width, cc_main_office_phone_width, cc_second_office_phone_width, cc_email_width, cc_skype_width;

    var rn_class, cnt_id_class, cnt_name_class, cnt_identifycode_class, user_id_class, user_name_class, cnt_source_id_class, cnt_source_sname_class, cc_person_class, cc_position_class,
        cc_main_phone_class, cc_second_phone_class, cc_main_office_phone_class, cc_second_office_phone_class, cc_email_class, cc_skype_class;

    if(mobileScreenSize){
        vDomParam = "Blfrtip";
        rn_width = "";
        rn_class = "none";
        cnt_id_width = "";
        cnt_id_class = "none";
        cnt_name_width = "24%";
        cnt_name_class = "extra_small_size extra_small_head_size extra_small_footer_size";
        cnt_identifycode_width = "";
        cnt_identifycode_class = "none";
        user_id_width = "";
        user_id_class = "none";
        user_name_width = "7%";
        user_name_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
        cnt_source_id_width = "";
        cnt_source_id_class = "none";
        cnt_source_sname_width = "";
        cnt_source_sname_class = "none";
        cc_person_width = "18%";
        cc_person_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center";
        cc_position_width = "7%";
        cc_position_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
        cc_main_phone_width = "6%";
        cc_main_phone_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center";
        cc_second_phone_width = "6%";
        cc_second_phone_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
        cc_main_office_phone_width = "6%";
        cc_main_office_phone_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center";
        cc_second_office_phone_width = "6%";
        cc_second_office_phone_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
        cc_email_width = "10%";
        cc_email_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center";
        cc_skype_width = "10%";
        cc_skype_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
    }
    else if(smallScreenSize){
        vDomParam = "Blfrtip";
        rn_width = "";
        rn_class = "none";
        cnt_id_width = "";
        cnt_id_class = "none";
        cnt_name_width = "24%";
        cnt_name_class = "extra_small_size extra_small_head_size extra_small_footer_size";
        cnt_identifycode_width = "";
        cnt_identifycode_class = "none";
        user_id_width = "";
        user_id_class = "none";
        user_name_width = "7%";
        user_name_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
        cnt_source_id_width = "";
        cnt_source_id_class = "none";
        cnt_source_sname_width = "";
        cnt_source_sname_class = "none";
        cc_person_width = "18%";
        cc_person_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center";
        cc_position_width = "7%";
        cc_position_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
        cc_main_phone_width = "6%";
        cc_main_phone_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center";
        cc_second_phone_width = "6%";
        cc_second_phone_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
        cc_main_office_phone_width = "6%";
        cc_main_office_phone_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center";
        cc_second_office_phone_width = "6%";
        cc_second_office_phone_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
        cc_email_width = "10%";
        cc_email_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center";
        cc_skype_width = "10%";
        cc_skype_class = "extra_small_size extra_small_head_size extra_small_footer_size text-center cell-light-grey head-light-grey";
    }
    else{
        vDomParam = "Blfrtip";
        rn_width = "";
        rn_class = "none";
        cnt_id_width = "";
        cnt_id_class = "none";
        cnt_name_width = "24%";
        cnt_name_class = "";
        cnt_identifycode_width = "";
        cnt_identifycode_class = "none";
        user_id_width = "";
        user_id_class = "none";
        user_name_width = "7%";
        user_name_class = "text-center cell-light-grey head-light-grey";
        cnt_source_id_width = "";
        cnt_source_id_class = "none";
        cnt_source_sname_width = "";
        cnt_source_sname_class = "none";
        cc_person_width = "18%";
        cc_person_class = "text-center";
        cc_position_width = "7%";
        cc_position_class = "text-center cell-light-grey head-light-grey";
        cc_main_phone_width = "6%";
        cc_main_phone_class = "text-center";
        cc_second_phone_width = "6%";
        cc_second_phone_class = "text-center cell-light-grey head-light-grey";
        cc_main_office_phone_width = "6%";
        cc_main_office_phone_class = "text-center";
        cc_second_office_phone_width = "6%";
        cc_second_office_phone_class = "text-center cell-light-grey head-light-grey";
        cc_email_width = "10%";
        cc_email_class = "text-center";
        cc_skype_width = "10%";
        cc_skype_class = "text-center cell-light-grey head-light-grey";
    }

    var vReportPhoneBookDetailValue;
    vReportPhoneBookDetailValue = {
        table : '#table-report-phonebook-detail',
        button_form: '#table-report-phonebook-detail-buttons',
        ajax : {
            "url": /*[[@{/report_phonebook/get_detail_table}]]*/ "report_phonebook/get_detail_table",
            "type": "post",
            "data": function ( d ) {
                d.req_cnt_id = vReportPhoneBookDetailValue.rowdata.req_cnt_id
            }
        },
        key : "cnt_id",
        switchControl : report_phonebook_detail_switchControl,
        rowdata:{
            cnt_id: null,
            req_cnt_id: null
        },
        ordering: true,
        order: [
            [1, "asc"]
        ],

        dom: vDomParam,
        columnDefs: [
        ],
        createdRow: function( row, data, dataIndex ) {
            $(row).css('background-color', '#ffffff');
        },
        columns : [
            /*0*/{"title": /*[[#{report_phonebook.detail.rn}]]*/ "rn", "data": "rn", "width": rn_width, "className": rn_class},
            /*1*/{"title": /*[[#{report_phonebook.detail.cnt_id}]]*/ "cnt_id", "data": "cnt_id", "width": cnt_id_width, "className": cnt_id_class},
            /*2*/{"title": /*[[#{report_phonebook.detail.cnt_name}]]*/ "cnt_name", "data": "cnt_name", "width": cnt_name_width, "className": cnt_name_class},
            /*3*/{"title": /*[[#{report_phonebook.detail.cnt_identifycode}]]*/ "cnt_identifycode", "data": "cnt_identifycode", "width": cnt_identifycode_width, "className": cnt_identifycode_class},
            /*4*/{"title": /*[[#{report_phonebook.detail.user_id}]]*/ "user_id", "data": "user_id", "width": user_id_width, "className": user_id_class},
            /*5*/{"title": /*[[#{report_phonebook.detail.user_name}]]*/ "user_name", "data": "user_name", "width": user_name_width, "className": user_name_class},
            /*6*/{"title": /*[[#{report_phonebook.detail.cnt_source_id}]]*/ "cnt_source_id", "data": "cnt_source_id", "width": cnt_source_id_width, "className": cnt_source_id_class},
            /*7*/{"title": /*[[#{report_phonebook.detail.cnt_source_sname}]]*/ "cnt_source_sname", "data": "cnt_source_sname", "width": cnt_source_sname_width, "className": cnt_source_sname_class},
            /*8*/{"title": /*[[#{report_phonebook.detail.cc_person}]]*/ "cc_person", "data": "cc_person", "width": cc_person_width, "className": cc_person_class},
            /*9*/{"title": /*[[#{report_phonebook.detail.cc_position}]]*/ "cc_position", "data": "cc_position", "width": cc_position_width, "className": cc_position_class},
            /*10*/{"title": /*[[#{report_phonebook.detail.cc_main_phone}]]*/ "cc_main_phone", "data": "cc_main_phone", "width": cc_main_phone_width, "className": cc_main_phone_class},
            /*11*/{"title": /*[[#{report_phonebook.detail.cc_second_phone}]]*/ "cc_second_phone", "data": "cc_second_phone", "width": cc_second_phone_width, "className": cc_second_phone_class},
            /*12*/{"title": /*[[#{report_phonebook.detail.cc_main_office_phone}]]*/ "cc_main_office_phone", "data": "cc_main_office_phone", "width": cc_main_office_phone_width, "className": cc_main_office_phone_class},
            /*13*/{"title": /*[[#{report_phonebook.detail.cc_second_office_phone}]]*/ "cc_second_office_phone", "data": "cc_second_office_phone", "width": cc_second_office_phone_width, "className": cc_second_office_phone_class},
            /*14*/{"title": /*[[#{report_phonebook.detail.cc_email}]]*/ "cc_email", "data": "cc_email", "width": cc_email_width, "className": cc_email_class},
            /*15*/{"title": /*[[#{report_phonebook.detail.cc_skype}]]*/ "cc_skype", "data": "cc_skype", "width": cc_skype_width, "className": cc_skype_class}
        ],
        pageLength: 25,
        copy_button: true,
        excel_button: true,
        pdf_button: true,
        print_button: true
    };

    function report_phonebook_detail_switchControl(){
        if(vReportPhoneBookDetailValue.rowdata.cnt_id != null){
        } else{
        }
    }

    $('.positions_btn_control').on('click', function (){
        $("#positions-detail input[name=mode]").val($(this).attr("mode"));
    });

    $('#report-phonebook-detail-xls-form').submit(function() {
        $("#report-phonebook-detail-xls-form input[name=req_cnt_id]").val($("#report_phonebook_client_list").val());
    });

    $('#report-phonebook-detail-pdf-form').submit(function() {
        $("#report-phonebook-detail-pdf-form input[name=req_cnt_id]").val($("#report_phonebook_client_list").val());
    });

    $(document).ready(function(){
        vReportPhoneBookDetailValue.rowdata.req_cnt_id = null;

        recreateDataTable(vReportPhoneBookDetailValue);
    });
</script>

</body>
</html>