<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="client_requests_filter_body" th:remove="tag">
   <div id="client_requests_filter_large_div">
       <form class="form-inline">
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" id="client_requests_filter_check" name="request_filters_check">
            <label class="custom-control-label" for="client_requests_filter_check"></label>
        </div>
        <div class="form-group form-group-sm mr-2">
            <label for="client_requests_filter_start_date" class="mr-2" th:text="#{requests.list.filter_start_date}">StartDate:</label>
            <input class="form-control" type="text" id="client_requests_filter_start_date" name="client_requests_filter_start_date" disabled/>
        </div>

        <div class="form-group form-group-sm mr-2">
            <label for="client_requests_filter_end_date" class="mr-2" th:text="#{requests.list.filter_end_date}">EndDate:</label>
            <input class="form-control" type="text" id="client_requests_filter_end_date" name="client_requests_filter_end_date" disabled/>
        </div>
        <button type="button" class="btn btn-dark align-middle" id="client_requests_filter_show" disabled><i data-feather="search"></i></button>
       </form>
   </div>
       <div id="client_requests_filter_small_div">
       </div>
</span>

<script th:fragment="cardscript" th:inline="javascript">

    $("#client_requests_filter_start_date").daterangepicker({
        "singleDatePicker": true,
        "locale": {
            "format": "DD.MM.YYYY",
            "separator": " - ",
            "applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
            "cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel":  /*[[#{datapicker.week}]]*/ "W",
            "daysOfWeek": [
                /*[[#{weekdays.07_short}]]*/ "Su",
                /*[[#{weekdays.01_short}]]*/ "Mo",
                /*[[#{weekdays.02_short}]]*/ "Tu",
                /*[[#{weekdays.03_short}]]*/ "We",
                /*[[#{weekdays.04_short}]]*/ "Th",
                /*[[#{weekdays.05_short}]]*/ "Fr",
                /*[[#{weekdays.06_short}]]*/ "Sa"
            ],
            "monthNames": [
                /*[[#{month.01}]]*/ "January",
                /*[[#{month.02}]]*/ "February",
                /*[[#{month.03}]]*/ "March",
                /*[[#{month.04}]]*/ "April",
                /*[[#{month.05}]]*/ "May",
                /*[[#{month.06}]]*/ "June",
                /*[[#{month.07}]]*/ "July",
                /*[[#{month.08}]]*/ "August",
                /*[[#{month.09}]]*/ "September",
                /*[[#{month.10}]]*/ "October",
                /*[[#{month.11}]]*/ "November",
                /*[[#{month.12}]]*/ "December"
            ],
            "firstDay": 1
        }
    });

    $("#client_requests_filter_end_date").daterangepicker({
        "singleDatePicker": true,
        "locale": {
            "format": "DD.MM.YYYY",
            "separator": " - ",
            "applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
            "cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel":  /*[[#{datapicker.week}]]*/ "W",
            "daysOfWeek": [
                /*[[#{weekdays.07_short}]]*/ "Su",
                /*[[#{weekdays.01_short}]]*/ "Mo",
                /*[[#{weekdays.02_short}]]*/ "Tu",
                /*[[#{weekdays.03_short}]]*/ "We",
                /*[[#{weekdays.04_short}]]*/ "Th",
                /*[[#{weekdays.05_short}]]*/ "Fr",
                /*[[#{weekdays.06_short}]]*/ "Sa"
            ],
            "monthNames": [
                /*[[#{month.01}]]*/ "January",
                /*[[#{month.02}]]*/ "February",
                /*[[#{month.03}]]*/ "March",
                /*[[#{month.04}]]*/ "April",
                /*[[#{month.05}]]*/ "May",
                /*[[#{month.06}]]*/ "June",
                /*[[#{month.07}]]*/ "July",
                /*[[#{month.08}]]*/ "August",
                /*[[#{month.09}]]*/ "September",
                /*[[#{month.10}]]*/ "October",
                /*[[#{month.11}]]*/ "November",
                /*[[#{month.12}]]*/ "December"
            ],
            "firstDay": 1
        }
    });

    $('#client_requests_filter_check').on('click', function(){
        if($(this).prop('checked')){
            $('#client_requests_filter_start_date').removeAttr('disabled');
            $('#client_requests_filter_end_date').removeAttr('disabled');
            $("#client_requests_filter_show").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
        }
        else{
            $('#client_requests_filter_start_date').attr('disabled',true);
            $('#client_requests_filter_end_date').attr('disabled',true);
            $("#client_requests_filter_show").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');

            if(vRequestListValue.rowdata.client_requests_filter_id === 1){
                vRequestListValue.rowdata.client_requests_filter_id = 0;
                $(vRequestListValue.table).DataTable().ajax.reload();
                $('#client_requests_filter_div').removeClass('show').collapse('hide');
            }
        }
    });

    $(document).ready(function() {
        if (mobileScreenSize) {
            $("#client_requests_filter_start_date").attr('readonly',true);
            $("#client_requests_filter_end_date").attr('readonly',true);

            $('#requests_files_div').removeClass('show').collapse('hide');
            $('#requests_answers_div').removeClass('show').collapse('hide');
            $('#requests_times_div').removeClass('show').collapse('hide');
            $('#requests_chat_div').removeClass('show').collapse('hide');

            $('#client_requests_filter_large_div').attr('hidden',true);
            $('#client_requests_filter_small_div').removeAttr('hidden');
        }
        else if(smallScreenSize){
            $('#client_requests_filter_large_div').removeAttr('hidden');
            $('#client_requests_filter_small_div').attr('hidden',true);
        }
        else{
            $('#client_requests_filter_large_div').removeAttr('hidden');
            $('#client_requests_filter_small_div').attr('hidden',true);
        }
    });
</script>

</body>
</html>