<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="wms_pairs_main_body" th:remove="tag">
    <form id="table-wms-pairs-main-buttons" hidden>
        <input name="mode" value="0" hidden>

        <button type="button" id="wms-pairs-main-addbtn" class="btn btn-lg btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" th:title="#{general.addbtn}"><i class="fa fa-plus"></i></button>

        <button type="button" id="wms-pairs-main-check" class="btn btn-lg btn-dark" data-toggle="tooltip" data-placement="bottom" th:title="#{general.checkbtn}" disabled><i class="fas fa-check"></i></button>
        <button type="button" id="wms-pairs-main-uncheck" class="btn btn-lg btn-dark mr-md-2" data-toggle="tooltip" data-placement="bottom" th:title="#{general.uncheckbtn}" disabled><i class="fas fa-times"></i></button>

        <button type="button" id="wms-pairs-main-reloadbtn" class="btn btn-lg btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" th:title="#{general.refreshbtn}"><i class="fa fa-sync"></i></button>
    </form>

    <div><table id="table-wms-pairs-main" class="table table-striped table-sm table-bordered" cellspacing="0" style="width:100%;"></table></div>
</span>

<script th:fragment="cardscript" th:inline="javascript">
    var pair_id_show, add_date_show, add_time_show, add_user_id_show, add_user_name_show, add_role_id_show, close_time_show,
        close_user_id_show, close_user_name_show, close_role_id_show, status_id_show, status_name_show, status_color_show, pair_auto_id_show;

    var pair_id_width, add_date_width, add_time_width, add_user_id_width, add_user_name_width, add_role_id_width, close_time_width,
        close_user_id_width, close_user_name_width, close_role_id_width, status_id_width, status_name_width, status_color_width, pair_auto_id_width;

    var pair_id_class, add_date_class, add_time_class, add_user_id_class, add_user_name_class, add_role_id_class, close_time_class,
        close_user_id_class, close_user_name_class, close_role_id_class, status_id_class, status_name_class, status_color_class, pair_auto_id_class;

    if(mobileScreenSize){
        vDomParam =
            "<'row'<'col-12'B>>"+
            "<'row'<'col-12 col-sm-3'l><'col-12 col-sm-9'f>>"+
            "<'row'<'col-12'tr>>" +
            "<'row'<'col-12'p>>";
        pair_id_show = true;
        pair_id_width = "15%";
        pair_id_class = "small_size small_head_size small_footer_size";
        add_date_show = true;
        add_date_width = "15%";
        add_date_class = "small_size small_head_size small_footer_size text-center";
        add_time_show = true;
        add_time_width = "15%";
        add_time_class = "small_size small_head_size small_footer_size text-center";
        add_user_id_show = false;
        add_user_id_width = "";
        add_user_id_class = "";
        add_user_name_show = true;
        add_user_name_width = "15%";
        add_user_name_class = "small_size small_head_size small_footer_size text-center";
        add_role_id_show = false;
        add_role_id_width = "";
        add_role_id_class = "";
        close_time_show = false;
        close_time_width = ""
        close_time_class = "";
        close_user_id_show = false;
        close_user_id_width = ""
        close_user_id_class = "";
        close_user_name_show = false;
        close_user_name_width = "";
        close_user_name_class = "";
        close_role_id_show = false;
        close_role_id_width = ""
        close_role_id_class = "";
        status_id_show = false;
        status_id_width = ""
        status_id_class = "";
        status_name_show = false;
        status_name_width = ""
        status_name_class = "";
        status_color_show = false;
        status_color_width = ""
        status_color_class = "";
        pair_auto_id_show = false;
        pair_auto_id_width = "";
        pair_auto_id_class = "";

        $('#table-wms-pairs-main-buttons').addClass('text-center').removeAttr('hidden');
    }
    else if(smallScreenSize){
        vDomParam = "Blfrtip";
        pair_id_show = true;
        pair_id_width = "7%";
        pair_id_class = "small_size small_head_size small_footer_size";
        add_date_show = true;
        add_date_width = "10%";
        add_date_class = "small_size small_head_size small_footer_size text-center";
        add_time_show = true;
        add_time_width = "5%";
        add_time_class = "small_size small_head_size small_footer_size text-center";
        add_user_id_show = false;
        add_user_id_width = "";
        add_user_id_class = "";
        add_user_name_show = true;
        add_user_name_width = "10%";
        add_user_name_class = "small_size small_head_size small_footer_size text-center";
        add_role_id_show = false;
        add_role_id_width = "";
        add_role_id_class = "";
        close_time_show = true;
        close_time_width = "5%"
        close_time_class = "small_size small_head_size small_footer_size text-center";
        close_user_id_show = false;
        close_user_id_width = ""
        close_user_id_class = "";
        close_user_name_show = true;
        close_user_name_width = "10%";
        close_user_name_class = "small_size small_head_size small_footer_size text-center";
        close_role_id_show = false;
        close_role_id_width = ""
        close_role_id_class = "";
        status_id_show = false;
        status_id_width = ""
        status_id_class = "";
        status_name_show = true;
        status_name_width = "10%"
        status_name_class = "small_size small_head_size small_footer_size text-center";
        status_color_show = false;
        status_color_width = ""
        status_color_class = "";
        pair_auto_id_show = true;
        pair_auto_id_width = "5%";
        pair_auto_id_class = "small_size small_head_size small_footer_size text-center";

        $('#table-wms-pairs-main-buttons').removeAttr('hidden');
    }
    else{
        vDomParam = "Blfrtip";
        pair_id_show = true;
        pair_id_width = "5%";
        pair_id_class = "small_size small_head_size small_footer_size";
        add_date_show = true;
        add_date_width = "10%";
        add_date_class = "small_size small_head_size small_footer_size text-center";
        add_time_show = true;
        add_time_width = "15%";
        add_time_class = "small_size small_head_size small_footer_size text-center";
        add_user_id_show = false;
        add_user_id_width = "";
        add_user_id_class = "";
        add_user_name_show = true;
        add_user_name_width = "20%";
        add_user_name_class = "small_size small_head_size small_footer_size text-center";
        add_role_id_show = false;
        add_role_id_width = "";
        add_role_id_class = "";
        close_time_show = true;
        close_time_width = "15%"
        close_time_class = "small_size small_head_size small_footer_size text-center";
        close_user_id_show = false;
        close_user_id_width = ""
        close_user_id_class = "";
        close_user_name_show = true;
        close_user_name_width = "20%";
        close_user_name_class = "small_size small_head_size small_footer_size text-center";
        close_role_id_show = false;
        close_role_id_width = ""
        close_role_id_class = "";
        status_id_show = false;
        status_id_width = ""
        status_id_class = "";
        status_name_show = true;
        status_name_width = "10%"
        status_name_class = "small_size small_head_size small_footer_size text-center";
        status_color_show = false;
        status_color_width = ""
        status_color_class = "";
        pair_auto_id_show = true;
        pair_auto_id_width = "5%";
        pair_auto_id_class = "small_size small_head_size small_footer_size text-center";
    }

    var vWMSPairMainValue;
    vWMSPairMainValue = {
        table : '#table-wms-pairs-main',
        button_form: (mobileScreenSize) ? null : "#table-wms-pairs-main-buttons",
        ajax : {
            "url": /*[[@{/wms_pairs/get_menu}]]*/ "wms_pairs/get_menu",
            "type": "post",
        },
        key : "pair_id",
        switchControl : wms_pairs_main_switchControl,
        rowdata:{
            pair_id: null,

            status_id: null
        },
        order: [
            [0, "desc"]
        ],
        dom: vDomParam,
        createdRow: function( row, data, dataIndex ) {
            $(row).css('background-color', data["status_color"]);
        },
        columnDefs:[
            {"targets": [0], "width": pair_id_width, "className": pair_id_class, "visible": pair_id_show},
            {"targets": [1], "width": add_date_width, "className": add_date_class, "visible": add_date_show},
            {"targets": [2], "width": add_time_width, "className": add_time_class, "visible": add_time_show},
            {"targets": [3], "width": add_user_id_width, "className": add_user_id_class, "visible": add_user_id_show},
            {"targets": [4], "width": add_user_name_width, "className": add_user_name_class, "visible": add_user_name_show},
            {"targets": [5], "width": add_role_id_width, "className": add_role_id_class, "visible": add_role_id_show},
            {"targets": [6], "width": close_time_width, "className": close_time_class, "visible": close_time_show},
            {"targets": [7], "width": close_user_id_width, "className": close_user_id_class, "visible": close_user_id_show},
            {"targets": [8], "width": close_user_name_width, "className": close_user_name_class, "visible": close_user_name_show},
            {"targets": [9], "width": close_role_id_width, "className": close_role_id_class, "visible": close_role_id_show},
            {"targets": [10], "width": status_id_width, "className": status_id_class, "visible": status_id_show},
            {"targets": [11], "width": status_name_width, "className": status_name_class, "visible": status_name_show},
            {"targets": [12], "width": status_color_width, "className": status_color_class, "visible": status_color_show},
            {"targets": [13], "width": pair_auto_id_width, "className": pair_auto_id_class, "visible": pair_auto_id_show,
                render: function ( data, type, row ) {
                    if ( type === 'display' ) {             //if column data is 1 then set attr to checked, use row id as input id (plus prefix)
                        return '<label class="custom-control custom-checkbox mb-0 mt-0 text-center"><input type="checkbox" ' + ((data == 1) ? 'checked' : '') + ' id="input' + row.id + '" class="custom-control-input" disabled><span class="custom-control-label"></span></label>'
                    }
                    return data;
                }
            }
            ],
        columns : [
            /*0*/{"title": /*[[#{wms_pairs.main.pair_id}]]*/ "pair_id", "data": "pair_id"},
            /*1*/{"title": /*[[#{wms_pairs.main.add_date}]]*/ "add_date", "data": "add_date"},
            /*2*/{"title": /*[[#{wms_pairs.main.add_time}]]*/ "add_time", "data": "add_time"},
            /*3*/{"title": /*[[#{wms_pairs.main.add_user_id}]]*/ "add_user_id", "data": "add_user_id"},
            /*4*/{"title": /*[[#{wms_pairs.main.add_user_name}]]*/ "add_user_name", "data": "add_user_name"},
            /*5*/{"title": /*[[#{wms_pairs.main.add_role_id}]]*/ "add_role_id", "data": "add_role_id"},
            /*6*/{"title": /*[[#{wms_pairs.main.close_date}]]*/ "close_time", "data": "close_time"},
            /*7*/{"title": /*[[#{wms_pairs.main.close_user_id}]]*/ "close_user_id", "data": "close_user_id"},
            /*8*/{"title": /*[[#{wms_pairs.main.close_user_name}]]*/ "close_user_name", "data": "close_user_name"},
            /*9*/{"title": /*[[#{wms_pairs.main.close_role_id}]]*/ "close_role_id", "data": "close_role_id"},
            /*10*/{"title": /*[[#{wms_pairs.main.status_id}]]*/ "status_id", "data": "status_id"},
            /*11*/{"title": /*[[#{wms_pairs.main.status_name}]]*/ "status_name", "data": "status_name"},
            /*12*/{"title": /*[[#{wms_pairs.main.status_color}]]*/ "status_color", "data": "status_color"},
            /*13*/{"title": /*[[#{wms_pairs.main.pair_auto_id}]]*/ "pair_auto_id", "data": "pair_auto_id"}
        ],
        pageLength: 10,
        copy_button: true,
        excel_button: true,
        pdf_button: true,
        print_button: true
    };

    function wms_pairs_main_switchControl(){
        if(vWMSPairMainValue.rowdata.pair_id != null) {
            if(vWMSPairMainValue.rowdata.status_id === 0){
                $('#wms-pairs-main-check').prop('disabled',false).removeClass('btn-dark').addClass('btn-success');
                $('#wms-pairs-main-uncheck').prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');

                $('#wms_pairs_new_user_id').prop('disabled',false).select();
                $('#wms_pairs_new_user_btn').prop('disabled',false).removeClass('btn-dark').addClass('btn-success');

                if(RoleAllAdmin || RoleWHOper) {
                    $('#wms-pairs-detail-addbtn').prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
                }
                else{
                    $('#wms-pairs-detail-addbtn').prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
                }
            }
            else if(vWMSPairMainValue.rowdata.status_id === 1){
                $('#wms-pairs-main-check').prop('disabled',true).addClass('btn-dark').removeClass('btn-success');
                $('#wms-pairs-main-uncheck').prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');

                $('#wms_pairs_new_user_id').prop('disabled',true);
                $('#wms_pairs_new_user_btn').prop('disabled',true).addClass('btn-dark').removeClass('btn-success');

                $('#wms-pairs-detail-addbtn').prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            }
            else{
                $('#wms-pairs-main-check').prop('disabled',true).addClass('btn-dark').removeClass('btn-success');
                $('#wms-pairs-main-uncheck').prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');

                $('#wms_pairs_new_user_id').prop('disabled',true);
                $('#wms_pairs_new_user_btn').prop('disabled',true).addClass('btn-dark').removeClass('btn-success');

                $('#wms-pairs-detail-addbtn').prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            }

            vWMSPairUsersValue.rowdata.pair_id = vWMSPairMainValue.rowdata.pair_id;
            vWMSPairUsersValue.rowdata.pair_user_link_id = null;
            $(vWMSPairUsersValue.table).DataTable().ajax.reload(null, false);
        }
        else{
            $('#wms-pairs-main-check').prop('disabled',true).addClass('btn-dark').removeClass('btn-success');
            $('#wms-pairs-main-uncheck').prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');

            $('#wms_pairs_new_user_id').prop('disabled',true);
            $('#wms_pairs_new_user_btn').prop('disabled',true).addClass('btn-dark').removeClass('btn-success');

            vWMSPairUsersValue.rowdata.pair_id = null;
            vWMSPairUsersValue.rowdata.pair_user_link_id = null;
            $(vWMSPairUsersValue.table).DataTable().clear().draw();

            $('#wms-pairs-detail-addbtn').prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
        }
    }

//Reload Function
    function reloadPairMain(){
        let RowID = vWMSPairMainValue.rowdata.pair_id;

        vWMSPairMainValue.rowdata.pair_id = RowID;
        $(vWMSPairMainValue.table).DataTable().ajax.reload(null, false);
    }

//Reload button
    $('#wms-pairs-main-reloadbtn').click(function() {
        reloadPairMain();
    });

//Add Function
    function addMainPair(){
        let RowID = vWMSPairMainValue.rowdata.pair_id;
        $.ajax({
            url: /*[[ @{/wms_pairs/add_main_pair} ]]*/ "/wms_pairs/add_main_pair",
            type: 'POST',
            success: function (result) {
                vWMSPairMainValue.rowdata.pair_id = RowID;
                $(vWMSPairMainValue.table).DataTable().ajax.reload(null, false);
            }
        });
    }

//Add button
    $('#wms-pairs-main-addbtn').click(function() {
        addMainPair();
    });

//Check Function
    function checkPairMain(){
        var RowID = vWMSPairMainValue.rowdata.pair_id;
        $.ajax({
            url: /*[[ @{/wms_pairs/check_main_pair} ]]*/ "/wms_pairs/check_main_pair",
            type: 'POST',
            data: {
                "pair_id": RowID
            },            
            success: function (result) {
                vWMSPairMainValue.rowdata.pair_id = RowID;
                $(vWMSPairMainValue.table).DataTable().ajax.reload(null, false);
            }
        });
    }
    //Add button
    $('#wms-pairs-main-check').click(function() {
        checkPairMain();
    });

    //UnCheck Function
    function uncheckPairMain(){
        let RowID = vWMSPairMainValue.rowdata.pair_id;
        $.ajax({
            url: /*[[ @{/wms_pairs/uncheck_main_pair} ]]*/ "/wms_pairs/uncheck_main_pair",
            type: 'POST',
            data: {
                "pair_id": RowID,
            },
            success: function (result) {
                vWMSPairMainValue.rowdata.pair_id = RowID;
                $(vWMSPairMainValue.table).DataTable().ajax.reload(null, false);
            }
        });
    }
    //Add button
    $('#wms-pairs-main-uncheck').click(function() {
        uncheckPairMain();
    });

    $(document).ready(function(){
        vWMSPairMainValue.rowdata.pair_id = /*[[${pair_id}]]*/ null;

        recreateDataTable(vWMSPairMainValue);
<!-- Highlight menu -->
        $('#main_li').removeClass('active');

        $('#wms_li').addClass('active').removeClass('collapsed');
        $('#wms_a').attr('aria-expanded',true);
        $('#wms').addClass('show');

        $('#wms_pairs_a').addClass('text-primary');
    });
</script>

</body>
</html>