<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header :: header(title = #{tms_brockers.ways.header})"></head>

<body class="theme-blue"> <!-- right-to-left -->
<span th:replace="fragments/layout_v1.html :: top">top</span>

<div class="row">
    <div class="col-12">
        <div class="card" id="tms_brockers_ways_main_card">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#tms_brockers_ways_main_div" data-toggle="collapse"> <i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" th:text="#{tms_brockers.ways.caption}"></h5>
            </div>
            <div class="card-body py-3 collapse show" id="tms_brockers_ways_main_div">
                <div>
                    <form id="tms-brockers-ways-fill-form" data-toggle="validator" method="post" class="was-validated" th:action="@{/tms_brockers/fill_all_way}">
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" name="clm_id" th:value="${clm_id}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" name="tms_brockers_ways_table_order_column" th:value="${tms_brockers_ways_table_order_column}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" name="tms_brockers_ways_table_order_type" th:value="${tms_brockers_ways_table_order_type}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" name="tms_brockers_ways_table_search" th:value="${tms_brockers_ways_table_search}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" name="tms_brockers_ways_table_pagelen" th:value="${tms_brockers_ways_table_pagelen}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" name="tms_brockers_ways_table_page" th:value="${tms_brockers_ways_table_page}" >
                    </form>

                    <form id="tms-brockers-ways-updater-form" data-toggle="validator" method="post" class="was-validated" th:action="@{/tms_brockers/ways_model}">
                        <!--/*@thymesVar id="mode" type="java.lang.Long"*/-->
                        <input type="hidden" id="mode" name="mode" th:value="${mode}">
                        <div class="btn-group mb-2">
                            <button type="submit" class="btn btn-outline-dark mr-1" th:text="#{general.back}" form="tms-brockers-ways-indexfrm">Cancel</button>
                            <button type="submit" form="tms-brockers-ways-fill-form" id="tms-brockers-ways-editbtn" class="btn btn-outline-primary" th:text="#{general.editbtn}">Edit</button>
                        </div>
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" name="clm_id" th:value="${clm_id}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" id="clmwl_id" name="clmwl_id" th:value="${clmwl_id}" >

                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" id="tms_brockers_ways_table_order_column" name="tms_brockers_ways_table_order_column" th:value="${tms_brockers_ways_table_order_column}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" id="tms_brockers_ways_table_order_type" name="tms_brockers_ways_table_order_type" th:value="${tms_brockers_ways_table_order_type}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" id="tms_brockers_ways_table_search" name="tms_brockers_ways_table_search" th:value="${tms_brockers_ways_table_search}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" id="tms_brockers_ways_table_pagelen" name="tms_brockers_ways_table_pagelen" th:value="${tms_brockers_ways_table_pagelen}" >
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <input type="hidden" id="tms_brockers_ways_table_page" name="tms_brockers_ways_table_page" th:value="${tms_brockers_ways_table_page}" >

                        <div class="form-row">
                            <div class="col-md-1 mb-1" id="clm_id_row">
                                <label for="clm_id" class="form-label" th:text="'1. '+ #{tms_brockers.main.clm_id}"></label>
                                <!--suppress ThymeleafVariablesResolveInspection -->
                                <input type="number" class="form-control" id="clm_id" name="clm_id" th:value="${clm_id}">
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                            <div class="col-md-2 mb-1" id="clm_num_row">
                                <label for="clm_num" class="form-label" th:text="'2. '+ #{tms_brockers.main.clm_num}"></label>
                                <!--suppress ThymeleafVariablesResolveInspection -->
                                <input type="text" maxlength="16" class="form-control" id="clm_num" name="clm_num" th:value="${clm_num}">
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                            <div class="col-md-4 mb-1" id="cnt_name_row">
                                <label for="cnt_name" class="form-label" th:text="'3. '+ #{tms_brockers.main.cnt_name}"></label>
                                <!--suppress ThymeleafVariablesResolveInspection -->
                                <input type="text" class="form-control" id="cnt_name" name="cnt_name" th:value="${cnt_name}">
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                        </div> <!-- First Row -->
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Header -->

    <div class="col-12">
        <div class="card" id="tms_brockers_ways_download_card">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#tms_brockers_ways_download_div" data-toggle="collapse"> <i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" th:text="#{tms_brockers.ways.download.caption}"></h5>
            </div>
            <div class="card-body py-3 collapse show" id="tms_brockers_ways_download_div">
                <span th:replace="tms_brockers/download_card :: tms_brockers_download_body"></span>
            </div>
        </div>
    </div>
<!-- Download -->

    <div class="col-12">
        <div class="card" id="tms_brockers_ways_cust_forv_card">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#tms_brockers_ways_cust_forv_div" data-toggle="collapse"> <i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" th:text="#{tms_brockers.ways.cust_forv.caption}"></h5>
            </div>
            <div class="card-body py-3 collapse show" id="tms_brockers_ways_cust_forv_div">
                <span th:replace="tms_brockers/cust_forv_card :: tms_brockers_cust_forv_body"></span>
            </div>
        </div>
    </div>
<!-- Custom House Forvard -->

    <div class="col-12">
        <div class="card" id="tms_brockers_ways_move_forv_card">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#tms_brockers_ways_move_forv_div" data-toggle="collapse"> <i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" th:text="#{tms_brockers.ways.move_forv.caption}"></h5>
            </div>
            <div class="card-body py-3 collapse show" id="tms_brockers_ways_move_forv_div">
                <span th:replace="tms_brockers/move_forv_card :: tms_brockers_move_forv_body"></span>
            </div>
        </div>
    </div>
<!-- Move Forvard -->

    <div class="col-12">
        <div class="card" id="tms_brockers_ways_move_after_card" hidden>
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#tms_brockers_ways_move_after_div" data-toggle="collapse"> <i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" th:text="#{tms_brockers.ways.move_after.caption}"></h5>
            </div>
            <div class="card-body py-3 collapse show" id="tms_brockers_ways_move_after_div">
                <span th:replace="tms_brockers/move_after_card :: tms_brockers_move_after_body"></span>
            </div>
        </div>
    </div>
<!-- Move After -->

    <div class="col-12">
        <div class="card" id="tms_brockers_ways_cust_after_card">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#tms_brockers_ways_cust_after_div" data-toggle="collapse"> <i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" th:text="#{tms_brockers.ways.cust_after.caption}"></h5>
            </div>
            <div class="card-body py-3 collapse show" id="tms_brockers_ways_cust_after_div">
                <span th:replace="tms_brockers/cust_after_card :: tms_brockers_cust_after_body"></span>
            </div>
        </div>
    </div>
<!-- Custom House Forvard -->

    <div class="col-12">
        <div class="card" id="tms_brockers_ways_upload_card">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#tms_brockers_ways_upload_div" data-toggle="collapse"> <i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" th:text="#{tms_brockers.ways.upload.caption}"></h5>
            </div>
            <div class="card-body py-3 collapse show" id="tms_brockers_ways_upload_div">
                <span th:replace="tms_brockers/upload_card :: tms_brockers_upload_body"></span>
            </div>
        </div>
    </div>
<!-- Upload -->
</div>

    <!--/*@thymesVar id="tms_brockers_ways_detail" type="java.util.List"*/-->
    <form id="tms-brockers-ways-indexfrm" method="post" th:action="@{/tms_brockers}" hidden>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input name="clmwl_id" th:value="${clmwl_id}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input name="clm_id" th:value="${clm_id}">

        <!--suppress ThymeleafVariablesResolveInspection -->
        <input name="table_order_column" th:value="${tms_brockers_ways_table_order_column}" >
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input name="table_order_type" th:value="${tms_brockers_ways_table_order_type}" >
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input name="table_search" th:value="${tms_brockers_ways_table_search}" >
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input name="table_pagelen" th:value="${tms_brockers_ways_table_pagelen}" >
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input name="table_page" th:value="${tms_brockers_ways_table_page}" >

        <!--suppress ThymeleafVariablesResolveInspection -->
        <input name="tms_brockers_tab_name" value="tab-3">
    </form>

<span th:replace="fragments/layout_v1.html :: bottom">bottom</span>

<script th:replace="tms_brockers/download_card :: cardscript"></script>
<script th:replace="tms_brockers/cust_forv_card :: cardscript"></script>
<script th:replace="tms_brockers/move_forv_card :: cardscript"></script>
<script th:replace="tms_brockers/move_after_card :: cardscript"></script>
<script th:replace="tms_brockers/cust_after_card :: cardscript"></script>
<script th:replace="tms_brockers/upload_card :: cardscript"></script>

<script>
    $(document).ready(function(){
<!-- Highlight menu -->
        $('#main_li').removeClass('active');

        $('#tms_li').addClass('active').removeClass('collapsed');
        $('#tms_a').attr('aria-expanded',true);
        $('#tms').addClass('show');

        $('#brockers_a').addClass('text-primary');
<!-- Start Objects -->
   <!-- Form Start -->
        $('#clm_id').prop('readOnly',true);
        $('#clm_num').prop('readOnly',true);
        $('#cnt_name').prop('readOnly',true);

        vClaimWayDownloadValue.rowdata.clm_id = $('#clm_id').val();
        vClaimWayDownloadValue.rowdata.rn = null;
        $(vClaimWayDownloadValue.table).DataTable().ajax.reload();
<!-- Download -->
        vClaimWayCustForvValue.rowdata.clm_id = $('#clm_id').val();
        vClaimWayCustForvValue.rowdata.rn = null;
        $(vClaimWayCustForvValue.table).DataTable().ajax.reload();
<!-- Custom House Forward -->
        vClaimWayMoveForvValue.rowdata.clm_id = $('#clm_id').val();
        vClaimWayMoveForvValue.rowdata.rn = null;
        $(vClaimWayMoveForvValue.table).DataTable().ajax.reload();
<!-- Custom Move Forward -->
        vClaimWayCustAfterValue.rowdata.clm_id = $('#clm_id').val();
        vClaimWayCustAfterValue.rowdata.rn = null;
        $(vClaimWayCustAfterValue.table).DataTable().ajax.reload();
<!-- Custom House After -->
        vClaimWayUploadValue.rowdata.clm_id = $('#clm_id').val();
        vClaimWayUploadValue.rowdata.rn = null;
        $(vClaimWayUploadValue.table).DataTable().ajax.reload();
<!-- Upload -->

        $('#tms_brockers_ways_move_forv_div').removeClass('show');
        $('#tms_brockers_ways_move_after_div').removeClass('show');

        if($('#mode').val() === '0'){
            $('#clmwl_id_row').prop('hidden',true);
            $('#tms-brockers-ways-editbtn').prop('hidden',true);
        }
        else if($('#mode').val() === '1'){
            $('#clmwl_id').prop('readOnly',true);
        }
        else{
            $('#clmwl_id').prop('readOnly',true);
            $('#clm_way_id').attr('readOnly',true);
            $('#country_id').attr('readOnly',true);

            $('#clm_way_city').prop('readOnly',true);

            $('#clm_way_street').prop('readOnly',true);

            $('#clm_way_home').prop('readOnly',true);

            $('#clm_way_date').prop('readOnly',true);
        }
    });
</script>
</body>
</html>