<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="requests_list_body" th:remove="tag">
    <form id="table-requests-list-buttons" class="mb-2" hidden>
        <input name="mode" value="0" hidden>
        <button type="button" id="requests-list-detailbtn" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" th:title="#{general.detailbtn}" disabled><i class="fa fa-list"></i></button>
        <button type="button" id="requests-list-addbtn" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" th:title="#{general.addbtn}"><i class="fa fa-plus"></i></button>
        <button type="button" id="requests-list-clonebtn" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" th:title="#{general.clonebtn}" disabled><i class="fa fa-copy"></i></button>
        <button type="button" id="requests-list-editbtn" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" th:title="#{general.editbtn}" disabled><i class="fa fa-pencil-alt"></i></button>
        <button type="button" id="requests-list-delbtn" class="btn btn-dark mr-2" data-toggle="tooltip" data-placement="bottom" th:title="#{general.delbtn}" disabled><i class="fa fa-trash-alt"></i></button>

        <button type="button" id="requests-list-reloadbtn" class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" th:title="#{general.refreshbtn}"><i class="fa fa-sync"></i></button>

        <button type="button" id="requests-list-linkbtn" class="btn btn-dark mr-2" data-toggle="tooltip" data-placement="bottom" th:title="#{general.linkbtn}" disabled><i class="fa fa-link"></i></button>

        <button type="button" id="requests-list-link-edit" class="btn btn-dark mr-2" disabled data-toggle="tooltip" data-placement="bottom" title="Sale All Edit"><i class="fas fa-user-friends"></i></button>
    </form>
        
        <div><table id="table-requests-list" class="table table-striped table-sm table-bordered" cellspacing="0" style="width:100%;"></table></div>
    
    <form id="requests-client-link-form" th:action="@{/clients}" method="post" target="_blank">
                <input name="cnt_id" hidden>
                <input name="clients_list_table_order_column" hidden>
                <input name="clients_list_table_order_type" hidden>
                <input name="clients_list_table_search" hidden>
                <input name="clients_list_table_pagelen" hidden>
                <input name="clients_list_table_page" hidden>
     </form>    
</span>

<script th:fragment="cardscript" th:inline="javascript">
    var req_id_show, req_name_show, req_user_id_show, req_user_name_show, req_date_show, req_ops_name_show, req_status_id_show, req_status_sname_show, req_status_colour_show,
        req_result_status_sname_show, req_sub_check_show, cnt_id_show, cnt_name_show;

    var req_id_width, req_name_width, req_user_id_width, req_user_name_width, req_date_width, req_ops_name_width, req_status_id_width, req_status_sname_width, req_status_colour_width,
        req_result_status_sname_width, req_sub_check_width, cnt_id_width, cnt_name_width;

    var req_id_class, req_name_class, req_user_id_class, req_user_name_class, req_date_class, req_ops_name_class, req_status_id_class, req_status_sname_class, req_status_colour_class,
        req_result_status_sname_class, req_sub_check_class, cnt_id_class, cnt_name_class;

    if(mobileScreenSize){
        vDomParam =
            "<'row'<'col-12'B>>"+
            "<'row'<'col-12 col-sm-3'l><'col-12 col-sm-9'f>>"+
            "<'row'<'col-12'tr>>" +
            "<'row'<'col-12'p>>";

        req_id_show = false;
        req_id_width = "";
        req_id_class = "";
        req_name_show = true;
        req_name_width = "54%";
        req_name_class = "small_size small_head_size small_footer_size";
        req_user_id_show = true;
        req_user_id_width  = "";
        req_user_id_class  = "none";
        req_user_name_show = true;
        req_user_name_width  = "10%";
        req_user_name_class  = "small_size small_head_size small_footer_size text-center cs_user_edit";
        req_date_show = false;
        req_date_width  = "";
        req_date_class  = "";
        req_ops_name_show = true;
        req_ops_name_width  = "12%";
        req_ops_name_class  = "min-tablet-p small_size small_head_size small_footer_size text-center";
        req_status_id_show = false;
        req_status_id_width  = "";
        req_status_id_class  = "";
        req_status_sname_show = true;
        req_status_sname_width  = "12%";
        req_status_sname_class  = "small_size small_head_size small_footer_size text-center";
        req_status_colour_show = false;
        req_status_colour_width  = "";
        req_status_colour_class  = "";
        req_result_status_sname_show = true;
        req_result_status_sname_width  = "12%";
        req_result_status_sname_class  = "min-tablet-p small_size small_head_size small_footer_size text-center";
        req_sub_check_show = false;
        req_sub_check_width = "";
        req_sub_check_class = "";
        cnt_id_show = false;
        cnt_id_width = "";
        cnt_id_class = "";
        cnt_name_show = false;
        cnt_name_width = "";
        cnt_name_class = "";

        $('#sale_first_name_group').addClass('input-group-sm');
        $('#req_plan_sum_group').addClass('input-group-sm');
        $('#sale_first_note').addClass('text_small_size');

        $('#ops_name_group').addClass('input-group-sm');
        $('#req_ops_price_group').addClass('input-group-sm');
        $('#req_ops_note').addClass('text_small_size');

        $('#req_result_name_group').addClass('input-group-sm');
        $('#req_result_sum_group').addClass('input-group-sm');
        $('#req_result_note').addClass('text_small_size');

        $('#table-requests-list-buttons').addClass('text-center').removeAttr('hidden');
    }
    else if(smallScreenSize){
        vDomParam = "Blfrtip";
        req_id_show = false;
        req_id_width = "";
        req_id_class = "";
        req_name_show = true;
        req_name_width = "46%";
        req_name_class = "small_size small_head_size small_footer_size request_list_edit";
        req_user_id_show = false;
        req_user_id_width  = "";
        req_user_id_class  = "none";
        req_user_name_show = true;
        req_user_name_width  = "10%";
        req_user_name_class  = "small_size small_head_size small_footer_size text-center cs_user_edit";
        req_date_show = true;
        req_date_width  = "15%";
        req_date_class  = "small_size small_head_size small_footer_size text-center request_list_edit";
        req_ops_name_show = true;
        req_ops_name_width  = "10%";
        req_ops_name_class  = "small_size small_head_size small_footer_size text-center request_list_edit";
        req_status_id_show = false;
        req_status_id_width  = "";
        req_status_id_class  = "";
        req_status_sname_show = true;
        req_status_sname_width  = "12%";
        req_status_sname_class  = "small_size small_head_size small_footer_size text-center request_list_edit";
        req_status_colour_show = false;
        req_status_colour_width  = "";
        req_status_colour_class  = "";
        req_result_status_sname_show = true;
        req_result_status_sname_width  = "7%";
        req_result_status_sname_class  = "small_size small_head_size small_footer_size text-center request_list_edit";
        req_sub_check_show = false;
        req_sub_check_width = "";
        req_sub_check_class = "";
        cnt_id_show = false;
        cnt_id_width = "";
        cnt_id_class = "";
        cnt_name_show = false;
        cnt_name_width = "";
        cnt_name_class = "";

        /*Детализация запросов*/
        $('#req_date_group').addClass('input-group-sm');
        $('#sale_date_group').addClass('input-group-sm');
        $('#ops_date_group').addClass('input-group-sm');
        $('#send_date_group').addClass('input-group-sm');
        $('#end_date_group').addClass('input-group-sm');
        $('#contract_date_group').addClass('input-group-sm');
        $('#start_date_group').addClass('input-group-sm');
        $('#all_date_group').addClass('input-group-sm');

        $('#sale_first_name_group').addClass('input-group-sm');
        $('#req_plan_sum_group').addClass('input-group-sm');
        $('#sale_first_note').addClass('text_small_size');

        $('#ops_name_group').addClass('input-group-sm');
        $('#req_ops_price_group').addClass('input-group-sm');
        $('#req_ops_note').addClass('text_small_size');

        $('#req_result_name_group').addClass('input-group-sm');
        $('#req_result_sum_group').addClass('input-group-sm');
        $('#req_result_note').addClass('text_small_size');

        $('#table-requests-list-buttons').removeAttr('hidden');
    }
    else{
        vDomParam = "Blfrtip";
        req_id_show = false;
        req_id_width = "";
        req_id_class = "";
        req_name_show = true;
        req_name_width = "46%";
        req_name_class = "small_size small_head_size small_footer_size request_list_edit";
        req_user_id_show = false;
        req_user_id_width  = "";
        req_user_id_class  = "none";
        req_user_name_show = true;
        req_user_name_width  = "10%";
        req_user_name_class  = "small_size small_head_size small_footer_size text-center cs_user_edit";
        req_date_show = true;
        req_date_width  = "15%";
        req_date_class  = "small_size small_head_size small_footer_size text-center request_list_edit";
        req_ops_name_show = true;
        req_ops_name_width  = "10%";
        req_ops_name_class  = "small_size small_head_size small_footer_size text-center request_list_edit";
        req_status_id_show = false;
        req_status_id_width  = "";
        req_status_id_class  = "";
        req_status_sname_show = true;
        req_status_sname_width  = "12%";
        req_status_sname_class  = "small_size small_head_size small_footer_size text-center request_list_edit";
        req_status_colour_show = false;
        req_status_colour_width  = "";
        req_status_colour_class  = "";
        req_result_status_sname_show = true;
        req_result_status_sname_width  = "7%";
        req_result_status_sname_class  = "small_size small_head_size small_footer_size text-center request_list_edit";
        req_sub_check_show = false;
        req_sub_check_width = "";
        req_sub_check_class = "";
        cnt_id_show = false;
        cnt_id_width = "";
        cnt_id_class = "";
        cnt_name_show = false;
        cnt_name_width = "";
        cnt_name_class = "";
    }

    var vRequestListValue;
    vRequestListValue = {
        table : '#table-requests-list',
        button_form: (smallScreenSize || mobileScreenSize) ? null : "#table-requests-list-buttons",
        ajax : {
            "url": /*[[@{/requests/get_list_table}]]*/ "requests/get_list_table",
            "type": "post",
            "data": function ( d ) {
                d.requests_filter_id = vRequestListValue.rowdata.requests_filter_id;
                d.requests_filter_start_date = vRequestListValue.rowdata.requests_filter_start_date;
                d.requests_filter_end_date = vRequestListValue.rowdata.requests_filter_end_date;
            }
        },
        key : "req_id",
        switchControl : requests_list_switchControl,
        rowdata:{
            req_id: null,
            req_name: null,
            req_user_id: null,
            req_user_name: null,
            req_status_id: null,
            req_ops_name: null,
            req_sub_check: null,
            cnt_id: null,
            cnt_name: null
        },
        ordering: true,
        order: [
            [0, "desc"]
        ],
        dom: vDomParam,
        createdRow: function( row, data, dataIndex ) {
            /*$(row).find('td:eq(4)').css('background-color', data["user_status_colour"]);*/
            $(row).css('background-color', data["req_status_colour"]);
        },
        columnDefs:[
            {"targets": [0], "width": req_id_width, "className": req_id_class, "visible": req_id_show},
            {"targets": [1], "width": req_name_width, "className": req_name_class, "visible": req_name_show},
            {"targets": [2], "width": req_user_id_width, "className": req_user_id_class, "visible": req_user_id_show},
            {"targets": [3], "width": req_user_name_width, "className": req_user_name_class, "visible": req_user_name_show},
            {"targets": [4], "width": req_date_width, "className": req_date_class, "visible": req_date_show,
                type: 'de_datetime'
            },
            {"targets": [5], "width": req_ops_name_width, "className": req_ops_name_class, "visible": req_ops_name_show},
            {"targets": [6], "width": req_status_id_width, "className": req_status_id_class, "visible": req_status_id_show},
            {"targets": [7], "width": req_status_sname_width, "className": req_status_sname_class, "visible": req_status_sname_show},
            {"targets": [8], "width": req_status_colour_width, "className": req_status_colour_class, "visible": req_status_colour_show},
            {"targets": [9], "width": req_result_status_sname_width, "className": req_result_status_sname_class, "visible": req_result_status_sname_show},
            {"targets": [10], "width": req_sub_check_width, "className": req_sub_check_class, "visible": req_sub_check_show}
        ],
        columns : [
                /*0*/{"title": /*[[#{requests.list.req_id}]]*/ "req_id", "data": "req_id"},
                /*1*/{"title": /*[[#{requests.list.req_name}]]*/ "req_name", "data": "req_name"},
                /*2*/{"title": /*[[#{requests.list.req_user_id}]]*/ "req_user_id", "data": "req_user_id"},
                /*3*/{"title": /*[[#{requests.list.req_user_name}]]*/ "req_user_name", "data": "req_user_name"},
                /*4*/{"title": /*[[#{requests.list.req_date}]]*/ "req_date", "data": "req_date"},
                /*5*/{"title": /*[[#{requests.list.req_ops_name}]]*/ "req_ops_name", "data": "req_ops_name"},
                /*6*/{"title": /*[[#{requests.list.req_status_id}]]*/ "req_status_id", "data": "req_status_id"},
                /*7*/{"title": /*[[#{requests.list.req_status_sname}]]*/ "req_status_sname", "data": "req_status_sname"},
                /*8*/{"title": /*[[#{requests.list.req_status_colour}]]*/ "req_status_colour", "data": "req_status_colour"},
                /*9*/{"title": /*[[#{requests.list.req_result_status_sname}]]*/ "req_result_status_sname", "data": "req_result_status_sname"},
                /*10*/{"title": /*[[#{requests.list.req_sub_check}]]*/ "req_sub_check", "data": "req_sub_check"}
                ],
        pageLength: 25,
        copy_button: true,
        excel_button: true,
        pdf_button: true,
        print_button: true
    };

    function getChatMeassages(){
        var currentUser =  /*[[${#authentication.name}]]*/ '';
        $('#requests_chat_container').empty();
        return Promise.resolve($.ajax({
            url:/*[[@{'/requests/get_chat_box'}]]*/ "/requests/get_chat_box",
            type: "get",
            data: {
                "req_id" : vRequestListValue.rowdata.req_id
            },
            success: function (chat_list_result) {
                for (let i = 0; i < chat_list_result.data.length; i++) {
                    let div_container = "requests_chat_" + chat_list_result.data[i].req_chat_id + "_container";
                    let div_header = "requests_chat_" + chat_list_result.data[i].req_chat_id + "_header";
                    let div_message = "requests_chat_" + chat_list_result.data[i].req_chat_id + "_message";

                    if ($('#' + div_container).length) {
                    }
                    else {
                        if (chat_list_result.data[i].user_name === currentUser) {
                            $('#requests_chat_container').append("<div id='" + div_container + "' class='chat-message-right pb-2'></div>");
                        } else {
                            $('#requests_chat_container').append("<div id='" + div_container + "' class='chat-message-left pb-2'></div>");
                        }

                        $('#' + div_container).append("<div id='" + div_message + "' class='flex-shrink-1 bg-light rounded py-2 px-3 mr-3'></div>");
                        $('#' + div_message).append('<div class="font-weight-bold text-info">' + chat_list_result.data[i].user_name + '</div>');
                        $('#' + div_message).append('<a>' + chat_list_result.data[i].req_chat_text + '</a>');
                        $('#' + div_message).append('<p class="text-right text-sm">' + chat_list_result.data[i].req_chat_date + '</p>');
                    }
                }
            }
        }));
    }

    $('#requests_chat_new_button').on('click', function () {
        if(vRequestListValue.rowdata.req_id !== null){
            $.ajax({
                url: /*[[ @{/requests/chat_add} ]]*/ "/requests/chat_add",
                type: 'POST',
                data: {
                    "req_id" : vRequestListValue.rowdata.req_id,
                    "req_chat_text": $('#requests_chat_new_text').val()
                },
                success: function (chat_list_result) {
                    $('#requests_chat_new_text').val('');
                    getChatMeassages();
                }
            });
        }
    });    
    
    function requests_list_switchControl(){
        if(vRequestListValue.rowdata.req_id != null) {
                var RoleString = /*[[ ${#authorization.expression('!hasRole("ROLE_SALEOPS")')} ]]*/ null;
            if(
                currentUser === vRequestListValue.rowdata.req_user_name
                && [1,2,4,5,6].indexOf(vRequestListValue.rowdata.req_status_id) >= 0) {
                $("#requests-list-editbtn").prop('disabled',false).removeClass('btn-dark').addClass('btn-primary');
            }
            else if(RoleAllAdmin === true){
                $("#requests-list-editbtn").prop('disabled',false).removeClass('btn-dark').addClass('btn-primary');
            }
            else if((currentUser === vRequestListValue.rowdata.req_ops_name || vRequestListValue.rowdata.req_ops_name == null)
                && currentUser !== vRequestListValue.rowdata.req_user_name
                && (RoleString === false || RoleChiefOPS === false|| RoleSuperOPS === false)
                && [2,3,4].indexOf(vRequestListValue.rowdata.req_status_id) >= 0)
            {
                $("#requests-list-editbtn").prop('disabled',false).removeClass('btn-dark').addClass('btn-primary');
            }
            else if((currentUser !== vRequestListValue.rowdata.req_ops_name || vRequestListValue.rowdata.req_ops_name !== null)
                && currentUser !== vRequestListValue.rowdata.req_user_name
                && vRequestListValue.rowdata.req_sub_check === "1"
                && [2,3,4].indexOf(vRequestListValue.rowdata.req_status_id) >= 0)
            {
                $("#requests-list-editbtn").prop('disabled',false).removeClass('btn-dark').addClass('btn-primary');
            }
            else{
                $("#requests-list-editbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            }
<!-- Request Buttons -->
            if(currentUser === vRequestListValue.rowdata.req_user_name){
                $("#requests-list-clonebtn").prop('disabled',false).removeClass('btn-dark').addClass('btn-primary');
            }else{
                $("#requests-list-clonebtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            }

            if(RoleAllAdmin){
                $('#requests-list-link-edit').prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
            }
            else{
                $('#requests-list-link-edit').prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
            }

            if(RoleAllAdmin){
                $('#requests-list-link-edit').prop('disabled',false).removeClass('btn-dark').addClass('btn-danger');
            }
            else{
                $('#requests-list-link-edit').prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
            }
<!-- Request Clone Buttons -->
            $("#requests-list-detailbtn").prop('disabled',false).removeClass('btn-dark').addClass('btn-primary');
            $("#requests-list-linkbtn").prop('disabled',false).removeClass('btn-dark').addClass('btn-info');
/*Детализация запросов*/
            $.ajax({
                url:/*[[@{'/requests/get_times_detail'}]]*/ "/requests/get_times_detail",
                type: "get",
                data: {"req_id": vRequestListValue.rowdata.req_id},
                success: function (reqdetail) {
                    $('#req_date').val('').val(reqdetail.data[0].req_date);

                    $('#req_fill_value').val('').val(reqdetail.data[0].req_fill_value);
                    $('#req_fill_date').val('').val(reqdetail.data[0].req_fill_date);

                    $('#req_ops_value').val('').val(reqdetail.data[0].req_ops_value);
                    $('#req_ops_date').val('').val(reqdetail.data[0].req_ops_date);

                    $('#req_sale_value').val('').val(reqdetail.data[0].req_sale_value);
                    $('#req_sale_date').val('').val(reqdetail.data[0].req_sale_date);

                    $('#req_end_value').val('').val(reqdetail.data[0].req_end_value);
                    $('#req_end_date').val('').val(reqdetail.data[0].req_end_date);

                    $('#req_contract_value').val('').val(reqdetail.data[0].req_contract_value);
                    $('#req_contract_date').val('').val(reqdetail.data[0].req_contract_date);

                    $('#req_start_value').val('').val(reqdetail.data[0].req_start_value);
                    $('#req_start_date').val('').val(reqdetail.data[0].req_start_date);

                    $('#req_all_value').val('').val(reqdetail.data[0].req_all_value);

                    $('#sale_first_name').val('').val(reqdetail.data[0].first_user_surname);
                    $('#sale_first_plan_price').val('').val(reqdetail.data[0].first_plan_price);
                    $('#sale_first_plan_currency_name').val('').val(reqdetail.data[0].first_plan_currency_name);
                    $('#sale_first_note').val('').val(reqdetail.data[0].first_note);

                    $('#ops_second_name').val('').val(reqdetail.data[0].ops_user_surname);
                    $('#ops_second_price').val('').val(reqdetail.data[0].ops_price);
                    $('#ops_second_currency_name').val('').val(reqdetail.data[0].ops_currency_name);
                    $('#ops_second_note').val('').val(reqdetail.data[0].ops_note);

                    $('#user_result_name').val('').val(reqdetail.data[0].result_user_surname);
                    $('#user_result_price').val('').val(reqdetail.data[0].result_price);
                    $('#user_result_currency_name').val('').val(reqdetail.data[0].result_currency_name);
                    $('#user_result_note').val('').val(reqdetail.data[0].result_text);
                }
            });
/*Файлы запросов*/
            vRequestFilesListValue.rowdata.req_id = vRequestListValue.rowdata.req_id;
            vRequestFilesListValue.rowdata.req_name = vRequestListValue.rowdata.req_name;
            vRequestFilesListValue.rowdata.req_store_id = null;
            $(vRequestFilesListValue.table).DataTable().ajax.reload();

            if([-4,-3,-2,-1].indexOf(vRequestListValue.rowdata.req_status_id) >= 0) {
                $("#requests-files-addbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            }else{
                $('#requests-files-addbtn').prop('disabled',false).removeClass('btn-dark').addClass('btn-primary');
            }
//Chat
            getChatMeassages();
        } else{
            $("#requests-list-detailbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            $("#requests-list-clonebtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            $("#requests-list-editbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
            $("#requests-list-delbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');

            $('#requests-list-link-edit').prop('disabled',true).addClass('btn-dark').removeClass('btn-danger');
            $("#requests-list-linkbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-info');
/*Детализация запросов*/
            $('#req_date').val('');

            $('#req_fill_value').val('');
            $('#req_fill_date').val('');

            $('#req_ops_value').val('');
            $('#req_ops_date').val('');

            $('#req_sale_value').val('');
            $('#req_sale_date').val('');

            $('#req_end_value').val('');
            $('#req_end_date').val('');

            $('#req_contract_value').val('');
            $('#req_contract_date').val('');

            $('#req_start_value').val('');
            $('#req_start_date').val('');

            $('#req_all_value').val('');

            $('#sale_first_name').val('');
            $('#sale_first_plan_price').val('');
            $('#sale_first_plan_currency_name').val('');
            $('#sale_first_note').val('');

            $('#ops_second_name').val('');
            $('#ops_second_price').val('');
            $('#ops_second_currency_name').val('');
            $('#ops_second_note').val('');

            $('#user_result_name').val('');
            $('#user_result_price').val('');
            $('#user_result_currency_name').val('');
            $('#user_result_note').val('');
/*Файлы запросов*/
            vRequestFilesListValue.rowdata.req_id = null;
            vRequestFilesListValue.rowdata.req_name = null;
            vRequestFilesListValue.rowdata.req_store_id = null;
            $(vRequestFilesListValue.table).DataTable().clear().draw();
            $("#requests-files-addbtn").prop('disabled',true).addClass('btn-dark').removeClass('btn-primary');
//Chat
            $('#requests_chat_container').empty();
        }
    }

//Show Function
    function showRequest(){
        $('#requests_list_modal_addbtn').attr('hidden',true);
        $('#requests_list_modal_editbtn').attr('hidden',true);
        $('#requests_list_modal_delbtn').attr('hidden',true);
        fill_requests_list_modal_detail(4);
    }

//Show Button
    $('#requests-list-detailbtn').click(function() {
        showRequest();
    });

//Add Function
    function addRequest(){
        $('#requests_list_modal_addbtn').removeAttr('hidden');
        $('#requests_list_modal_editbtn').attr('hidden',true);
        $('#requests_list_modal_delbtn').attr('hidden',true);
        fill_requests_list_modal_detail(0);
    }

//Add Button
    $('#requests-list-addbtn').click(function() {
        addRequest();
    });

//Edit Function
    function editRequest(){
        $('#requests_list_modal_addbtn').attr('hidden',true);
        $('#requests_list_modal_editbtn').removeAttr('hidden');
        $('#requests_list_modal_delbtn').attr('hidden',true);
        fill_requests_list_modal_detail(1);
    }

//Edit Button
    $('#requests-list-editbtn').click(function() {
        editRequest();
    });

    function editRequestCsUser(){
        fill_requests_list_link_modal_detail(1);
    }

//Sale Link Edit Button
    $('#requests-list-link-edit').click(function(){
        editRequestCsUser();
    });

//Reload Function
    function reloadRequest(){
        $(vRequestListValue.table).DataTable().ajax.reload(null, false);
    }

//Reload Button
    $('#requests-list-reloadbtn').click(function() {
        reloadRequest();
    });

//Delete Function
    function delRequest(){
        $('#requests_list_modal_addbtn').attr('hidden',true);
        $('#requests_list_modal_editbtn').attr('hidden',true);
        $('#requests_list_modal_delbtn').removeAttr('hidden');
        fill_requests_list_modal_detail(2);
    }

//Delete Button
    $('#requests-list-delbtn').click(function() {
        delRequest();
    });

//Link Button
    $('#requests-list-linkbtn').click(function() {
        $("#requests-client-link-form input[name=cnt_id]").val(vRequestListValue.rowdata.cnt_id);

        $("#requests-client-link-form input[name=clients_list_table_order_column]").val(0);
        $("#requests-client-link-form input[name=clients_list_table_order_type]").val("desc");
        $("#requests-client-link-form input[name=clients_list_table_search]").val(vRequestListValue.rowdata.cnt_name);
        $("#requests-client-link-form input[name=clients_list_table_pagelen]").val(25);
        $("#requests-client-link-form input[name=clients_list_table_page]").val(0);
        $("#requests-client-link-form").submit();
    });    
    
    $('#requests_filter_show').on('click', function() {
        vRequestListValue.rowdata.requests_filter_id = 1;
        vRequestListValue.rowdata.requests_filter_start_date = $('#requests_filter_start_date').val();
        vRequestListValue.rowdata.requests_filter_end_date = $('#requests_filter_end_date').val();

        $(vRequestListValue.table).DataTable().ajax.reload();
        $('#requests_filter_div').removeClass('show').collapse('hide');
    });

    $('#requests-list-clonebtn').on('click', function( event ) {
        if (vRequestListValue.rowdata.req_id != null) {
            var RowID = vRequestListValue.rowdata.req_id;
            var requests_list_table_order_column = $(vRequestListValue.table).DataTable().order()[0][0];
            var requests_list_table_order_type = $(vRequestListValue.table).DataTable().order()[0][1];
            var requests_list_table_search = $(vRequestListValue.table).DataTable().search();
            var requests_list_table_pagelen = $(vRequestListValue.table).DataTable().page.len();
            var requests_list_table_page = $(vRequestListValue.table).DataTable().page.info().page;
            var requests_filter_id;

            if($('#requests_filter_check').prop('checked')){
                requests_filter_id = 1;
            }else{
                requests_filter_id = 0;
            }

            var requests_filter_start_date = $('#requests_filter_start_date').val();
            var requests_filter_end_date = $('#requests_filter_end_date').val();
            $.ajax({
                url: /*[[ @{/requests/requests_clone} ]]*/ "/requests/requests_clone",
                type: 'POST',
                data: {"req_id": vRequestListValue.rowdata.req_id},
                success: function (result) {
                    vRequestListValue.rowdata.req_id = RowID;
                    vRequestListValue.rowdata.requests_list_table_order_column = requests_list_table_order_column;
                    vRequestListValue.rowdata.requests_list_table_order_type = requests_list_table_order_type;
                    vRequestListValue.rowdata.requests_list_table_search = requests_list_table_search;
                    vRequestListValue.rowdata.requests_list_table_pagelen = requests_list_table_pagelen;
                    vRequestListValue.rowdata.requests_list_table_page = requests_list_table_page;

                    vRequestListValue.rowdata.requests_filter_id = requests_filter_id;
                    vRequestListValue.rowdata.requests_filter_start_date = requests_filter_start_date;
                    vRequestListValue.rowdata.requests_filter_end_date = requests_filter_end_date;

                    $(vRequestListValue.table).DataTable().ajax.reload();
                }
            });
        }
    });
    <!-- Clone Request Button -->

    $(document).ready(function(){
        vRequestListValue.rowdata.req_id = /*[[${req_id}]]*/ null;

        vRequestListValue.rowdata.table_order_column = /*[[${requests_list_table_order_column}]]*/ null;
        vRequestListValue.rowdata.table_order_type = /*[[${requests_list_table_order_type}]]*/ null;
        vRequestListValue.rowdata.table_search = /*[[${requests_list_table_search}]]*/ null;
        vRequestListValue.rowdata.table_pagelen = /*[[${requests_list_table_pagelen}]]*/ null;
        vRequestListValue.rowdata.table_page = /*[[${requests_list_table_page}]]*/ null;

        vRequestListValue.rowdata.requests_filter_id = /*[[${requests_filter_id}]]*/ null;
        vRequestListValue.rowdata.requests_filter_start_date = /*[[${requests_filter_start_date}]]*/ null;
        vRequestListValue.rowdata.requests_filter_end_date = /*[[${requests_filter_end_date}]]*/ null;

        if(vRequestListValue.rowdata.requests_filter_id === 1){
            $('#requests_filter_check').prop('checked', true);
            $("#requests_filter_start_date").removeAttr('disabled').val(vRequestListValue.rowdata.requests_filter_start_date);
            $("#requests_filter_end_date").removeAttr('disabled').val(vRequestListValue.rowdata.requests_filter_end_date);
            $("#requests_filter_show").prop('disabled', false).removeClass('btn-dark').addClass('btn-primary');
        }

        $(vRequestListValue.table).on('dblclick', '.cs_user_edit', function (e) {
            var selectedRow = this._DT_CellIndex.row;
            var currentTable = $(vRequestListValue.table).DataTable();
            vRequestListValue.rowdata.req_id = currentTable.row(selectedRow).data().req_id;
            vRequestListValue.rowdata.req_user_id = currentTable.row(selectedRow).data().req_user_id;
            if(vRequestListValue.rowdata.req_user_id !== ''){
                editRequestCsUser();
            }
        });
        
        recreateDataTable(vRequestListValue);

        $(vRequestListValue.table).on('dblclick', '.request_list_edit', function (e) {
            var selectedRequestRow = this._DT_CellIndex.row;
            var currentRequestTable = $(vRequestListValue.table).DataTable();
            var EditClassString = /*[[ ${#authorization.expression('!hasRole("ROLE_SALEOPS")')} ]]*/ null;
            vRequestListValue.rowdata.req_id = currentRequestTable.row(selectedRequestRow).data().req_id;
            vRequestListValue.rowdata.req_user_name = currentRequestTable.row(selectedRequestRow).data().req_user_name;
            vRequestListValue.rowdata.req_status_id = currentRequestTable.row(selectedRequestRow).data().req_status_id;

            if(
                currentUser === vRequestListValue.rowdata.req_user_name
                && [1,2,4,5,6].indexOf(vRequestListValue.rowdata.req_status_id) >= 0) {
                editRequest();
            }
            else if(RoleAllAdmin === true){
                editRequest();
            }
            else if((currentUser === vRequestListValue.rowdata.req_ops_name || vRequestListValue.rowdata.req_ops_name == null)
                && currentUser !== vRequestListValue.rowdata.req_user_name
                && (EditClassString === false || RoleChiefOPS === false|| RoleSuperOPS === false)
                && [2,3,4].indexOf(vRequestListValue.rowdata.req_status_id) >= 0)
            {
                editRequest();
            }
            else if((currentUser !== vRequestListValue.rowdata.req_ops_name || vRequestListValue.rowdata.req_ops_name !== null)
                && currentUser !== vRequestListValue.rowdata.req_user_name
                && vRequestListValue.rowdata.req_sub_check === "1"
                && [2,3,4].indexOf(vRequestListValue.rowdata.req_status_id) >= 0)
            {
                editRequest();
            }
            else{
                showRequest();
            }
        });

        <!-- Filter and Search -->
        if(mobileScreenSize) {
            $('#table-requests-list_length').addClass('float-none');
            $('#table-requests-list_filter').addClass('float-none');
        }
<!-- Highlight menu -->
        $('#main_li').removeClass('active');

        $('#crm_li').addClass('active').removeClass('collapsed');
        $('#crm_a').attr('aria-expanded',true);
        $('#crm').addClass('show');

        $('#requests_a').addClass('text-primary');
    });
</script>

</body>
</html>