<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="report_tms_check_filter_body" th:remove="tag">
		<form class="form-inline">
			<div class="form-group mb-2 mr-2">
				<label for="report_tms_check_start_date" class="mr-2" th:text="#{clients_classes.filter.start_date}">StartDate:</label>
				<input class="form-control" type="text" id="report_tms_check_start_date" name="report_tms_check_start_date" />
			</div>

			<div class="form-group mb-2 mr-2">
				<label for="report_tms_check_end_date" class="mr-2" th:text="#{clients_classes.filter.end_date}">EndDate:</label>
				<input class="form-control" type="text" id="report_tms_check_end_date" name="report_tms_check_end_date" />
			</div>

			<a class="btn btn-outline-primary mb-2" id="report_tms_check_show" th:text="#{general.showbth}" hidden>Show</a>
		</form>
</span>

<script th:fragment="cardscript" th:inline="javascript">
	$(document).ready(function(){
		<!-- Highlight menu -->
		$('#main_li').removeClass('active');

		$('#reports_tms_li').addClass('active').removeClass('collapsed');
		$('#reports_tms_a').attr('aria-expanded',true);
		$('#reports_tms').addClass('show');

		$('#report_tms_check_a').addClass('text-primary');
		$('#report_tms_check_show').removeAttr('hidden');
	});

	$("#report_tms_check_start_date").daterangepicker({
		"singleDatePicker": true,
		"disableTouchKeyboard": true,
		"locale": {
			"format": "DD.MM.YYYY",
			"separator": " - ",
			"applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
			"cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
			"fromLabel": "From",
			"toLabel": "To",
			"customRangeLabel": "Custom",
			"weekLabel":  /*[[#{datapicker.week}]]*/ "W",
			"daysOfWeek": [
				/*[[#{weekdays.07_short}]]*/ "Su",
				/*[[#{weekdays.01_short}]]*/ "Mo",
				/*[[#{weekdays.02_short}]]*/ "Tu",
				/*[[#{weekdays.03_short}]]*/ "We",
				/*[[#{weekdays.04_short}]]*/ "Th",
				/*[[#{weekdays.05_short}]]*/ "Fr",
				/*[[#{weekdays.06_short}]]*/ "Sa"
			],
			"monthNames": [
				/*[[#{month.01}]]*/ "January",
				/*[[#{month.02}]]*/ "February",
				/*[[#{month.03}]]*/ "March",
				/*[[#{month.04}]]*/ "April",
				/*[[#{month.05}]]*/ "May",
				/*[[#{month.06}]]*/ "June",
				/*[[#{month.07}]]*/ "July",
				/*[[#{month.08}]]*/ "August",
				/*[[#{month.09}]]*/ "September",
				/*[[#{month.10}]]*/ "October",
				/*[[#{month.11}]]*/ "November",
				/*[[#{month.12}]]*/ "December"
			],
			"firstDay": 1
		}
	});

	$("#report_tms_check_end_date").daterangepicker({
		"singleDatePicker": true,
		"locale": {
			"format": "DD.MM.YYYY",
			"separator": " - ",
			"applyLabel": /*[[#{datapicker.apply}]]*/ "Applay",
			"cancelLabel": /*[[#{datapicker.cancel}]]*/ "Cancel",
			"fromLabel": "From",
			"toLabel": "To",
			"customRangeLabel": "Custom",
			"weekLabel":  /*[[#{datapicker.week}]]*/ "W",
			"daysOfWeek": [
				/*[[#{weekdays.07_short}]]*/ "Su",
				/*[[#{weekdays.01_short}]]*/ "Mo",
				/*[[#{weekdays.02_short}]]*/ "Tu",
				/*[[#{weekdays.03_short}]]*/ "We",
				/*[[#{weekdays.04_short}]]*/ "Th",
				/*[[#{weekdays.05_short}]]*/ "Fr",
				/*[[#{weekdays.06_short}]]*/ "Sa"
			],
			"monthNames": [
				/*[[#{month.01}]]*/ "January",
				/*[[#{month.02}]]*/ "February",
				/*[[#{month.03}]]*/ "March",
				/*[[#{month.04}]]*/ "April",
				/*[[#{month.05}]]*/ "May",
				/*[[#{month.06}]]*/ "June",
				/*[[#{month.07}]]*/ "July",
				/*[[#{month.08}]]*/ "August",
				/*[[#{month.09}]]*/ "September",
				/*[[#{month.10}]]*/ "October",
				/*[[#{month.11}]]*/ "November",
				/*[[#{month.12}]]*/ "December"
			],
			"firstDay": 1
		}
	});

	$('#report_tms_check_show').click(function () {
		$('#report_tms_check_main_card').removeAttr('hidden');
		vReportTMSCheckMain.rowdata.report_tms_check_start_date = $("#report_tms_check_start_date").val();
		vReportTMSCheckMain.rowdata.report_tms_check_end_date = $("#report_tms_check_end_date").val();
		$(vReportTMSCheckMain.table).DataTable().ajax.reload();
		$('#report_tms_check_filter_div').removeClass('show').collapse('hide');
	});

	$('#report_tms_check_month_tabs_ul a').on('shown.bs.tab', function (e) {
		e.target; // newly activated tab
		e.relatedTarget; // previous active tab
		$('#report_tms_check_month').val($(this).attr("data-current-month"));
		report_tms_check_month_change();
	});
</script>

</body>
</html>